=begin
#Cloudsmith API (v1)

#The API to the Cloudsmith Service

OpenAPI spec version: v1
Contact: support@cloudsmith.io
Generated by: https://github.com/swagger-api/swagger-codegen.git
Swagger Codegen version: 2.4.50

=end

require 'uri'

module CloudsmithApi
  class BroadcastsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create a broadcast token.
    # Create a broadcast token.
    # @param org 
    # @param [Hash] opts the optional parameters
    # @option opts [BroadcastTokenInput] :data 
    # @return [BroadcastToken]
    def broadcasts_create_broadcast_token(org, opts = {})
      data, _status_code, _headers = broadcasts_create_broadcast_token_with_http_info(org, opts)
      data
    end

    # Create a broadcast token.
    # Create a broadcast token.
    # @param org 
    # @param [Hash] opts the optional parameters
    # @option opts [BroadcastTokenInput] :data 
    # @return [Array<(BroadcastToken, Fixnum, Hash)>] BroadcastToken data, response status code and response headers
    def broadcasts_create_broadcast_token_with_http_info(org, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BroadcastsApi.broadcasts_create_broadcast_token ...'
      end
      # verify the required parameter 'org' is set
      if @api_client.config.client_side_validation && org.nil?
        fail ArgumentError, "Missing the required parameter 'org' when calling BroadcastsApi.broadcasts_create_broadcast_token"
      end
      # resource path
      local_var_path = '/broadcasts/{org}/broadcast-token/'.sub('{' + 'org' + '}', org.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(opts[:'data'])
      auth_names = ['apikey', 'basic']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'BroadcastToken')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BroadcastsApi#broadcasts_create_broadcast_token\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
