=begin
#Cloudsmith API (v1)

#The API to the Cloudsmith Service

OpenAPI spec version: v1
Contact: support@cloudsmith.io
Generated by: https://github.com/swagger-api/swagger-codegen.git
Swagger Codegen version: 2.4.50

=end

require 'uri'

module CloudsmithApi
  class BulkActionApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Perform bulk operations on multiple packages within a repository or across all accessible repositories. If 'repository' is provided, actions are limited to that repository. If 'repository' is omitted, actions are performed across all repositories the user has access to within the workspace. Returns a list of successfully actioned packages and any packages that failed with error details. 
    # @param owner 
    # @param [Hash] opts the optional parameters
    # @option opts [PackageBulkAction] :data 
    # @return [PackageBulkActionResponse]
    def bulk_action(owner, opts = {})
      data, _status_code, _headers = bulk_action_with_http_info(owner, opts)
      data
    end

    # Perform bulk operations on multiple packages within a repository or across all accessible repositories. If &#39;repository&#39; is provided, actions are limited to that repository. If &#39;repository&#39; is omitted, actions are performed across all repositories the user has access to within the workspace. Returns a list of successfully actioned packages and any packages that failed with error details. 
    # @param owner 
    # @param [Hash] opts the optional parameters
    # @option opts [PackageBulkAction] :data 
    # @return [Array<(PackageBulkActionResponse, Fixnum, Hash)>] PackageBulkActionResponse data, response status code and response headers
    def bulk_action_with_http_info(owner, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BulkActionApi.bulk_action ...'
      end
      # verify the required parameter 'owner' is set
      if @api_client.config.client_side_validation && owner.nil?
        fail ArgumentError, "Missing the required parameter 'owner' when calling BulkActionApi.bulk_action"
      end
      # resource path
      local_var_path = '/bulk-action/{owner}/'.sub('{' + 'owner' + '}', owner.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(opts[:'data'])
      auth_names = ['apikey', 'basic']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'PackageBulkActionResponse')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BulkActionApi#bulk_action\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
