=begin
#Cloudsmith API

#The API to the Cloudsmith Service

OpenAPI spec version: v1
Contact: support@cloudsmith.io
Generated by: https://github.com/swagger-api/swagger-codegen.git
Swagger Codegen version: 2.2.3

=end

require "uri"

module CloudsmithApi
  class FormatsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end

    # Get a list of all supported package formats.
    # Get a list of all supported package formats.
    # @param [Hash] opts the optional parameters
    # @return [Array<Format>]
    def formats_list(opts = {})
      data, _status_code, _headers = formats_list_with_http_info(opts)
      return data
    end

    # Get a list of all supported package formats.
    # Get a list of all supported package formats.
    # @param [Hash] opts the optional parameters
    # @return [Array<(Array<Format>, Fixnum, Hash)>] Array<Format> data, response status code and response headers
    def formats_list_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: FormatsApi.formats_list ..."
      end
      # resource path
      local_var_path = "/formats/"

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['apikey']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'Array<Format>')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FormatsApi#formats_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get a specific supported package format.
    # Get a specific supported package format.
    # @param slug 
    # @param [Hash] opts the optional parameters
    # @return [Format]
    def formats_read(slug, opts = {})
      data, _status_code, _headers = formats_read_with_http_info(slug, opts)
      return data
    end

    # Get a specific supported package format.
    # Get a specific supported package format.
    # @param slug 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Format, Fixnum, Hash)>] Format data, response status code and response headers
    def formats_read_with_http_info(slug, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: FormatsApi.formats_read ..."
      end
      # verify the required parameter 'slug' is set
      if @api_client.config.client_side_validation && slug.nil?
        fail ArgumentError, "Missing the required parameter 'slug' when calling FormatsApi.formats_read"
      end
      # resource path
      local_var_path = "/formats/{slug}/".sub('{' + 'slug' + '}', slug.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['apikey']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'Format')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FormatsApi#formats_read\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
