=begin
#Cloudsmith API (v1)

#The API to the Cloudsmith Service

OpenAPI spec version: v1
Contact: support@cloudsmith.io
Generated by: https://github.com/swagger-api/swagger-codegen.git
Swagger Codegen version: 2.4.50

=end

require 'uri'

module CloudsmithApi
  class OpenidApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Get a JWT token for a configured service account belonging to the requesting org.
    # Get a JWT token for a configured service account belonging to the requesting org.
    # @param owner 
    # @param [Hash] opts the optional parameters
    # @option opts [OidcRequest] :data 
    # @return [Oidc1]
    def openid_create(owner, opts = {})
      data, _status_code, _headers = openid_create_with_http_info(owner, opts)
      data
    end

    # Get a JWT token for a configured service account belonging to the requesting org.
    # Get a JWT token for a configured service account belonging to the requesting org.
    # @param owner 
    # @param [Hash] opts the optional parameters
    # @option opts [OidcRequest] :data 
    # @return [Array<(Oidc1, Fixnum, Hash)>] Oidc1 data, response status code and response headers
    def openid_create_with_http_info(owner, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: OpenidApi.openid_create ...'
      end
      # verify the required parameter 'owner' is set
      if @api_client.config.client_side_validation && owner.nil?
        fail ArgumentError, "Missing the required parameter 'owner' when calling OpenidApi.openid_create"
      end
      # resource path
      local_var_path = '/openid/{owner}/'.sub('{' + 'owner' + '}', owner.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(opts[:'data'])
      auth_names = ['apikey', 'basic']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'Oidc1')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OpenidApi#openid_create\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
