=begin
#Cloudsmith API (v1)

#The API to the Cloudsmith Service

OpenAPI spec version: v1
Contact: support@cloudsmith.io
Generated by: https://github.com/swagger-api/swagger-codegen.git
Swagger Codegen version: 2.4.26

=end

require 'uri'

module CloudsmithApi
  class PackagesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Copy a package to another repository.
    # Copy a package to another repository.
    # @param owner 
    # @param repo 
    # @param identifier 
    # @param [Hash] opts the optional parameters
    # @option opts [PackageCopyRequest] :data 
    # @return [PackageCopyResponse]
    def packages_copy(owner, repo, identifier, opts = {})
      data, _status_code, _headers = packages_copy_with_http_info(owner, repo, identifier, opts)
      data
    end

    # Copy a package to another repository.
    # Copy a package to another repository.
    # @param owner 
    # @param repo 
    # @param identifier 
    # @param [Hash] opts the optional parameters
    # @option opts [PackageCopyRequest] :data 
    # @return [Array<(PackageCopyResponse, Fixnum, Hash)>] PackageCopyResponse data, response status code and response headers
    def packages_copy_with_http_info(owner, repo, identifier, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PackagesApi.packages_copy ...'
      end
      # verify the required parameter 'owner' is set
      if @api_client.config.client_side_validation && owner.nil?
        fail ArgumentError, "Missing the required parameter 'owner' when calling PackagesApi.packages_copy"
      end
      # verify the required parameter 'repo' is set
      if @api_client.config.client_side_validation && repo.nil?
        fail ArgumentError, "Missing the required parameter 'repo' when calling PackagesApi.packages_copy"
      end
      # verify the required parameter 'identifier' is set
      if @api_client.config.client_side_validation && identifier.nil?
        fail ArgumentError, "Missing the required parameter 'identifier' when calling PackagesApi.packages_copy"
      end
      # resource path
      local_var_path = '/packages/{owner}/{repo}/{identifier}/copy/'.sub('{' + 'owner' + '}', owner.to_s).sub('{' + 'repo' + '}', repo.to_s).sub('{' + 'identifier' + '}', identifier.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(opts[:'data'])
      auth_names = ['apikey']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'PackageCopyResponse')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PackagesApi#packages_copy\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Delete a specific package in a repository.
    # Delete a specific package in a repository.
    # @param owner 
    # @param repo 
    # @param identifier 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def packages_delete(owner, repo, identifier, opts = {})
      packages_delete_with_http_info(owner, repo, identifier, opts)
      nil
    end

    # Delete a specific package in a repository.
    # Delete a specific package in a repository.
    # @param owner 
    # @param repo 
    # @param identifier 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def packages_delete_with_http_info(owner, repo, identifier, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PackagesApi.packages_delete ...'
      end
      # verify the required parameter 'owner' is set
      if @api_client.config.client_side_validation && owner.nil?
        fail ArgumentError, "Missing the required parameter 'owner' when calling PackagesApi.packages_delete"
      end
      # verify the required parameter 'repo' is set
      if @api_client.config.client_side_validation && repo.nil?
        fail ArgumentError, "Missing the required parameter 'repo' when calling PackagesApi.packages_delete"
      end
      # verify the required parameter 'identifier' is set
      if @api_client.config.client_side_validation && identifier.nil?
        fail ArgumentError, "Missing the required parameter 'identifier' when calling PackagesApi.packages_delete"
      end
      # resource path
      local_var_path = '/packages/{owner}/{repo}/{identifier}/'.sub('{' + 'owner' + '}', owner.to_s).sub('{' + 'repo' + '}', repo.to_s).sub('{' + 'identifier' + '}', identifier.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['apikey']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PackagesApi#packages_delete\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Get the direct (non-transitive) dependencies list for a package.
    # Get the direct (non-transitive) dependencies list for a package.
    # @param owner 
    # @param repo 
    # @param identifier 
    # @param [Hash] opts the optional parameters
    # @return [PackageDependenciesResponse]
    def packages_dependencies(owner, repo, identifier, opts = {})
      data, _status_code, _headers = packages_dependencies_with_http_info(owner, repo, identifier, opts)
      data
    end

    # Get the direct (non-transitive) dependencies list for a package.
    # Get the direct (non-transitive) dependencies list for a package.
    # @param owner 
    # @param repo 
    # @param identifier 
    # @param [Hash] opts the optional parameters
    # @return [Array<(PackageDependenciesResponse, Fixnum, Hash)>] PackageDependenciesResponse data, response status code and response headers
    def packages_dependencies_with_http_info(owner, repo, identifier, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PackagesApi.packages_dependencies ...'
      end
      # verify the required parameter 'owner' is set
      if @api_client.config.client_side_validation && owner.nil?
        fail ArgumentError, "Missing the required parameter 'owner' when calling PackagesApi.packages_dependencies"
      end
      # verify the required parameter 'repo' is set
      if @api_client.config.client_side_validation && repo.nil?
        fail ArgumentError, "Missing the required parameter 'repo' when calling PackagesApi.packages_dependencies"
      end
      # verify the required parameter 'identifier' is set
      if @api_client.config.client_side_validation && identifier.nil?
        fail ArgumentError, "Missing the required parameter 'identifier' when calling PackagesApi.packages_dependencies"
      end
      # resource path
      local_var_path = '/packages/{owner}/{repo}/{identifier}/dependencies/'.sub('{' + 'owner' + '}', owner.to_s).sub('{' + 'repo' + '}', repo.to_s).sub('{' + 'identifier' + '}', identifier.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['apikey']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'PackageDependenciesResponse')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PackagesApi#packages_dependencies\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Get a list of all packages associated with repository.
    # Get a list of all packages associated with repository.
    # @param owner 
    # @param repo 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page A page number within the paginated result set.
    # @option opts [Integer] :page_size Number of results to return per page.
    # @option opts [String] :query A search term for querying names, filenames, versions, distributions, architectures, formats or statuses of packages. (default to )
    # @option opts [String] :sort A field for sorting objects in ascending or descending order. (default to -date)
    # @return [Array<PackageResponse>]
    def packages_list(owner, repo, opts = {})
      data, _status_code, _headers = packages_list_with_http_info(owner, repo, opts)
      data
    end

    # Get a list of all packages associated with repository.
    # Get a list of all packages associated with repository.
    # @param owner 
    # @param repo 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page A page number within the paginated result set.
    # @option opts [Integer] :page_size Number of results to return per page.
    # @option opts [String] :query A search term for querying names, filenames, versions, distributions, architectures, formats or statuses of packages.
    # @option opts [String] :sort A field for sorting objects in ascending or descending order.
    # @return [Array<(Array<PackageResponse>, Fixnum, Hash)>] Array<PackageResponse> data, response status code and response headers
    def packages_list_with_http_info(owner, repo, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PackagesApi.packages_list ...'
      end
      # verify the required parameter 'owner' is set
      if @api_client.config.client_side_validation && owner.nil?
        fail ArgumentError, "Missing the required parameter 'owner' when calling PackagesApi.packages_list"
      end
      # verify the required parameter 'repo' is set
      if @api_client.config.client_side_validation && repo.nil?
        fail ArgumentError, "Missing the required parameter 'repo' when calling PackagesApi.packages_list"
      end
      # resource path
      local_var_path = '/packages/{owner}/{repo}/'.sub('{' + 'owner' + '}', owner.to_s).sub('{' + 'repo' + '}', repo.to_s)

      # query parameters
      query_params = {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'page_size'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'query'] = opts[:'query'] if !opts[:'query'].nil?
      query_params[:'sort'] = opts[:'sort'] if !opts[:'sort'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['apikey']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'Array<PackageResponse>')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PackagesApi#packages_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Move a package to another repository.
    # Move a package to another repository.
    # @param owner 
    # @param repo 
    # @param identifier 
    # @param [Hash] opts the optional parameters
    # @option opts [PackageMoveRequest] :data 
    # @return [PackageMoveResponse]
    def packages_move(owner, repo, identifier, opts = {})
      data, _status_code, _headers = packages_move_with_http_info(owner, repo, identifier, opts)
      data
    end

    # Move a package to another repository.
    # Move a package to another repository.
    # @param owner 
    # @param repo 
    # @param identifier 
    # @param [Hash] opts the optional parameters
    # @option opts [PackageMoveRequest] :data 
    # @return [Array<(PackageMoveResponse, Fixnum, Hash)>] PackageMoveResponse data, response status code and response headers
    def packages_move_with_http_info(owner, repo, identifier, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PackagesApi.packages_move ...'
      end
      # verify the required parameter 'owner' is set
      if @api_client.config.client_side_validation && owner.nil?
        fail ArgumentError, "Missing the required parameter 'owner' when calling PackagesApi.packages_move"
      end
      # verify the required parameter 'repo' is set
      if @api_client.config.client_side_validation && repo.nil?
        fail ArgumentError, "Missing the required parameter 'repo' when calling PackagesApi.packages_move"
      end
      # verify the required parameter 'identifier' is set
      if @api_client.config.client_side_validation && identifier.nil?
        fail ArgumentError, "Missing the required parameter 'identifier' when calling PackagesApi.packages_move"
      end
      # resource path
      local_var_path = '/packages/{owner}/{repo}/{identifier}/move/'.sub('{' + 'owner' + '}', owner.to_s).sub('{' + 'repo' + '}', repo.to_s).sub('{' + 'identifier' + '}', identifier.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(opts[:'data'])
      auth_names = ['apikey']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'PackageMoveResponse')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PackagesApi#packages_move\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Quarantine or restore a package.
    # Quarantine or restore a package.
    # @param owner 
    # @param repo 
    # @param identifier 
    # @param [Hash] opts the optional parameters
    # @option opts [PackageQuarantineRequest] :data 
    # @return [PackageQuarantineResponse]
    def packages_quarantine(owner, repo, identifier, opts = {})
      data, _status_code, _headers = packages_quarantine_with_http_info(owner, repo, identifier, opts)
      data
    end

    # Quarantine or restore a package.
    # Quarantine or restore a package.
    # @param owner 
    # @param repo 
    # @param identifier 
    # @param [Hash] opts the optional parameters
    # @option opts [PackageQuarantineRequest] :data 
    # @return [Array<(PackageQuarantineResponse, Fixnum, Hash)>] PackageQuarantineResponse data, response status code and response headers
    def packages_quarantine_with_http_info(owner, repo, identifier, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PackagesApi.packages_quarantine ...'
      end
      # verify the required parameter 'owner' is set
      if @api_client.config.client_side_validation && owner.nil?
        fail ArgumentError, "Missing the required parameter 'owner' when calling PackagesApi.packages_quarantine"
      end
      # verify the required parameter 'repo' is set
      if @api_client.config.client_side_validation && repo.nil?
        fail ArgumentError, "Missing the required parameter 'repo' when calling PackagesApi.packages_quarantine"
      end
      # verify the required parameter 'identifier' is set
      if @api_client.config.client_side_validation && identifier.nil?
        fail ArgumentError, "Missing the required parameter 'identifier' when calling PackagesApi.packages_quarantine"
      end
      # resource path
      local_var_path = '/packages/{owner}/{repo}/{identifier}/quarantine/'.sub('{' + 'owner' + '}', owner.to_s).sub('{' + 'repo' + '}', repo.to_s).sub('{' + 'identifier' + '}', identifier.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(opts[:'data'])
      auth_names = ['apikey']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'PackageQuarantineResponse')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PackagesApi#packages_quarantine\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Get a specific package in a repository.
    # Get a specific package in a repository.
    # @param owner 
    # @param repo 
    # @param identifier 
    # @param [Hash] opts the optional parameters
    # @return [PackageResponse]
    def packages_read(owner, repo, identifier, opts = {})
      data, _status_code, _headers = packages_read_with_http_info(owner, repo, identifier, opts)
      data
    end

    # Get a specific package in a repository.
    # Get a specific package in a repository.
    # @param owner 
    # @param repo 
    # @param identifier 
    # @param [Hash] opts the optional parameters
    # @return [Array<(PackageResponse, Fixnum, Hash)>] PackageResponse data, response status code and response headers
    def packages_read_with_http_info(owner, repo, identifier, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PackagesApi.packages_read ...'
      end
      # verify the required parameter 'owner' is set
      if @api_client.config.client_side_validation && owner.nil?
        fail ArgumentError, "Missing the required parameter 'owner' when calling PackagesApi.packages_read"
      end
      # verify the required parameter 'repo' is set
      if @api_client.config.client_side_validation && repo.nil?
        fail ArgumentError, "Missing the required parameter 'repo' when calling PackagesApi.packages_read"
      end
      # verify the required parameter 'identifier' is set
      if @api_client.config.client_side_validation && identifier.nil?
        fail ArgumentError, "Missing the required parameter 'identifier' when calling PackagesApi.packages_read"
      end
      # resource path
      local_var_path = '/packages/{owner}/{repo}/{identifier}/'.sub('{' + 'owner' + '}', owner.to_s).sub('{' + 'repo' + '}', repo.to_s).sub('{' + 'identifier' + '}', identifier.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['apikey']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'PackageResponse')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PackagesApi#packages_read\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Schedule a package for resynchronisation.
    # Schedule a package for resynchronisation.
    # @param owner 
    # @param repo 
    # @param identifier 
    # @param [Hash] opts the optional parameters
    # @return [PackageResyncResponse]
    def packages_resync(owner, repo, identifier, opts = {})
      data, _status_code, _headers = packages_resync_with_http_info(owner, repo, identifier, opts)
      data
    end

    # Schedule a package for resynchronisation.
    # Schedule a package for resynchronisation.
    # @param owner 
    # @param repo 
    # @param identifier 
    # @param [Hash] opts the optional parameters
    # @return [Array<(PackageResyncResponse, Fixnum, Hash)>] PackageResyncResponse data, response status code and response headers
    def packages_resync_with_http_info(owner, repo, identifier, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PackagesApi.packages_resync ...'
      end
      # verify the required parameter 'owner' is set
      if @api_client.config.client_side_validation && owner.nil?
        fail ArgumentError, "Missing the required parameter 'owner' when calling PackagesApi.packages_resync"
      end
      # verify the required parameter 'repo' is set
      if @api_client.config.client_side_validation && repo.nil?
        fail ArgumentError, "Missing the required parameter 'repo' when calling PackagesApi.packages_resync"
      end
      # verify the required parameter 'identifier' is set
      if @api_client.config.client_side_validation && identifier.nil?
        fail ArgumentError, "Missing the required parameter 'identifier' when calling PackagesApi.packages_resync"
      end
      # resource path
      local_var_path = '/packages/{owner}/{repo}/{identifier}/resync/'.sub('{' + 'owner' + '}', owner.to_s).sub('{' + 'repo' + '}', repo.to_s).sub('{' + 'identifier' + '}', identifier.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['apikey']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'PackageResyncResponse')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PackagesApi#packages_resync\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Schedule a package for scanning.
    # Schedule a package for scanning.
    # @param owner 
    # @param repo 
    # @param identifier 
    # @param [Hash] opts the optional parameters
    # @return [PackageResponse]
    def packages_scan(owner, repo, identifier, opts = {})
      data, _status_code, _headers = packages_scan_with_http_info(owner, repo, identifier, opts)
      data
    end

    # Schedule a package for scanning.
    # Schedule a package for scanning.
    # @param owner 
    # @param repo 
    # @param identifier 
    # @param [Hash] opts the optional parameters
    # @return [Array<(PackageResponse, Fixnum, Hash)>] PackageResponse data, response status code and response headers
    def packages_scan_with_http_info(owner, repo, identifier, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PackagesApi.packages_scan ...'
      end
      # verify the required parameter 'owner' is set
      if @api_client.config.client_side_validation && owner.nil?
        fail ArgumentError, "Missing the required parameter 'owner' when calling PackagesApi.packages_scan"
      end
      # verify the required parameter 'repo' is set
      if @api_client.config.client_side_validation && repo.nil?
        fail ArgumentError, "Missing the required parameter 'repo' when calling PackagesApi.packages_scan"
      end
      # verify the required parameter 'identifier' is set
      if @api_client.config.client_side_validation && identifier.nil?
        fail ArgumentError, "Missing the required parameter 'identifier' when calling PackagesApi.packages_scan"
      end
      # resource path
      local_var_path = '/packages/{owner}/{repo}/{identifier}/scan/'.sub('{' + 'owner' + '}', owner.to_s).sub('{' + 'repo' + '}', repo.to_s).sub('{' + 'identifier' + '}', identifier.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['apikey']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'PackageResponse')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PackagesApi#packages_scan\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Get the synchronisation status for a package.
    # Get the synchronisation status for a package.
    # @param owner 
    # @param repo 
    # @param identifier 
    # @param [Hash] opts the optional parameters
    # @return [PackageStatusResponse]
    def packages_status(owner, repo, identifier, opts = {})
      data, _status_code, _headers = packages_status_with_http_info(owner, repo, identifier, opts)
      data
    end

    # Get the synchronisation status for a package.
    # Get the synchronisation status for a package.
    # @param owner 
    # @param repo 
    # @param identifier 
    # @param [Hash] opts the optional parameters
    # @return [Array<(PackageStatusResponse, Fixnum, Hash)>] PackageStatusResponse data, response status code and response headers
    def packages_status_with_http_info(owner, repo, identifier, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PackagesApi.packages_status ...'
      end
      # verify the required parameter 'owner' is set
      if @api_client.config.client_side_validation && owner.nil?
        fail ArgumentError, "Missing the required parameter 'owner' when calling PackagesApi.packages_status"
      end
      # verify the required parameter 'repo' is set
      if @api_client.config.client_side_validation && repo.nil?
        fail ArgumentError, "Missing the required parameter 'repo' when calling PackagesApi.packages_status"
      end
      # verify the required parameter 'identifier' is set
      if @api_client.config.client_side_validation && identifier.nil?
        fail ArgumentError, "Missing the required parameter 'identifier' when calling PackagesApi.packages_status"
      end
      # resource path
      local_var_path = '/packages/{owner}/{repo}/{identifier}/status/'.sub('{' + 'owner' + '}', owner.to_s).sub('{' + 'repo' + '}', repo.to_s).sub('{' + 'identifier' + '}', identifier.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['apikey']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'PackageStatusResponse')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PackagesApi#packages_status\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Add/Replace/Remove tags for a package.
    # Add/Replace/Remove tags for a package.
    # @param owner 
    # @param repo 
    # @param identifier 
    # @param [Hash] opts the optional parameters
    # @option opts [PackageTagRequest] :data 
    # @return [PackageResponse]
    def packages_tag(owner, repo, identifier, opts = {})
      data, _status_code, _headers = packages_tag_with_http_info(owner, repo, identifier, opts)
      data
    end

    # Add/Replace/Remove tags for a package.
    # Add/Replace/Remove tags for a package.
    # @param owner 
    # @param repo 
    # @param identifier 
    # @param [Hash] opts the optional parameters
    # @option opts [PackageTagRequest] :data 
    # @return [Array<(PackageResponse, Fixnum, Hash)>] PackageResponse data, response status code and response headers
    def packages_tag_with_http_info(owner, repo, identifier, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PackagesApi.packages_tag ...'
      end
      # verify the required parameter 'owner' is set
      if @api_client.config.client_side_validation && owner.nil?
        fail ArgumentError, "Missing the required parameter 'owner' when calling PackagesApi.packages_tag"
      end
      # verify the required parameter 'repo' is set
      if @api_client.config.client_side_validation && repo.nil?
        fail ArgumentError, "Missing the required parameter 'repo' when calling PackagesApi.packages_tag"
      end
      # verify the required parameter 'identifier' is set
      if @api_client.config.client_side_validation && identifier.nil?
        fail ArgumentError, "Missing the required parameter 'identifier' when calling PackagesApi.packages_tag"
      end
      # resource path
      local_var_path = '/packages/{owner}/{repo}/{identifier}/tag/'.sub('{' + 'owner' + '}', owner.to_s).sub('{' + 'repo' + '}', repo.to_s).sub('{' + 'identifier' + '}', identifier.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(opts[:'data'])
      auth_names = ['apikey']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'PackageResponse')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PackagesApi#packages_tag\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Create a new Alpine package
    # Create a new Alpine package
    # @param owner 
    # @param repo 
    # @param [Hash] opts the optional parameters
    # @option opts [AlpinePackageUploadRequest] :data 
    # @return [AlpinePackageUploadResponse]
    def packages_upload_alpine(owner, repo, opts = {})
      data, _status_code, _headers = packages_upload_alpine_with_http_info(owner, repo, opts)
      data
    end

    # Create a new Alpine package
    # Create a new Alpine package
    # @param owner 
    # @param repo 
    # @param [Hash] opts the optional parameters
    # @option opts [AlpinePackageUploadRequest] :data 
    # @return [Array<(AlpinePackageUploadResponse, Fixnum, Hash)>] AlpinePackageUploadResponse data, response status code and response headers
    def packages_upload_alpine_with_http_info(owner, repo, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PackagesApi.packages_upload_alpine ...'
      end
      # verify the required parameter 'owner' is set
      if @api_client.config.client_side_validation && owner.nil?
        fail ArgumentError, "Missing the required parameter 'owner' when calling PackagesApi.packages_upload_alpine"
      end
      # verify the required parameter 'repo' is set
      if @api_client.config.client_side_validation && repo.nil?
        fail ArgumentError, "Missing the required parameter 'repo' when calling PackagesApi.packages_upload_alpine"
      end
      # resource path
      local_var_path = '/packages/{owner}/{repo}/upload/alpine/'.sub('{' + 'owner' + '}', owner.to_s).sub('{' + 'repo' + '}', repo.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(opts[:'data'])
      auth_names = ['apikey']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'AlpinePackageUploadResponse')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PackagesApi#packages_upload_alpine\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Create a new Cargo package
    # Create a new Cargo package
    # @param owner 
    # @param repo 
    # @param [Hash] opts the optional parameters
    # @option opts [CargoPackageUploadRequest] :data 
    # @return [CargoPackageUploadResponse]
    def packages_upload_cargo(owner, repo, opts = {})
      data, _status_code, _headers = packages_upload_cargo_with_http_info(owner, repo, opts)
      data
    end

    # Create a new Cargo package
    # Create a new Cargo package
    # @param owner 
    # @param repo 
    # @param [Hash] opts the optional parameters
    # @option opts [CargoPackageUploadRequest] :data 
    # @return [Array<(CargoPackageUploadResponse, Fixnum, Hash)>] CargoPackageUploadResponse data, response status code and response headers
    def packages_upload_cargo_with_http_info(owner, repo, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PackagesApi.packages_upload_cargo ...'
      end
      # verify the required parameter 'owner' is set
      if @api_client.config.client_side_validation && owner.nil?
        fail ArgumentError, "Missing the required parameter 'owner' when calling PackagesApi.packages_upload_cargo"
      end
      # verify the required parameter 'repo' is set
      if @api_client.config.client_side_validation && repo.nil?
        fail ArgumentError, "Missing the required parameter 'repo' when calling PackagesApi.packages_upload_cargo"
      end
      # resource path
      local_var_path = '/packages/{owner}/{repo}/upload/cargo/'.sub('{' + 'owner' + '}', owner.to_s).sub('{' + 'repo' + '}', repo.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(opts[:'data'])
      auth_names = ['apikey']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'CargoPackageUploadResponse')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PackagesApi#packages_upload_cargo\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Create a new CocoaPods package
    # Create a new CocoaPods package
    # @param owner 
    # @param repo 
    # @param [Hash] opts the optional parameters
    # @option opts [CocoapodsPackageUploadRequest] :data 
    # @return [CocoapodsPackageUploadResponse]
    def packages_upload_cocoapods(owner, repo, opts = {})
      data, _status_code, _headers = packages_upload_cocoapods_with_http_info(owner, repo, opts)
      data
    end

    # Create a new CocoaPods package
    # Create a new CocoaPods package
    # @param owner 
    # @param repo 
    # @param [Hash] opts the optional parameters
    # @option opts [CocoapodsPackageUploadRequest] :data 
    # @return [Array<(CocoapodsPackageUploadResponse, Fixnum, Hash)>] CocoapodsPackageUploadResponse data, response status code and response headers
    def packages_upload_cocoapods_with_http_info(owner, repo, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PackagesApi.packages_upload_cocoapods ...'
      end
      # verify the required parameter 'owner' is set
      if @api_client.config.client_side_validation && owner.nil?
        fail ArgumentError, "Missing the required parameter 'owner' when calling PackagesApi.packages_upload_cocoapods"
      end
      # verify the required parameter 'repo' is set
      if @api_client.config.client_side_validation && repo.nil?
        fail ArgumentError, "Missing the required parameter 'repo' when calling PackagesApi.packages_upload_cocoapods"
      end
      # resource path
      local_var_path = '/packages/{owner}/{repo}/upload/cocoapods/'.sub('{' + 'owner' + '}', owner.to_s).sub('{' + 'repo' + '}', repo.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(opts[:'data'])
      auth_names = ['apikey']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'CocoapodsPackageUploadResponse')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PackagesApi#packages_upload_cocoapods\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Create a new Composer package
    # Create a new Composer package
    # @param owner 
    # @param repo 
    # @param [Hash] opts the optional parameters
    # @option opts [ComposerPackageUploadRequest] :data 
    # @return [ComposerPackageUploadResponse]
    def packages_upload_composer(owner, repo, opts = {})
      data, _status_code, _headers = packages_upload_composer_with_http_info(owner, repo, opts)
      data
    end

    # Create a new Composer package
    # Create a new Composer package
    # @param owner 
    # @param repo 
    # @param [Hash] opts the optional parameters
    # @option opts [ComposerPackageUploadRequest] :data 
    # @return [Array<(ComposerPackageUploadResponse, Fixnum, Hash)>] ComposerPackageUploadResponse data, response status code and response headers
    def packages_upload_composer_with_http_info(owner, repo, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PackagesApi.packages_upload_composer ...'
      end
      # verify the required parameter 'owner' is set
      if @api_client.config.client_side_validation && owner.nil?
        fail ArgumentError, "Missing the required parameter 'owner' when calling PackagesApi.packages_upload_composer"
      end
      # verify the required parameter 'repo' is set
      if @api_client.config.client_side_validation && repo.nil?
        fail ArgumentError, "Missing the required parameter 'repo' when calling PackagesApi.packages_upload_composer"
      end
      # resource path
      local_var_path = '/packages/{owner}/{repo}/upload/composer/'.sub('{' + 'owner' + '}', owner.to_s).sub('{' + 'repo' + '}', repo.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(opts[:'data'])
      auth_names = ['apikey']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'ComposerPackageUploadResponse')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PackagesApi#packages_upload_composer\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Create a new Conan package
    # Create a new Conan package
    # @param owner 
    # @param repo 
    # @param [Hash] opts the optional parameters
    # @option opts [ConanPackageUploadRequest] :data 
    # @return [ConanPackageUploadResponse]
    def packages_upload_conan(owner, repo, opts = {})
      data, _status_code, _headers = packages_upload_conan_with_http_info(owner, repo, opts)
      data
    end

    # Create a new Conan package
    # Create a new Conan package
    # @param owner 
    # @param repo 
    # @param [Hash] opts the optional parameters
    # @option opts [ConanPackageUploadRequest] :data 
    # @return [Array<(ConanPackageUploadResponse, Fixnum, Hash)>] ConanPackageUploadResponse data, response status code and response headers
    def packages_upload_conan_with_http_info(owner, repo, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PackagesApi.packages_upload_conan ...'
      end
      # verify the required parameter 'owner' is set
      if @api_client.config.client_side_validation && owner.nil?
        fail ArgumentError, "Missing the required parameter 'owner' when calling PackagesApi.packages_upload_conan"
      end
      # verify the required parameter 'repo' is set
      if @api_client.config.client_side_validation && repo.nil?
        fail ArgumentError, "Missing the required parameter 'repo' when calling PackagesApi.packages_upload_conan"
      end
      # resource path
      local_var_path = '/packages/{owner}/{repo}/upload/conan/'.sub('{' + 'owner' + '}', owner.to_s).sub('{' + 'repo' + '}', repo.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(opts[:'data'])
      auth_names = ['apikey']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'ConanPackageUploadResponse')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PackagesApi#packages_upload_conan\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Create a new Conda package
    # Create a new Conda package
    # @param owner 
    # @param repo 
    # @param [Hash] opts the optional parameters
    # @option opts [CondaPackageUploadRequest] :data 
    # @return [CondaPackageUploadResponse]
    def packages_upload_conda(owner, repo, opts = {})
      data, _status_code, _headers = packages_upload_conda_with_http_info(owner, repo, opts)
      data
    end

    # Create a new Conda package
    # Create a new Conda package
    # @param owner 
    # @param repo 
    # @param [Hash] opts the optional parameters
    # @option opts [CondaPackageUploadRequest] :data 
    # @return [Array<(CondaPackageUploadResponse, Fixnum, Hash)>] CondaPackageUploadResponse data, response status code and response headers
    def packages_upload_conda_with_http_info(owner, repo, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PackagesApi.packages_upload_conda ...'
      end
      # verify the required parameter 'owner' is set
      if @api_client.config.client_side_validation && owner.nil?
        fail ArgumentError, "Missing the required parameter 'owner' when calling PackagesApi.packages_upload_conda"
      end
      # verify the required parameter 'repo' is set
      if @api_client.config.client_side_validation && repo.nil?
        fail ArgumentError, "Missing the required parameter 'repo' when calling PackagesApi.packages_upload_conda"
      end
      # resource path
      local_var_path = '/packages/{owner}/{repo}/upload/conda/'.sub('{' + 'owner' + '}', owner.to_s).sub('{' + 'repo' + '}', repo.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(opts[:'data'])
      auth_names = ['apikey']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'CondaPackageUploadResponse')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PackagesApi#packages_upload_conda\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Create a new CRAN package
    # Create a new CRAN package
    # @param owner 
    # @param repo 
    # @param [Hash] opts the optional parameters
    # @option opts [CranPackageUploadRequest] :data 
    # @return [CranPackageUploadResponse]
    def packages_upload_cran(owner, repo, opts = {})
      data, _status_code, _headers = packages_upload_cran_with_http_info(owner, repo, opts)
      data
    end

    # Create a new CRAN package
    # Create a new CRAN package
    # @param owner 
    # @param repo 
    # @param [Hash] opts the optional parameters
    # @option opts [CranPackageUploadRequest] :data 
    # @return [Array<(CranPackageUploadResponse, Fixnum, Hash)>] CranPackageUploadResponse data, response status code and response headers
    def packages_upload_cran_with_http_info(owner, repo, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PackagesApi.packages_upload_cran ...'
      end
      # verify the required parameter 'owner' is set
      if @api_client.config.client_side_validation && owner.nil?
        fail ArgumentError, "Missing the required parameter 'owner' when calling PackagesApi.packages_upload_cran"
      end
      # verify the required parameter 'repo' is set
      if @api_client.config.client_side_validation && repo.nil?
        fail ArgumentError, "Missing the required parameter 'repo' when calling PackagesApi.packages_upload_cran"
      end
      # resource path
      local_var_path = '/packages/{owner}/{repo}/upload/cran/'.sub('{' + 'owner' + '}', owner.to_s).sub('{' + 'repo' + '}', repo.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(opts[:'data'])
      auth_names = ['apikey']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'CranPackageUploadResponse')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PackagesApi#packages_upload_cran\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Create a new Dart package
    # Create a new Dart package
    # @param owner 
    # @param repo 
    # @param [Hash] opts the optional parameters
    # @option opts [DartPackageUploadRequest] :data 
    # @return [DartPackageUploadResponse]
    def packages_upload_dart(owner, repo, opts = {})
      data, _status_code, _headers = packages_upload_dart_with_http_info(owner, repo, opts)
      data
    end

    # Create a new Dart package
    # Create a new Dart package
    # @param owner 
    # @param repo 
    # @param [Hash] opts the optional parameters
    # @option opts [DartPackageUploadRequest] :data 
    # @return [Array<(DartPackageUploadResponse, Fixnum, Hash)>] DartPackageUploadResponse data, response status code and response headers
    def packages_upload_dart_with_http_info(owner, repo, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PackagesApi.packages_upload_dart ...'
      end
      # verify the required parameter 'owner' is set
      if @api_client.config.client_side_validation && owner.nil?
        fail ArgumentError, "Missing the required parameter 'owner' when calling PackagesApi.packages_upload_dart"
      end
      # verify the required parameter 'repo' is set
      if @api_client.config.client_side_validation && repo.nil?
        fail ArgumentError, "Missing the required parameter 'repo' when calling PackagesApi.packages_upload_dart"
      end
      # resource path
      local_var_path = '/packages/{owner}/{repo}/upload/dart/'.sub('{' + 'owner' + '}', owner.to_s).sub('{' + 'repo' + '}', repo.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(opts[:'data'])
      auth_names = ['apikey']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'DartPackageUploadResponse')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PackagesApi#packages_upload_dart\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Create a new Debian package
    # Create a new Debian package
    # @param owner 
    # @param repo 
    # @param [Hash] opts the optional parameters
    # @option opts [DebPackageUploadRequest] :data 
    # @return [DebPackageUploadResponse]
    def packages_upload_deb(owner, repo, opts = {})
      data, _status_code, _headers = packages_upload_deb_with_http_info(owner, repo, opts)
      data
    end

    # Create a new Debian package
    # Create a new Debian package
    # @param owner 
    # @param repo 
    # @param [Hash] opts the optional parameters
    # @option opts [DebPackageUploadRequest] :data 
    # @return [Array<(DebPackageUploadResponse, Fixnum, Hash)>] DebPackageUploadResponse data, response status code and response headers
    def packages_upload_deb_with_http_info(owner, repo, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PackagesApi.packages_upload_deb ...'
      end
      # verify the required parameter 'owner' is set
      if @api_client.config.client_side_validation && owner.nil?
        fail ArgumentError, "Missing the required parameter 'owner' when calling PackagesApi.packages_upload_deb"
      end
      # verify the required parameter 'repo' is set
      if @api_client.config.client_side_validation && repo.nil?
        fail ArgumentError, "Missing the required parameter 'repo' when calling PackagesApi.packages_upload_deb"
      end
      # resource path
      local_var_path = '/packages/{owner}/{repo}/upload/deb/'.sub('{' + 'owner' + '}', owner.to_s).sub('{' + 'repo' + '}', repo.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(opts[:'data'])
      auth_names = ['apikey']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'DebPackageUploadResponse')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PackagesApi#packages_upload_deb\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Create a new Docker package
    # Create a new Docker package
    # @param owner 
    # @param repo 
    # @param [Hash] opts the optional parameters
    # @option opts [DockerPackageUploadRequest] :data 
    # @return [DockerPackageUploadResponse]
    def packages_upload_docker(owner, repo, opts = {})
      data, _status_code, _headers = packages_upload_docker_with_http_info(owner, repo, opts)
      data
    end

    # Create a new Docker package
    # Create a new Docker package
    # @param owner 
    # @param repo 
    # @param [Hash] opts the optional parameters
    # @option opts [DockerPackageUploadRequest] :data 
    # @return [Array<(DockerPackageUploadResponse, Fixnum, Hash)>] DockerPackageUploadResponse data, response status code and response headers
    def packages_upload_docker_with_http_info(owner, repo, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PackagesApi.packages_upload_docker ...'
      end
      # verify the required parameter 'owner' is set
      if @api_client.config.client_side_validation && owner.nil?
        fail ArgumentError, "Missing the required parameter 'owner' when calling PackagesApi.packages_upload_docker"
      end
      # verify the required parameter 'repo' is set
      if @api_client.config.client_side_validation && repo.nil?
        fail ArgumentError, "Missing the required parameter 'repo' when calling PackagesApi.packages_upload_docker"
      end
      # resource path
      local_var_path = '/packages/{owner}/{repo}/upload/docker/'.sub('{' + 'owner' + '}', owner.to_s).sub('{' + 'repo' + '}', repo.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(opts[:'data'])
      auth_names = ['apikey']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'DockerPackageUploadResponse')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PackagesApi#packages_upload_docker\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Create a new Go package
    # Create a new Go package
    # @param owner 
    # @param repo 
    # @param [Hash] opts the optional parameters
    # @option opts [GoPackageUploadRequest] :data 
    # @return [GoPackageUploadResponse]
    def packages_upload_go(owner, repo, opts = {})
      data, _status_code, _headers = packages_upload_go_with_http_info(owner, repo, opts)
      data
    end

    # Create a new Go package
    # Create a new Go package
    # @param owner 
    # @param repo 
    # @param [Hash] opts the optional parameters
    # @option opts [GoPackageUploadRequest] :data 
    # @return [Array<(GoPackageUploadResponse, Fixnum, Hash)>] GoPackageUploadResponse data, response status code and response headers
    def packages_upload_go_with_http_info(owner, repo, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PackagesApi.packages_upload_go ...'
      end
      # verify the required parameter 'owner' is set
      if @api_client.config.client_side_validation && owner.nil?
        fail ArgumentError, "Missing the required parameter 'owner' when calling PackagesApi.packages_upload_go"
      end
      # verify the required parameter 'repo' is set
      if @api_client.config.client_side_validation && repo.nil?
        fail ArgumentError, "Missing the required parameter 'repo' when calling PackagesApi.packages_upload_go"
      end
      # resource path
      local_var_path = '/packages/{owner}/{repo}/upload/go/'.sub('{' + 'owner' + '}', owner.to_s).sub('{' + 'repo' + '}', repo.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(opts[:'data'])
      auth_names = ['apikey']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'GoPackageUploadResponse')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PackagesApi#packages_upload_go\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Create a new Helm package
    # Create a new Helm package
    # @param owner 
    # @param repo 
    # @param [Hash] opts the optional parameters
    # @option opts [HelmPackageUploadRequest] :data 
    # @return [HelmPackageUploadResponse]
    def packages_upload_helm(owner, repo, opts = {})
      data, _status_code, _headers = packages_upload_helm_with_http_info(owner, repo, opts)
      data
    end

    # Create a new Helm package
    # Create a new Helm package
    # @param owner 
    # @param repo 
    # @param [Hash] opts the optional parameters
    # @option opts [HelmPackageUploadRequest] :data 
    # @return [Array<(HelmPackageUploadResponse, Fixnum, Hash)>] HelmPackageUploadResponse data, response status code and response headers
    def packages_upload_helm_with_http_info(owner, repo, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PackagesApi.packages_upload_helm ...'
      end
      # verify the required parameter 'owner' is set
      if @api_client.config.client_side_validation && owner.nil?
        fail ArgumentError, "Missing the required parameter 'owner' when calling PackagesApi.packages_upload_helm"
      end
      # verify the required parameter 'repo' is set
      if @api_client.config.client_side_validation && repo.nil?
        fail ArgumentError, "Missing the required parameter 'repo' when calling PackagesApi.packages_upload_helm"
      end
      # resource path
      local_var_path = '/packages/{owner}/{repo}/upload/helm/'.sub('{' + 'owner' + '}', owner.to_s).sub('{' + 'repo' + '}', repo.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(opts[:'data'])
      auth_names = ['apikey']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'HelmPackageUploadResponse')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PackagesApi#packages_upload_helm\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Create a new LuaRocks package
    # Create a new LuaRocks package
    # @param owner 
    # @param repo 
    # @param [Hash] opts the optional parameters
    # @option opts [LuarocksPackageUploadRequest] :data 
    # @return [LuarocksPackageUploadResponse]
    def packages_upload_luarocks(owner, repo, opts = {})
      data, _status_code, _headers = packages_upload_luarocks_with_http_info(owner, repo, opts)
      data
    end

    # Create a new LuaRocks package
    # Create a new LuaRocks package
    # @param owner 
    # @param repo 
    # @param [Hash] opts the optional parameters
    # @option opts [LuarocksPackageUploadRequest] :data 
    # @return [Array<(LuarocksPackageUploadResponse, Fixnum, Hash)>] LuarocksPackageUploadResponse data, response status code and response headers
    def packages_upload_luarocks_with_http_info(owner, repo, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PackagesApi.packages_upload_luarocks ...'
      end
      # verify the required parameter 'owner' is set
      if @api_client.config.client_side_validation && owner.nil?
        fail ArgumentError, "Missing the required parameter 'owner' when calling PackagesApi.packages_upload_luarocks"
      end
      # verify the required parameter 'repo' is set
      if @api_client.config.client_side_validation && repo.nil?
        fail ArgumentError, "Missing the required parameter 'repo' when calling PackagesApi.packages_upload_luarocks"
      end
      # resource path
      local_var_path = '/packages/{owner}/{repo}/upload/luarocks/'.sub('{' + 'owner' + '}', owner.to_s).sub('{' + 'repo' + '}', repo.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(opts[:'data'])
      auth_names = ['apikey']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'LuarocksPackageUploadResponse')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PackagesApi#packages_upload_luarocks\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Create a new Maven package
    # Create a new Maven package
    # @param owner 
    # @param repo 
    # @param [Hash] opts the optional parameters
    # @option opts [MavenPackageUploadRequest] :data 
    # @return [MavenPackageUploadResponse]
    def packages_upload_maven(owner, repo, opts = {})
      data, _status_code, _headers = packages_upload_maven_with_http_info(owner, repo, opts)
      data
    end

    # Create a new Maven package
    # Create a new Maven package
    # @param owner 
    # @param repo 
    # @param [Hash] opts the optional parameters
    # @option opts [MavenPackageUploadRequest] :data 
    # @return [Array<(MavenPackageUploadResponse, Fixnum, Hash)>] MavenPackageUploadResponse data, response status code and response headers
    def packages_upload_maven_with_http_info(owner, repo, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PackagesApi.packages_upload_maven ...'
      end
      # verify the required parameter 'owner' is set
      if @api_client.config.client_side_validation && owner.nil?
        fail ArgumentError, "Missing the required parameter 'owner' when calling PackagesApi.packages_upload_maven"
      end
      # verify the required parameter 'repo' is set
      if @api_client.config.client_side_validation && repo.nil?
        fail ArgumentError, "Missing the required parameter 'repo' when calling PackagesApi.packages_upload_maven"
      end
      # resource path
      local_var_path = '/packages/{owner}/{repo}/upload/maven/'.sub('{' + 'owner' + '}', owner.to_s).sub('{' + 'repo' + '}', repo.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(opts[:'data'])
      auth_names = ['apikey']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'MavenPackageUploadResponse')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PackagesApi#packages_upload_maven\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Create a new npm package
    # Create a new npm package
    # @param owner 
    # @param repo 
    # @param [Hash] opts the optional parameters
    # @option opts [NpmPackageUploadRequest] :data 
    # @return [NpmPackageUploadResponse]
    def packages_upload_npm(owner, repo, opts = {})
      data, _status_code, _headers = packages_upload_npm_with_http_info(owner, repo, opts)
      data
    end

    # Create a new npm package
    # Create a new npm package
    # @param owner 
    # @param repo 
    # @param [Hash] opts the optional parameters
    # @option opts [NpmPackageUploadRequest] :data 
    # @return [Array<(NpmPackageUploadResponse, Fixnum, Hash)>] NpmPackageUploadResponse data, response status code and response headers
    def packages_upload_npm_with_http_info(owner, repo, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PackagesApi.packages_upload_npm ...'
      end
      # verify the required parameter 'owner' is set
      if @api_client.config.client_side_validation && owner.nil?
        fail ArgumentError, "Missing the required parameter 'owner' when calling PackagesApi.packages_upload_npm"
      end
      # verify the required parameter 'repo' is set
      if @api_client.config.client_side_validation && repo.nil?
        fail ArgumentError, "Missing the required parameter 'repo' when calling PackagesApi.packages_upload_npm"
      end
      # resource path
      local_var_path = '/packages/{owner}/{repo}/upload/npm/'.sub('{' + 'owner' + '}', owner.to_s).sub('{' + 'repo' + '}', repo.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(opts[:'data'])
      auth_names = ['apikey']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'NpmPackageUploadResponse')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PackagesApi#packages_upload_npm\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Create a new NuGet package
    # Create a new NuGet package
    # @param owner 
    # @param repo 
    # @param [Hash] opts the optional parameters
    # @option opts [NugetPackageUploadRequest] :data 
    # @return [NugetPackageUploadResponse]
    def packages_upload_nuget(owner, repo, opts = {})
      data, _status_code, _headers = packages_upload_nuget_with_http_info(owner, repo, opts)
      data
    end

    # Create a new NuGet package
    # Create a new NuGet package
    # @param owner 
    # @param repo 
    # @param [Hash] opts the optional parameters
    # @option opts [NugetPackageUploadRequest] :data 
    # @return [Array<(NugetPackageUploadResponse, Fixnum, Hash)>] NugetPackageUploadResponse data, response status code and response headers
    def packages_upload_nuget_with_http_info(owner, repo, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PackagesApi.packages_upload_nuget ...'
      end
      # verify the required parameter 'owner' is set
      if @api_client.config.client_side_validation && owner.nil?
        fail ArgumentError, "Missing the required parameter 'owner' when calling PackagesApi.packages_upload_nuget"
      end
      # verify the required parameter 'repo' is set
      if @api_client.config.client_side_validation && repo.nil?
        fail ArgumentError, "Missing the required parameter 'repo' when calling PackagesApi.packages_upload_nuget"
      end
      # resource path
      local_var_path = '/packages/{owner}/{repo}/upload/nuget/'.sub('{' + 'owner' + '}', owner.to_s).sub('{' + 'repo' + '}', repo.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(opts[:'data'])
      auth_names = ['apikey']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'NugetPackageUploadResponse')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PackagesApi#packages_upload_nuget\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Create a new P2 package
    # Create a new P2 package
    # @param owner 
    # @param repo 
    # @param [Hash] opts the optional parameters
    # @option opts [P2PackageUploadRequest] :data 
    # @return [P2PackageUploadResponse]
    def packages_upload_p2(owner, repo, opts = {})
      data, _status_code, _headers = packages_upload_p2_with_http_info(owner, repo, opts)
      data
    end

    # Create a new P2 package
    # Create a new P2 package
    # @param owner 
    # @param repo 
    # @param [Hash] opts the optional parameters
    # @option opts [P2PackageUploadRequest] :data 
    # @return [Array<(P2PackageUploadResponse, Fixnum, Hash)>] P2PackageUploadResponse data, response status code and response headers
    def packages_upload_p2_with_http_info(owner, repo, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PackagesApi.packages_upload_p2 ...'
      end
      # verify the required parameter 'owner' is set
      if @api_client.config.client_side_validation && owner.nil?
        fail ArgumentError, "Missing the required parameter 'owner' when calling PackagesApi.packages_upload_p2"
      end
      # verify the required parameter 'repo' is set
      if @api_client.config.client_side_validation && repo.nil?
        fail ArgumentError, "Missing the required parameter 'repo' when calling PackagesApi.packages_upload_p2"
      end
      # resource path
      local_var_path = '/packages/{owner}/{repo}/upload/p2/'.sub('{' + 'owner' + '}', owner.to_s).sub('{' + 'repo' + '}', repo.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(opts[:'data'])
      auth_names = ['apikey']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'P2PackageUploadResponse')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PackagesApi#packages_upload_p2\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Create a new Python package
    # Create a new Python package
    # @param owner 
    # @param repo 
    # @param [Hash] opts the optional parameters
    # @option opts [PythonPackageUploadRequest] :data 
    # @return [PythonPackageUploadResponse]
    def packages_upload_python(owner, repo, opts = {})
      data, _status_code, _headers = packages_upload_python_with_http_info(owner, repo, opts)
      data
    end

    # Create a new Python package
    # Create a new Python package
    # @param owner 
    # @param repo 
    # @param [Hash] opts the optional parameters
    # @option opts [PythonPackageUploadRequest] :data 
    # @return [Array<(PythonPackageUploadResponse, Fixnum, Hash)>] PythonPackageUploadResponse data, response status code and response headers
    def packages_upload_python_with_http_info(owner, repo, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PackagesApi.packages_upload_python ...'
      end
      # verify the required parameter 'owner' is set
      if @api_client.config.client_side_validation && owner.nil?
        fail ArgumentError, "Missing the required parameter 'owner' when calling PackagesApi.packages_upload_python"
      end
      # verify the required parameter 'repo' is set
      if @api_client.config.client_side_validation && repo.nil?
        fail ArgumentError, "Missing the required parameter 'repo' when calling PackagesApi.packages_upload_python"
      end
      # resource path
      local_var_path = '/packages/{owner}/{repo}/upload/python/'.sub('{' + 'owner' + '}', owner.to_s).sub('{' + 'repo' + '}', repo.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(opts[:'data'])
      auth_names = ['apikey']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'PythonPackageUploadResponse')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PackagesApi#packages_upload_python\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Create a new Raw package
    # Create a new Raw package
    # @param owner 
    # @param repo 
    # @param [Hash] opts the optional parameters
    # @option opts [RawPackageUploadRequest] :data 
    # @return [RawPackageUploadResponse]
    def packages_upload_raw(owner, repo, opts = {})
      data, _status_code, _headers = packages_upload_raw_with_http_info(owner, repo, opts)
      data
    end

    # Create a new Raw package
    # Create a new Raw package
    # @param owner 
    # @param repo 
    # @param [Hash] opts the optional parameters
    # @option opts [RawPackageUploadRequest] :data 
    # @return [Array<(RawPackageUploadResponse, Fixnum, Hash)>] RawPackageUploadResponse data, response status code and response headers
    def packages_upload_raw_with_http_info(owner, repo, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PackagesApi.packages_upload_raw ...'
      end
      # verify the required parameter 'owner' is set
      if @api_client.config.client_side_validation && owner.nil?
        fail ArgumentError, "Missing the required parameter 'owner' when calling PackagesApi.packages_upload_raw"
      end
      # verify the required parameter 'repo' is set
      if @api_client.config.client_side_validation && repo.nil?
        fail ArgumentError, "Missing the required parameter 'repo' when calling PackagesApi.packages_upload_raw"
      end
      # resource path
      local_var_path = '/packages/{owner}/{repo}/upload/raw/'.sub('{' + 'owner' + '}', owner.to_s).sub('{' + 'repo' + '}', repo.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(opts[:'data'])
      auth_names = ['apikey']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'RawPackageUploadResponse')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PackagesApi#packages_upload_raw\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Create a new RedHat package
    # Create a new RedHat package
    # @param owner 
    # @param repo 
    # @param [Hash] opts the optional parameters
    # @option opts [RpmPackageUploadRequest] :data 
    # @return [RpmPackageUploadResponse]
    def packages_upload_rpm(owner, repo, opts = {})
      data, _status_code, _headers = packages_upload_rpm_with_http_info(owner, repo, opts)
      data
    end

    # Create a new RedHat package
    # Create a new RedHat package
    # @param owner 
    # @param repo 
    # @param [Hash] opts the optional parameters
    # @option opts [RpmPackageUploadRequest] :data 
    # @return [Array<(RpmPackageUploadResponse, Fixnum, Hash)>] RpmPackageUploadResponse data, response status code and response headers
    def packages_upload_rpm_with_http_info(owner, repo, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PackagesApi.packages_upload_rpm ...'
      end
      # verify the required parameter 'owner' is set
      if @api_client.config.client_side_validation && owner.nil?
        fail ArgumentError, "Missing the required parameter 'owner' when calling PackagesApi.packages_upload_rpm"
      end
      # verify the required parameter 'repo' is set
      if @api_client.config.client_side_validation && repo.nil?
        fail ArgumentError, "Missing the required parameter 'repo' when calling PackagesApi.packages_upload_rpm"
      end
      # resource path
      local_var_path = '/packages/{owner}/{repo}/upload/rpm/'.sub('{' + 'owner' + '}', owner.to_s).sub('{' + 'repo' + '}', repo.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(opts[:'data'])
      auth_names = ['apikey']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'RpmPackageUploadResponse')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PackagesApi#packages_upload_rpm\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Create a new Ruby package
    # Create a new Ruby package
    # @param owner 
    # @param repo 
    # @param [Hash] opts the optional parameters
    # @option opts [RubyPackageUploadRequest] :data 
    # @return [RubyPackageUploadResponse]
    def packages_upload_ruby(owner, repo, opts = {})
      data, _status_code, _headers = packages_upload_ruby_with_http_info(owner, repo, opts)
      data
    end

    # Create a new Ruby package
    # Create a new Ruby package
    # @param owner 
    # @param repo 
    # @param [Hash] opts the optional parameters
    # @option opts [RubyPackageUploadRequest] :data 
    # @return [Array<(RubyPackageUploadResponse, Fixnum, Hash)>] RubyPackageUploadResponse data, response status code and response headers
    def packages_upload_ruby_with_http_info(owner, repo, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PackagesApi.packages_upload_ruby ...'
      end
      # verify the required parameter 'owner' is set
      if @api_client.config.client_side_validation && owner.nil?
        fail ArgumentError, "Missing the required parameter 'owner' when calling PackagesApi.packages_upload_ruby"
      end
      # verify the required parameter 'repo' is set
      if @api_client.config.client_side_validation && repo.nil?
        fail ArgumentError, "Missing the required parameter 'repo' when calling PackagesApi.packages_upload_ruby"
      end
      # resource path
      local_var_path = '/packages/{owner}/{repo}/upload/ruby/'.sub('{' + 'owner' + '}', owner.to_s).sub('{' + 'repo' + '}', repo.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(opts[:'data'])
      auth_names = ['apikey']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'RubyPackageUploadResponse')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PackagesApi#packages_upload_ruby\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Create a new Terraform package
    # Create a new Terraform package
    # @param owner 
    # @param repo 
    # @param [Hash] opts the optional parameters
    # @option opts [TerraformPackageUploadRequest] :data 
    # @return [TerraformPackageUploadResponse]
    def packages_upload_terraform(owner, repo, opts = {})
      data, _status_code, _headers = packages_upload_terraform_with_http_info(owner, repo, opts)
      data
    end

    # Create a new Terraform package
    # Create a new Terraform package
    # @param owner 
    # @param repo 
    # @param [Hash] opts the optional parameters
    # @option opts [TerraformPackageUploadRequest] :data 
    # @return [Array<(TerraformPackageUploadResponse, Fixnum, Hash)>] TerraformPackageUploadResponse data, response status code and response headers
    def packages_upload_terraform_with_http_info(owner, repo, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PackagesApi.packages_upload_terraform ...'
      end
      # verify the required parameter 'owner' is set
      if @api_client.config.client_side_validation && owner.nil?
        fail ArgumentError, "Missing the required parameter 'owner' when calling PackagesApi.packages_upload_terraform"
      end
      # verify the required parameter 'repo' is set
      if @api_client.config.client_side_validation && repo.nil?
        fail ArgumentError, "Missing the required parameter 'repo' when calling PackagesApi.packages_upload_terraform"
      end
      # resource path
      local_var_path = '/packages/{owner}/{repo}/upload/terraform/'.sub('{' + 'owner' + '}', owner.to_s).sub('{' + 'repo' + '}', repo.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(opts[:'data'])
      auth_names = ['apikey']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'TerraformPackageUploadResponse')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PackagesApi#packages_upload_terraform\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Create a new Vagrant package
    # Create a new Vagrant package
    # @param owner 
    # @param repo 
    # @param [Hash] opts the optional parameters
    # @option opts [VagrantPackageUploadRequest] :data 
    # @return [VagrantPackageUploadResponse]
    def packages_upload_vagrant(owner, repo, opts = {})
      data, _status_code, _headers = packages_upload_vagrant_with_http_info(owner, repo, opts)
      data
    end

    # Create a new Vagrant package
    # Create a new Vagrant package
    # @param owner 
    # @param repo 
    # @param [Hash] opts the optional parameters
    # @option opts [VagrantPackageUploadRequest] :data 
    # @return [Array<(VagrantPackageUploadResponse, Fixnum, Hash)>] VagrantPackageUploadResponse data, response status code and response headers
    def packages_upload_vagrant_with_http_info(owner, repo, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PackagesApi.packages_upload_vagrant ...'
      end
      # verify the required parameter 'owner' is set
      if @api_client.config.client_side_validation && owner.nil?
        fail ArgumentError, "Missing the required parameter 'owner' when calling PackagesApi.packages_upload_vagrant"
      end
      # verify the required parameter 'repo' is set
      if @api_client.config.client_side_validation && repo.nil?
        fail ArgumentError, "Missing the required parameter 'repo' when calling PackagesApi.packages_upload_vagrant"
      end
      # resource path
      local_var_path = '/packages/{owner}/{repo}/upload/vagrant/'.sub('{' + 'owner' + '}', owner.to_s).sub('{' + 'repo' + '}', repo.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(opts[:'data'])
      auth_names = ['apikey']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'VagrantPackageUploadResponse')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PackagesApi#packages_upload_vagrant\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Validate parameters for create Alpine package
    # Validate parameters for create Alpine package
    # @param owner 
    # @param repo 
    # @param [Hash] opts the optional parameters
    # @option opts [AlpinePackageUploadRequest] :data 
    # @return [nil]
    def packages_validate_upload_alpine(owner, repo, opts = {})
      packages_validate_upload_alpine_with_http_info(owner, repo, opts)
      nil
    end

    # Validate parameters for create Alpine package
    # Validate parameters for create Alpine package
    # @param owner 
    # @param repo 
    # @param [Hash] opts the optional parameters
    # @option opts [AlpinePackageUploadRequest] :data 
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def packages_validate_upload_alpine_with_http_info(owner, repo, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PackagesApi.packages_validate_upload_alpine ...'
      end
      # verify the required parameter 'owner' is set
      if @api_client.config.client_side_validation && owner.nil?
        fail ArgumentError, "Missing the required parameter 'owner' when calling PackagesApi.packages_validate_upload_alpine"
      end
      # verify the required parameter 'repo' is set
      if @api_client.config.client_side_validation && repo.nil?
        fail ArgumentError, "Missing the required parameter 'repo' when calling PackagesApi.packages_validate_upload_alpine"
      end
      # resource path
      local_var_path = '/packages/{owner}/{repo}/validate-upload/alpine/'.sub('{' + 'owner' + '}', owner.to_s).sub('{' + 'repo' + '}', repo.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(opts[:'data'])
      auth_names = ['apikey']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PackagesApi#packages_validate_upload_alpine\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Validate parameters for create Cargo package
    # Validate parameters for create Cargo package
    # @param owner 
    # @param repo 
    # @param [Hash] opts the optional parameters
    # @option opts [CargoPackageUploadRequest] :data 
    # @return [nil]
    def packages_validate_upload_cargo(owner, repo, opts = {})
      packages_validate_upload_cargo_with_http_info(owner, repo, opts)
      nil
    end

    # Validate parameters for create Cargo package
[...]
