=begin
#Cloudsmith API (v1)

#The API to the Cloudsmith Service

OpenAPI spec version: v1
Contact: support@cloudsmith.io
Generated by: https://github.com/swagger-api/swagger-codegen.git
Swagger Codegen version: 2.4.26

=end

require 'uri'

module CloudsmithApi
  class ReposApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Retrieve the GeoIP status for this repository.
    # Retrieve the GeoIP status for this repository.
    # @param owner 
    # @param identifier 
    # @param [Hash] opts the optional parameters
    # @return [RepositoryGeoIpStatus]
    def api_repos_geoip_status(owner, identifier, opts = {})
      data, _status_code, _headers = api_repos_geoip_status_with_http_info(owner, identifier, opts)
      data
    end

    # Retrieve the GeoIP status for this repository.
    # Retrieve the GeoIP status for this repository.
    # @param owner 
    # @param identifier 
    # @param [Hash] opts the optional parameters
    # @return [Array<(RepositoryGeoIpStatus, Fixnum, Hash)>] RepositoryGeoIpStatus data, response status code and response headers
    def api_repos_geoip_status_with_http_info(owner, identifier, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ReposApi.api_repos_geoip_status ...'
      end
      # verify the required parameter 'owner' is set
      if @api_client.config.client_side_validation && owner.nil?
        fail ArgumentError, "Missing the required parameter 'owner' when calling ReposApi.api_repos_geoip_status"
      end
      # verify the required parameter 'identifier' is set
      if @api_client.config.client_side_validation && identifier.nil?
        fail ArgumentError, "Missing the required parameter 'identifier' when calling ReposApi.api_repos_geoip_status"
      end
      # resource path
      local_var_path = '/repos/{owner}/{identifier}/geoip/status/'.sub('{' + 'owner' + '}', owner.to_s).sub('{' + 'identifier' + '}', identifier.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['apikey', 'basic', 'token']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'RepositoryGeoIpStatus')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ReposApi#api_repos_geoip_status\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Update the retention rules for the repository.
    # Update the retention rules for the repository.
    # @param owner 
    # @param repo 
    # @param [Hash] opts the optional parameters
    # @option opts [RepositoryRetentionRulesRequestPatch] :data 
    # @return [RepositoryRetentionRules]
    def repo_retention_partial_update(owner, repo, opts = {})
      data, _status_code, _headers = repo_retention_partial_update_with_http_info(owner, repo, opts)
      data
    end

    # Update the retention rules for the repository.
    # Update the retention rules for the repository.
    # @param owner 
    # @param repo 
    # @param [Hash] opts the optional parameters
    # @option opts [RepositoryRetentionRulesRequestPatch] :data 
    # @return [Array<(RepositoryRetentionRules, Fixnum, Hash)>] RepositoryRetentionRules data, response status code and response headers
    def repo_retention_partial_update_with_http_info(owner, repo, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ReposApi.repo_retention_partial_update ...'
      end
      # verify the required parameter 'owner' is set
      if @api_client.config.client_side_validation && owner.nil?
        fail ArgumentError, "Missing the required parameter 'owner' when calling ReposApi.repo_retention_partial_update"
      end
      # verify the required parameter 'repo' is set
      if @api_client.config.client_side_validation && repo.nil?
        fail ArgumentError, "Missing the required parameter 'repo' when calling ReposApi.repo_retention_partial_update"
      end
      # resource path
      local_var_path = '/repos/{owner}/{repo}/retention/'.sub('{' + 'owner' + '}', owner.to_s).sub('{' + 'repo' + '}', repo.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(opts[:'data'])
      auth_names = ['apikey', 'basic', 'token']
      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'RepositoryRetentionRules')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ReposApi#repo_retention_partial_update\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Retrieve the retention rules for the repository.
    # Retrieve the retention rules for the repository.
    # @param owner 
    # @param repo 
    # @param [Hash] opts the optional parameters
    # @return [RepositoryRetentionRules]
    def repo_retention_read(owner, repo, opts = {})
      data, _status_code, _headers = repo_retention_read_with_http_info(owner, repo, opts)
      data
    end

    # Retrieve the retention rules for the repository.
    # Retrieve the retention rules for the repository.
    # @param owner 
    # @param repo 
    # @param [Hash] opts the optional parameters
    # @return [Array<(RepositoryRetentionRules, Fixnum, Hash)>] RepositoryRetentionRules data, response status code and response headers
    def repo_retention_read_with_http_info(owner, repo, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ReposApi.repo_retention_read ...'
      end
      # verify the required parameter 'owner' is set
      if @api_client.config.client_side_validation && owner.nil?
        fail ArgumentError, "Missing the required parameter 'owner' when calling ReposApi.repo_retention_read"
      end
      # verify the required parameter 'repo' is set
      if @api_client.config.client_side_validation && repo.nil?
        fail ArgumentError, "Missing the required parameter 'repo' when calling ReposApi.repo_retention_read"
      end
      # resource path
      local_var_path = '/repos/{owner}/{repo}/retention/'.sub('{' + 'owner' + '}', owner.to_s).sub('{' + 'repo' + '}', repo.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['apikey', 'basic', 'token']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'RepositoryRetentionRules')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ReposApi#repo_retention_read\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Create a new repository in a given namespace.
    # Create a new repository in a given namespace.
    # @param owner 
    # @param [Hash] opts the optional parameters
    # @option opts [RepositoryCreateRequest] :data 
    # @return [RepositoryCreate]
    def repos_create(owner, opts = {})
      data, _status_code, _headers = repos_create_with_http_info(owner, opts)
      data
    end

    # Create a new repository in a given namespace.
    # Create a new repository in a given namespace.
    # @param owner 
    # @param [Hash] opts the optional parameters
    # @option opts [RepositoryCreateRequest] :data 
    # @return [Array<(RepositoryCreate, Fixnum, Hash)>] RepositoryCreate data, response status code and response headers
    def repos_create_with_http_info(owner, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ReposApi.repos_create ...'
      end
      # verify the required parameter 'owner' is set
      if @api_client.config.client_side_validation && owner.nil?
        fail ArgumentError, "Missing the required parameter 'owner' when calling ReposApi.repos_create"
      end
      # resource path
      local_var_path = '/repos/{owner}/'.sub('{' + 'owner' + '}', owner.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(opts[:'data'])
      auth_names = ['apikey', 'basic', 'token']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'RepositoryCreate')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ReposApi#repos_create\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Delete a repository in a given namespace.
    # Delete a repository in a given namespace.
    # @param owner 
    # @param identifier 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def repos_delete(owner, identifier, opts = {})
      repos_delete_with_http_info(owner, identifier, opts)
      nil
    end

    # Delete a repository in a given namespace.
    # Delete a repository in a given namespace.
    # @param owner 
    # @param identifier 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def repos_delete_with_http_info(owner, identifier, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ReposApi.repos_delete ...'
      end
      # verify the required parameter 'owner' is set
      if @api_client.config.client_side_validation && owner.nil?
        fail ArgumentError, "Missing the required parameter 'owner' when calling ReposApi.repos_delete"
      end
      # verify the required parameter 'identifier' is set
      if @api_client.config.client_side_validation && identifier.nil?
        fail ArgumentError, "Missing the required parameter 'identifier' when calling ReposApi.repos_delete"
      end
      # resource path
      local_var_path = '/repos/{owner}/{identifier}/'.sub('{' + 'owner' + '}', owner.to_s).sub('{' + 'identifier' + '}', identifier.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['apikey', 'basic', 'token']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ReposApi#repos_delete\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Set the active ECDSA key for the Repository.
    # Set the active ECDSA key for the Repository.
    # @param owner 
    # @param identifier 
    # @param [Hash] opts the optional parameters
    # @option opts [RepositoryEcdsaKeyCreate] :data 
    # @return [RepositoryEcdsaKey]
    def repos_ecdsa_create(owner, identifier, opts = {})
      data, _status_code, _headers = repos_ecdsa_create_with_http_info(owner, identifier, opts)
      data
    end

    # Set the active ECDSA key for the Repository.
    # Set the active ECDSA key for the Repository.
    # @param owner 
    # @param identifier 
    # @param [Hash] opts the optional parameters
    # @option opts [RepositoryEcdsaKeyCreate] :data 
    # @return [Array<(RepositoryEcdsaKey, Fixnum, Hash)>] RepositoryEcdsaKey data, response status code and response headers
    def repos_ecdsa_create_with_http_info(owner, identifier, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ReposApi.repos_ecdsa_create ...'
      end
      # verify the required parameter 'owner' is set
      if @api_client.config.client_side_validation && owner.nil?
        fail ArgumentError, "Missing the required parameter 'owner' when calling ReposApi.repos_ecdsa_create"
      end
      # verify the required parameter 'identifier' is set
      if @api_client.config.client_side_validation && identifier.nil?
        fail ArgumentError, "Missing the required parameter 'identifier' when calling ReposApi.repos_ecdsa_create"
      end
      # resource path
      local_var_path = '/repos/{owner}/{identifier}/ecdsa/'.sub('{' + 'owner' + '}', owner.to_s).sub('{' + 'identifier' + '}', identifier.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(opts[:'data'])
      auth_names = ['apikey', 'basic', 'token']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'RepositoryEcdsaKey')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ReposApi#repos_ecdsa_create\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Retrieve the active ECDSA key for the Repository.
    # Retrieve the active ECDSA key for the Repository.
    # @param owner 
    # @param identifier 
    # @param [Hash] opts the optional parameters
    # @return [RepositoryEcdsaKey]
    def repos_ecdsa_list(owner, identifier, opts = {})
      data, _status_code, _headers = repos_ecdsa_list_with_http_info(owner, identifier, opts)
      data
    end

    # Retrieve the active ECDSA key for the Repository.
    # Retrieve the active ECDSA key for the Repository.
    # @param owner 
    # @param identifier 
    # @param [Hash] opts the optional parameters
    # @return [Array<(RepositoryEcdsaKey, Fixnum, Hash)>] RepositoryEcdsaKey data, response status code and response headers
    def repos_ecdsa_list_with_http_info(owner, identifier, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ReposApi.repos_ecdsa_list ...'
      end
      # verify the required parameter 'owner' is set
      if @api_client.config.client_side_validation && owner.nil?
        fail ArgumentError, "Missing the required parameter 'owner' when calling ReposApi.repos_ecdsa_list"
      end
      # verify the required parameter 'identifier' is set
      if @api_client.config.client_side_validation && identifier.nil?
        fail ArgumentError, "Missing the required parameter 'identifier' when calling ReposApi.repos_ecdsa_list"
      end
      # resource path
      local_var_path = '/repos/{owner}/{identifier}/ecdsa/'.sub('{' + 'owner' + '}', owner.to_s).sub('{' + 'identifier' + '}', identifier.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['apikey', 'basic', 'token']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'RepositoryEcdsaKey')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ReposApi#repos_ecdsa_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Regenerate ECDSA Key for the Repository.
    # Regenerate ECDSA Key for the Repository.
    # @param owner 
    # @param identifier 
    # @param [Hash] opts the optional parameters
    # @return [RepositoryEcdsaKey]
    def repos_ecdsa_regenerate(owner, identifier, opts = {})
      data, _status_code, _headers = repos_ecdsa_regenerate_with_http_info(owner, identifier, opts)
      data
    end

    # Regenerate ECDSA Key for the Repository.
    # Regenerate ECDSA Key for the Repository.
    # @param owner 
    # @param identifier 
    # @param [Hash] opts the optional parameters
    # @return [Array<(RepositoryEcdsaKey, Fixnum, Hash)>] RepositoryEcdsaKey data, response status code and response headers
    def repos_ecdsa_regenerate_with_http_info(owner, identifier, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ReposApi.repos_ecdsa_regenerate ...'
      end
      # verify the required parameter 'owner' is set
      if @api_client.config.client_side_validation && owner.nil?
        fail ArgumentError, "Missing the required parameter 'owner' when calling ReposApi.repos_ecdsa_regenerate"
      end
      # verify the required parameter 'identifier' is set
      if @api_client.config.client_side_validation && identifier.nil?
        fail ArgumentError, "Missing the required parameter 'identifier' when calling ReposApi.repos_ecdsa_regenerate"
      end
      # resource path
      local_var_path = '/repos/{owner}/{identifier}/ecdsa/regenerate/'.sub('{' + 'owner' + '}', owner.to_s).sub('{' + 'identifier' + '}', identifier.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['apikey', 'basic', 'token']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'RepositoryEcdsaKey')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ReposApi#repos_ecdsa_regenerate\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Disable GeoIP for this repository.
    # Disable GeoIP for this repository.
    # @param owner 
    # @param identifier 
    # @param [Hash] opts the optional parameters
    # @option opts [RespositoryGeoIpEnableDisableRequest] :data 
    # @return [nil]
    def repos_geoip_disable(owner, identifier, opts = {})
      repos_geoip_disable_with_http_info(owner, identifier, opts)
      nil
    end

    # Disable GeoIP for this repository.
    # Disable GeoIP for this repository.
    # @param owner 
    # @param identifier 
    # @param [Hash] opts the optional parameters
    # @option opts [RespositoryGeoIpEnableDisableRequest] :data 
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def repos_geoip_disable_with_http_info(owner, identifier, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ReposApi.repos_geoip_disable ...'
      end
      # verify the required parameter 'owner' is set
      if @api_client.config.client_side_validation && owner.nil?
        fail ArgumentError, "Missing the required parameter 'owner' when calling ReposApi.repos_geoip_disable"
      end
      # verify the required parameter 'identifier' is set
      if @api_client.config.client_side_validation && identifier.nil?
        fail ArgumentError, "Missing the required parameter 'identifier' when calling ReposApi.repos_geoip_disable"
      end
      # resource path
      local_var_path = '/repos/{owner}/{identifier}/geoip/disable/'.sub('{' + 'owner' + '}', owner.to_s).sub('{' + 'identifier' + '}', identifier.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(opts[:'data'])
      auth_names = ['apikey', 'basic', 'token']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ReposApi#repos_geoip_disable\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Enable GeoIP for this repository.
    # Enable GeoIP for this repository.
    # @param owner 
    # @param identifier 
    # @param [Hash] opts the optional parameters
    # @option opts [RespositoryGeoIpEnableDisableRequest] :data 
    # @return [nil]
    def repos_geoip_enable(owner, identifier, opts = {})
      repos_geoip_enable_with_http_info(owner, identifier, opts)
      nil
    end

    # Enable GeoIP for this repository.
    # Enable GeoIP for this repository.
    # @param owner 
    # @param identifier 
    # @param [Hash] opts the optional parameters
    # @option opts [RespositoryGeoIpEnableDisableRequest] :data 
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def repos_geoip_enable_with_http_info(owner, identifier, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ReposApi.repos_geoip_enable ...'
      end
      # verify the required parameter 'owner' is set
      if @api_client.config.client_side_validation && owner.nil?
        fail ArgumentError, "Missing the required parameter 'owner' when calling ReposApi.repos_geoip_enable"
      end
      # verify the required parameter 'identifier' is set
      if @api_client.config.client_side_validation && identifier.nil?
        fail ArgumentError, "Missing the required parameter 'identifier' when calling ReposApi.repos_geoip_enable"
      end
      # resource path
      local_var_path = '/repos/{owner}/{identifier}/geoip/enable/'.sub('{' + 'owner' + '}', owner.to_s).sub('{' + 'identifier' + '}', identifier.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(opts[:'data'])
      auth_names = ['apikey', 'basic', 'token']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ReposApi#repos_geoip_enable\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Partially update repository geoip rules.
    # Partially update repository geoip rules.
    # @param owner 
    # @param identifier 
    # @param [Hash] opts the optional parameters
    # @option opts [RepositoryGeoIpRulesRequestPatch] :data 
    # @return [RepositoryGeoIpRules]
    def repos_geoip_partial_update(owner, identifier, opts = {})
      data, _status_code, _headers = repos_geoip_partial_update_with_http_info(owner, identifier, opts)
      data
    end

    # Partially update repository geoip rules.
    # Partially update repository geoip rules.
    # @param owner 
    # @param identifier 
    # @param [Hash] opts the optional parameters
    # @option opts [RepositoryGeoIpRulesRequestPatch] :data 
    # @return [Array<(RepositoryGeoIpRules, Fixnum, Hash)>] RepositoryGeoIpRules data, response status code and response headers
    def repos_geoip_partial_update_with_http_info(owner, identifier, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ReposApi.repos_geoip_partial_update ...'
      end
      # verify the required parameter 'owner' is set
      if @api_client.config.client_side_validation && owner.nil?
        fail ArgumentError, "Missing the required parameter 'owner' when calling ReposApi.repos_geoip_partial_update"
      end
      # verify the required parameter 'identifier' is set
      if @api_client.config.client_side_validation && identifier.nil?
        fail ArgumentError, "Missing the required parameter 'identifier' when calling ReposApi.repos_geoip_partial_update"
      end
      # resource path
      local_var_path = '/repos/{owner}/{identifier}/geoip'.sub('{' + 'owner' + '}', owner.to_s).sub('{' + 'identifier' + '}', identifier.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(opts[:'data'])
      auth_names = ['apikey', 'basic', 'token']
      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'RepositoryGeoIpRules')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ReposApi#repos_geoip_partial_update\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # List all repository geoip rules.
    # List all repository geoip rules.
    # @param owner 
    # @param identifier 
    # @param [Hash] opts the optional parameters
    # @return [RepositoryGeoIpRules]
    def repos_geoip_read(owner, identifier, opts = {})
      data, _status_code, _headers = repos_geoip_read_with_http_info(owner, identifier, opts)
      data
    end

    # List all repository geoip rules.
    # List all repository geoip rules.
    # @param owner 
    # @param identifier 
    # @param [Hash] opts the optional parameters
    # @return [Array<(RepositoryGeoIpRules, Fixnum, Hash)>] RepositoryGeoIpRules data, response status code and response headers
    def repos_geoip_read_with_http_info(owner, identifier, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ReposApi.repos_geoip_read ...'
      end
      # verify the required parameter 'owner' is set
      if @api_client.config.client_side_validation && owner.nil?
        fail ArgumentError, "Missing the required parameter 'owner' when calling ReposApi.repos_geoip_read"
      end
      # verify the required parameter 'identifier' is set
      if @api_client.config.client_side_validation && identifier.nil?
        fail ArgumentError, "Missing the required parameter 'identifier' when calling ReposApi.repos_geoip_read"
      end
      # resource path
      local_var_path = '/repos/{owner}/{identifier}/geoip'.sub('{' + 'owner' + '}', owner.to_s).sub('{' + 'identifier' + '}', identifier.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['apikey', 'basic', 'token']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'RepositoryGeoIpRules')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ReposApi#repos_geoip_read\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Test a list of IP addresses against the repository's current GeoIP rules.
    # Test a list of IP addresses against the repository's current GeoIP rules.
    # @param owner 
    # @param identifier 
    # @param [Hash] opts the optional parameters
    # @option opts [RepositoryGeoIpTestAddress] :data 
    # @return [RepositoryGeoIpTestAddressResponse]
    def repos_geoip_test(owner, identifier, opts = {})
      data, _status_code, _headers = repos_geoip_test_with_http_info(owner, identifier, opts)
      data
    end

    # Test a list of IP addresses against the repository&#39;s current GeoIP rules.
    # Test a list of IP addresses against the repository&#39;s current GeoIP rules.
    # @param owner 
    # @param identifier 
    # @param [Hash] opts the optional parameters
    # @option opts [RepositoryGeoIpTestAddress] :data 
    # @return [Array<(RepositoryGeoIpTestAddressResponse, Fixnum, Hash)>] RepositoryGeoIpTestAddressResponse data, response status code and response headers
    def repos_geoip_test_with_http_info(owner, identifier, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ReposApi.repos_geoip_test ...'
      end
      # verify the required parameter 'owner' is set
      if @api_client.config.client_side_validation && owner.nil?
        fail ArgumentError, "Missing the required parameter 'owner' when calling ReposApi.repos_geoip_test"
      end
      # verify the required parameter 'identifier' is set
      if @api_client.config.client_side_validation && identifier.nil?
        fail ArgumentError, "Missing the required parameter 'identifier' when calling ReposApi.repos_geoip_test"
      end
      # resource path
      local_var_path = '/repos/{owner}/{identifier}/geoip/test/'.sub('{' + 'owner' + '}', owner.to_s).sub('{' + 'identifier' + '}', identifier.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(opts[:'data'])
      auth_names = ['apikey', 'basic', 'token']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'RepositoryGeoIpTestAddressResponse')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ReposApi#repos_geoip_test\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Replace repository geoip rules.
    # Replace repository geoip rules.
    # @param owner 
    # @param identifier 
    # @param [Hash] opts the optional parameters
    # @option opts [RepositoryGeoIpRulesRequest] :data 
    # @return [RepositoryGeoIpRules]
    def repos_geoip_update(owner, identifier, opts = {})
      data, _status_code, _headers = repos_geoip_update_with_http_info(owner, identifier, opts)
      data
    end

    # Replace repository geoip rules.
    # Replace repository geoip rules.
    # @param owner 
    # @param identifier 
    # @param [Hash] opts the optional parameters
    # @option opts [RepositoryGeoIpRulesRequest] :data 
    # @return [Array<(RepositoryGeoIpRules, Fixnum, Hash)>] RepositoryGeoIpRules data, response status code and response headers
    def repos_geoip_update_with_http_info(owner, identifier, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ReposApi.repos_geoip_update ...'
      end
      # verify the required parameter 'owner' is set
      if @api_client.config.client_side_validation && owner.nil?
        fail ArgumentError, "Missing the required parameter 'owner' when calling ReposApi.repos_geoip_update"
      end
      # verify the required parameter 'identifier' is set
      if @api_client.config.client_side_validation && identifier.nil?
        fail ArgumentError, "Missing the required parameter 'identifier' when calling ReposApi.repos_geoip_update"
      end
      # resource path
      local_var_path = '/repos/{owner}/{identifier}/geoip'.sub('{' + 'owner' + '}', owner.to_s).sub('{' + 'identifier' + '}', identifier.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(opts[:'data'])
      auth_names = ['apikey', 'basic', 'token']
      data, status_code, headers = @api_client.call_api(:PUT, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'RepositoryGeoIpRules')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ReposApi#repos_geoip_update\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Set the active GPG key for the Repository.
    # Set the active GPG key for the Repository.
    # @param owner 
    # @param identifier 
    # @param [Hash] opts the optional parameters
    # @option opts [RepositoryGpgKeyCreate] :data 
    # @return [RepositoryGpgKey]
    def repos_gpg_create(owner, identifier, opts = {})
      data, _status_code, _headers = repos_gpg_create_with_http_info(owner, identifier, opts)
      data
    end

    # Set the active GPG key for the Repository.
    # Set the active GPG key for the Repository.
    # @param owner 
    # @param identifier 
    # @param [Hash] opts the optional parameters
    # @option opts [RepositoryGpgKeyCreate] :data 
    # @return [Array<(RepositoryGpgKey, Fixnum, Hash)>] RepositoryGpgKey data, response status code and response headers
    def repos_gpg_create_with_http_info(owner, identifier, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ReposApi.repos_gpg_create ...'
      end
      # verify the required parameter 'owner' is set
      if @api_client.config.client_side_validation && owner.nil?
        fail ArgumentError, "Missing the required parameter 'owner' when calling ReposApi.repos_gpg_create"
      end
      # verify the required parameter 'identifier' is set
      if @api_client.config.client_side_validation && identifier.nil?
        fail ArgumentError, "Missing the required parameter 'identifier' when calling ReposApi.repos_gpg_create"
      end
      # resource path
      local_var_path = '/repos/{owner}/{identifier}/gpg/'.sub('{' + 'owner' + '}', owner.to_s).sub('{' + 'identifier' + '}', identifier.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(opts[:'data'])
      auth_names = ['apikey', 'basic', 'token']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'RepositoryGpgKey')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ReposApi#repos_gpg_create\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Retrieve the active GPG key for the Repository.
    # Retrieve the active GPG key for the Repository.
    # @param owner 
    # @param identifier 
    # @param [Hash] opts the optional parameters
    # @return [RepositoryGpgKey]
    def repos_gpg_list(owner, identifier, opts = {})
      data, _status_code, _headers = repos_gpg_list_with_http_info(owner, identifier, opts)
      data
    end

    # Retrieve the active GPG key for the Repository.
    # Retrieve the active GPG key for the Repository.
    # @param owner 
    # @param identifier 
    # @param [Hash] opts the optional parameters
    # @return [Array<(RepositoryGpgKey, Fixnum, Hash)>] RepositoryGpgKey data, response status code and response headers
    def repos_gpg_list_with_http_info(owner, identifier, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ReposApi.repos_gpg_list ...'
      end
      # verify the required parameter 'owner' is set
      if @api_client.config.client_side_validation && owner.nil?
        fail ArgumentError, "Missing the required parameter 'owner' when calling ReposApi.repos_gpg_list"
      end
      # verify the required parameter 'identifier' is set
      if @api_client.config.client_side_validation && identifier.nil?
        fail ArgumentError, "Missing the required parameter 'identifier' when calling ReposApi.repos_gpg_list"
      end
      # resource path
      local_var_path = '/repos/{owner}/{identifier}/gpg/'.sub('{' + 'owner' + '}', owner.to_s).sub('{' + 'identifier' + '}', identifier.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['apikey', 'basic', 'token']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'RepositoryGpgKey')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ReposApi#repos_gpg_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Regenerate GPG Key for the Repository.
    # Regenerate GPG Key for the Repository.
    # @param owner 
    # @param identifier 
    # @param [Hash] opts the optional parameters
    # @return [RepositoryGpgKey]
    def repos_gpg_regenerate(owner, identifier, opts = {})
      data, _status_code, _headers = repos_gpg_regenerate_with_http_info(owner, identifier, opts)
      data
    end

    # Regenerate GPG Key for the Repository.
    # Regenerate GPG Key for the Repository.
    # @param owner 
    # @param identifier 
    # @param [Hash] opts the optional parameters
    # @return [Array<(RepositoryGpgKey, Fixnum, Hash)>] RepositoryGpgKey data, response status code and response headers
    def repos_gpg_regenerate_with_http_info(owner, identifier, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ReposApi.repos_gpg_regenerate ...'
      end
      # verify the required parameter 'owner' is set
      if @api_client.config.client_side_validation && owner.nil?
        fail ArgumentError, "Missing the required parameter 'owner' when calling ReposApi.repos_gpg_regenerate"
      end
      # verify the required parameter 'identifier' is set
      if @api_client.config.client_side_validation && identifier.nil?
        fail ArgumentError, "Missing the required parameter 'identifier' when calling ReposApi.repos_gpg_regenerate"
      end
      # resource path
      local_var_path = '/repos/{owner}/{identifier}/gpg/regenerate/'.sub('{' + 'owner' + '}', owner.to_s).sub('{' + 'identifier' + '}', identifier.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['apikey', 'basic', 'token']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'RepositoryGpgKey')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ReposApi#repos_gpg_regenerate\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Get a list of all repositories within a namespace.
    # Get a list of all repositories within a namespace.
    # @param owner 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page A page number within the paginated result set.
    # @option opts [Integer] :page_size Number of results to return per page.
    # @return [Array<Repository>]
    def repos_namespace_list(owner, opts = {})
      data, _status_code, _headers = repos_namespace_list_with_http_info(owner, opts)
      data
    end

    # Get a list of all repositories within a namespace.
    # Get a list of all repositories within a namespace.
    # @param owner 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page A page number within the paginated result set.
    # @option opts [Integer] :page_size Number of results to return per page.
    # @return [Array<(Array<Repository>, Fixnum, Hash)>] Array<Repository> data, response status code and response headers
    def repos_namespace_list_with_http_info(owner, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ReposApi.repos_namespace_list ...'
      end
      # verify the required parameter 'owner' is set
      if @api_client.config.client_side_validation && owner.nil?
        fail ArgumentError, "Missing the required parameter 'owner' when calling ReposApi.repos_namespace_list"
      end
      # resource path
      local_var_path = '/repos/{owner}/'.sub('{' + 'owner' + '}', owner.to_s)

      # query parameters
      query_params = {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'page_size'] = opts[:'page_size'] if !opts[:'page_size'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['apikey', 'basic', 'token']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'Array<Repository>')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ReposApi#repos_namespace_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Update details about a repository in a given namespace.
    # Update details about a repository in a given namespace.
    # @param owner 
    # @param identifier 
    # @param [Hash] opts the optional parameters
    # @option opts [RepositoryRequestPatch] :data 
    # @return [Repository]
    def repos_partial_update(owner, identifier, opts = {})
      data, _status_code, _headers = repos_partial_update_with_http_info(owner, identifier, opts)
      data
    end

    # Update details about a repository in a given namespace.
    # Update details about a repository in a given namespace.
    # @param owner 
    # @param identifier 
    # @param [Hash] opts the optional parameters
    # @option opts [RepositoryRequestPatch] :data 
    # @return [Array<(Repository, Fixnum, Hash)>] Repository data, response status code and response headers
    def repos_partial_update_with_http_info(owner, identifier, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ReposApi.repos_partial_update ...'
      end
      # verify the required parameter 'owner' is set
      if @api_client.config.client_side_validation && owner.nil?
        fail ArgumentError, "Missing the required parameter 'owner' when calling ReposApi.repos_partial_update"
      end
      # verify the required parameter 'identifier' is set
      if @api_client.config.client_side_validation && identifier.nil?
        fail ArgumentError, "Missing the required parameter 'identifier' when calling ReposApi.repos_partial_update"
      end
      # resource path
      local_var_path = '/repos/{owner}/{identifier}/'.sub('{' + 'owner' + '}', owner.to_s).sub('{' + 'identifier' + '}', identifier.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(opts[:'data'])
      auth_names = ['apikey', 'basic', 'token']
      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'Repository')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ReposApi#repos_partial_update\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # List all explicity created privileges for the repository.
    # List all explicity created privileges for the repository.
    # @param owner 
    # @param identifier 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page A page number within the paginated result set.
    # @option opts [Integer] :page_size Number of results to return per page.
    # @return [RepositoryPrivilegeInput]
    def repos_privileges_list(owner, identifier, opts = {})
      data, _status_code, _headers = repos_privileges_list_with_http_info(owner, identifier, opts)
      data
    end

    # List all explicity created privileges for the repository.
    # List all explicity created privileges for the repository.
    # @param owner 
    # @param identifier 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page A page number within the paginated result set.
    # @option opts [Integer] :page_size Number of results to return per page.
    # @return [Array<(RepositoryPrivilegeInput, Fixnum, Hash)>] RepositoryPrivilegeInput data, response status code and response headers
    def repos_privileges_list_with_http_info(owner, identifier, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ReposApi.repos_privileges_list ...'
      end
      # verify the required parameter 'owner' is set
      if @api_client.config.client_side_validation && owner.nil?
        fail ArgumentError, "Missing the required parameter 'owner' when calling ReposApi.repos_privileges_list"
      end
      # verify the required parameter 'identifier' is set
      if @api_client.config.client_side_validation && identifier.nil?
        fail ArgumentError, "Missing the required parameter 'identifier' when calling ReposApi.repos_privileges_list"
      end
      # resource path
      local_var_path = '/repos/{owner}/{identifier}/privileges'.sub('{' + 'owner' + '}', owner.to_s).sub('{' + 'identifier' + '}', identifier.to_s)

      # query parameters
      query_params = {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'page_size'] = opts[:'page_size'] if !opts[:'page_size'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['apikey', 'basic', 'token']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'RepositoryPrivilegeInput')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ReposApi#repos_privileges_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Modify privileges for the repository.
    # Modify privileges for the repository.
    # @param owner 
    # @param identifier 
    # @param [Hash] opts the optional parameters
    # @option opts [RepositoryPrivilegeInputRequestPatch] :data 
    # @return [nil]
    def repos_privileges_partial_update(owner, identifier, opts = {})
      repos_privileges_partial_update_with_http_info(owner, identifier, opts)
      nil
    end

    # Modify privileges for the repository.
    # Modify privileges for the repository.
    # @param owner 
    # @param identifier 
    # @param [Hash] opts the optional parameters
    # @option opts [RepositoryPrivilegeInputRequestPatch] :data 
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def repos_privileges_partial_update_with_http_info(owner, identifier, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ReposApi.repos_privileges_partial_update ...'
      end
      # verify the required parameter 'owner' is set
      if @api_client.config.client_side_validation && owner.nil?
        fail ArgumentError, "Missing the required parameter 'owner' when calling ReposApi.repos_privileges_partial_update"
      end
      # verify the required parameter 'identifier' is set
      if @api_client.config.client_side_validation && identifier.nil?
        fail ArgumentError, "Missing the required parameter 'identifier' when calling ReposApi.repos_privileges_partial_update"
      end
      # resource path
      local_var_path = '/repos/{owner}/{identifier}/privileges'.sub('{' + 'owner' + '}', owner.to_s).sub('{' + 'identifier' + '}', identifier.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(opts[:'data'])
      auth_names = ['apikey', 'basic', 'token']
      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ReposApi#repos_privileges_partial_update\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Replace all existing repository privileges with those specified.
    # Replace all existing repository privileges with those specified.
    # @param owner 
    # @param identifier 
    # @param [Hash] opts the optional parameters
    # @option opts [RepositoryPrivilegeInputRequest] :data 
    # @return [nil]
    def repos_privileges_update(owner, identifier, opts = {})
      repos_privileges_update_with_http_info(owner, identifier, opts)
      nil
    end

    # Replace all existing repository privileges with those specified.
    # Replace all existing repository privileges with those specified.
    # @param owner 
    # @param identifier 
    # @param [Hash] opts the optional parameters
    # @option opts [RepositoryPrivilegeInputRequest] :data 
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def repos_privileges_update_with_http_info(owner, identifier, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ReposApi.repos_privileges_update ...'
      end
      # verify the required parameter 'owner' is set
      if @api_client.config.client_side_validation && owner.nil?
        fail ArgumentError, "Missing the required parameter 'owner' when calling ReposApi.repos_privileges_update"
      end
      # verify the required parameter 'identifier' is set
      if @api_client.config.client_side_validation && identifier.nil?
        fail ArgumentError, "Missing the required parameter 'identifier' when calling ReposApi.repos_privileges_update"
      end
      # resource path
      local_var_path = '/repos/{owner}/{identifier}/privileges'.sub('{' + 'owner' + '}', owner.to_s).sub('{' + 'identifier' + '}', identifier.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(opts[:'data'])
      auth_names = ['apikey', 'basic', 'token']
      data, status_code, headers = @api_client.call_api(:PUT, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ReposApi#repos_privileges_update\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Get a specific repository.
    # Get a specific repository.
    # @param owner 
    # @param identifier 
    # @param [Hash] opts the optional parameters
    # @return [Repository]
    def repos_read(owner, identifier, opts = {})
      data, _status_code, _headers = repos_read_with_http_info(owner, identifier, opts)
      data
    end

    # Get a specific repository.
    # Get a specific repository.
    # @param owner 
    # @param identifier 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Repository, Fixnum, Hash)>] Repository data, response status code and response headers
    def repos_read_with_http_info(owner, identifier, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ReposApi.repos_read ...'
      end
      # verify the required parameter 'owner' is set
      if @api_client.config.client_side_validation && owner.nil?
        fail ArgumentError, "Missing the required parameter 'owner' when calling ReposApi.repos_read"
      end
      # verify the required parameter 'identifier' is set
      if @api_client.config.client_side_validation && identifier.nil?
        fail ArgumentError, "Missing the required parameter 'identifier' when calling ReposApi.repos_read"
      end
      # resource path
      local_var_path = '/repos/{owner}/{identifier}/'.sub('{' + 'owner' + '}', owner.to_s).sub('{' + 'identifier' + '}', identifier.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['apikey', 'basic', 'token']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'Repository')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ReposApi#repos_read\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Set the active RSA key for the Repository.
    # Set the active RSA key for the Repository.
    # @param owner 
    # @param identifier 
    # @param [Hash] opts the optional parameters
    # @option opts [RepositoryRsaKeyCreate] :data 
    # @return [RepositoryRsaKey]
    def repos_rsa_create(owner, identifier, opts = {})
      data, _status_code, _headers = repos_rsa_create_with_http_info(owner, identifier, opts)
      data
    end

    # Set the active RSA key for the Repository.
    # Set the active RSA key for the Repository.
    # @param owner 
    # @param identifier 
    # @param [Hash] opts the optional parameters
    # @option opts [RepositoryRsaKeyCreate] :data 
    # @return [Array<(RepositoryRsaKey, Fixnum, Hash)>] RepositoryRsaKey data, response status code and response headers
    def repos_rsa_create_with_http_info(owner, identifier, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ReposApi.repos_rsa_create ...'
      end
      # verify the required parameter 'owner' is set
      if @api_client.config.client_side_validation && owner.nil?
        fail ArgumentError, "Missing the required parameter 'owner' when calling ReposApi.repos_rsa_create"
      end
      # verify the required parameter 'identifier' is set
      if @api_client.config.client_side_validation && identifier.nil?
        fail ArgumentError, "Missing the required parameter 'identifier' when calling ReposApi.repos_rsa_create"
      end
      # resource path
      local_var_path = '/repos/{owner}/{identifier}/rsa/'.sub('{' + 'owner' + '}', owner.to_s).sub('{' + 'identifier' + '}', identifier.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(opts[:'data'])
      auth_names = ['apikey', 'basic', 'token']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'RepositoryRsaKey')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ReposApi#repos_rsa_create\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Retrieve the active RSA key for the Repository.
    # Retrieve the active RSA key for the Repository.
    # @param owner 
    # @param identifier 
    # @param [Hash] opts the optional parameters
    # @return [RepositoryRsaKey]
    def repos_rsa_list(owner, identifier, opts = {})
      data, _status_code, _headers = repos_rsa_list_with_http_info(owner, identifier, opts)
      data
    end

    # Retrieve the active RSA key for the Repository.
    # Retrieve the active RSA key for the Repository.
    # @param owner 
    # @param identifier 
    # @param [Hash] opts the optional parameters
    # @return [Array<(RepositoryRsaKey, Fixnum, Hash)>] RepositoryRsaKey data, response status code and response headers
    def repos_rsa_list_with_http_info(owner, identifier, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ReposApi.repos_rsa_list ...'
      end
      # verify the required parameter 'owner' is set
      if @api_client.config.client_side_validation && owner.nil?
        fail ArgumentError, "Missing the required parameter 'owner' when calling ReposApi.repos_rsa_list"
      end
      # verify the required parameter 'identifier' is set
      if @api_client.config.client_side_validation && identifier.nil?
        fail ArgumentError, "Missing the required parameter 'identifier' when calling ReposApi.repos_rsa_list"
      end
      # resource path
      local_var_path = '/repos/{owner}/{identifier}/rsa/'.sub('{' + 'owner' + '}', owner.to_s).sub('{' + 'identifier' + '}', identifier.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['apikey', 'basic', 'token']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'RepositoryRsaKey')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ReposApi#repos_rsa_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Regenerate RSA Key for the Repository.
    # Regenerate RSA Key for the Repository.
    # @param owner 
    # @param identifier 
    # @param [Hash] opts the optional parameters
    # @return [RepositoryRsaKey]
    def repos_rsa_regenerate(owner, identifier, opts = {})
      data, _status_code, _headers = repos_rsa_regenerate_with_http_info(owner, identifier, opts)
      data
    end

    # Regenerate RSA Key for the Repository.
    # Regenerate RSA Key for the Repository.
    # @param owner 
    # @param identifier 
    # @param [Hash] opts the optional parameters
    # @return [Array<(RepositoryRsaKey, Fixnum, Hash)>] RepositoryRsaKey data, response status code and response headers
    def repos_rsa_regenerate_with_http_info(owner, identifier, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ReposApi.repos_rsa_regenerate ...'
      end
      # verify the required parameter 'owner' is set
      if @api_client.config.client_side_validation && owner.nil?
        fail ArgumentError, "Missing the required parameter 'owner' when calling ReposApi.repos_rsa_regenerate"
      end
      # verify the required parameter 'identifier' is set
      if @api_client.config.client_side_validation && identifier.nil?
        fail ArgumentError, "Missing the required parameter 'identifier' when calling ReposApi.repos_rsa_regenerate"
      end
      # resource path
      local_var_path = '/repos/{owner}/{identifier}/rsa/regenerate/'.sub('{' + 'owner' + '}', owner.to_s).sub('{' + 'identifier' + '}', identifier.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['apikey', 'basic', 'token']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'RepositoryRsaKey')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ReposApi#repos_rsa_regenerate\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Transfer a repository to a different region.
    # Transfer a repository to a different region.
    # @param owner 
    # @param repo 
    # @param [Hash] opts the optional parameters
    # @option opts [RepositoryTransferRegionRequest] :data 
    # @return [nil]
    def repos_transfer_region(owner, repo, opts = {})
      repos_transfer_region_with_http_info(owner, repo, opts)
      nil
    end

    # Transfer a repository to a different region.
    # Transfer a repository to a different region.
    # @param owner 
    # @param repo 
    # @param [Hash] opts the optional parameters
    # @option opts [RepositoryTransferRegionRequest] :data 
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def repos_transfer_region_with_http_info(owner, repo, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ReposApi.repos_transfer_region ...'
      end
      # verify the required parameter 'owner' is set
      if @api_client.config.client_side_validation && owner.nil?
        fail ArgumentError, "Missing the required parameter 'owner' when calling ReposApi.repos_transfer_region"
      end
      # verify the required parameter 'repo' is set
      if @api_client.config.client_side_validation && repo.nil?
        fail ArgumentError, "Missing the required parameter 'repo' when calling ReposApi.repos_transfer_region"
      end
      # resource path
      local_var_path = '/repos/{owner}/{repo}/transfer-region/'.sub('{' + 'owner' + '}', owner.to_s).sub('{' + 'repo' + '}', repo.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(opts[:'data'])
      auth_names = ['apikey', 'basic', 'token']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ReposApi#repos_transfer_region\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Create a Composer upstream config for this repository.
    # Create a Composer upstream config for this repository.
    # @param owner 
    # @param identifier 
    # @param [Hash] opts the optional parameters
    # @option opts [ComposerUpstreamRequest] :data 
    # @return [ComposerUpstream]
    def repos_upstream_composer_create(owner, identifier, opts = {})
      data, _status_code, _headers = repos_upstream_composer_create_with_http_info(owner, identifier, opts)
      data
    end

    # Create a Composer upstream config for this repository.
    # Create a Composer upstream config for this repository.
    # @param owner 
    # @param identifier 
    # @param [Hash] opts the optional parameters
    # @option opts [ComposerUpstreamRequest] :data 
    # @return [Array<(ComposerUpstream, Fixnum, Hash)>] ComposerUpstream data, response status code and response headers
    def repos_upstream_composer_create_with_http_info(owner, identifier, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ReposApi.repos_upstream_composer_create ...'
      end
      # verify the required parameter 'owner' is set
      if @api_client.config.client_side_validation && owner.nil?
        fail ArgumentError, "Missing the required parameter 'owner' when calling ReposApi.repos_upstream_composer_create"
      end
      # verify the required parameter 'identifier' is set
      if @api_client.config.client_side_validation && identifier.nil?
        fail ArgumentError, "Missing the required parameter 'identifier' when calling ReposApi.repos_upstream_composer_create"
      end
      # resource path
      local_var_path = '/repos/{owner}/{identifier}/upstream/composer/'.sub('{' + 'owner' + '}', owner.to_s).sub('{' + 'identifier' + '}', identifier.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(opts[:'data'])
      auth_names = ['apikey', 'basic', 'token']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'ComposerUpstream')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ReposApi#repos_upstream_composer_create\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Delete a Composer upstream config for this repository.
    # Delete a Composer upstream config for this repository.
    # @param owner 
    # @param identifier 
    # @param slug_perm 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def repos_upstream_composer_delete(owner, identifier, slug_perm, opts = {})
      repos_upstream_composer_delete_with_http_info(owner, identifier, slug_perm, opts)
      nil
    end

    # Delete a Composer upstream config for this repository.
    # Delete a Composer upstream config for this repository.
    # @param owner 
    # @param identifier 
    # @param slug_perm 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def repos_upstream_composer_delete_with_http_info(owner, identifier, slug_perm, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ReposApi.repos_upstream_composer_delete ...'
      end
      # verify the required parameter 'owner' is set
      if @api_client.config.client_side_validation && owner.nil?
        fail ArgumentError, "Missing the required parameter 'owner' when calling ReposApi.repos_upstream_composer_delete"
      end
      # verify the required parameter 'identifier' is set
      if @api_client.config.client_side_validation && identifier.nil?
        fail ArgumentError, "Missing the required parameter 'identifier' when calling ReposApi.repos_upstream_composer_delete"
      end
      # verify the required parameter 'slug_perm' is set
      if @api_client.config.client_side_validation && slug_perm.nil?
        fail ArgumentError, "Missing the required parameter 'slug_perm' when calling ReposApi.repos_upstream_composer_delete"
      end
      # resource path
      local_var_path = '/repos/{owner}/{identifier}/upstream/composer/{slug_perm}/'.sub('{' + 'owner' + '}', owner.to_s).sub('{' + 'identifier' + '}', identifier.to_s).sub('{' + 'slug_perm' + '}', slug_perm.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['apikey', 'basic', 'token']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ReposApi#repos_upstream_composer_delete\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # List Composer upstream configs for this repository.
    # List Composer upstream configs for this repository.
    # @param owner 
    # @param identifier 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page A page number within the paginated result set.
    # @option opts [Integer] :page_size Number of results to return per page.
    # @return [Array<ComposerUpstream>]
    def repos_upstream_composer_list(owner, identifier, opts = {})
      data, _status_code, _headers = repos_upstream_composer_list_with_http_info(owner, identifier, opts)
      data
    end

    # List Composer upstream configs for this repository.
    # List Composer upstream configs for this repository.
    # @param owner 
    # @param identifier 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page A page number within the paginated result set.
    # @option opts [Integer] :page_size Number of results to return per page.
    # @return [Array<(Array<ComposerUpstream>, Fixnum, Hash)>] Array<ComposerUpstream> data, response status code and response headers
    def repos_upstream_composer_list_with_http_info(owner, identifier, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ReposApi.repos_upstream_composer_list ...'
      end
      # verify the required parameter 'owner' is set
      if @api_client.config.client_side_validation && owner.nil?
        fail ArgumentError, "Missing the required parameter 'owner' when calling ReposApi.repos_upstream_composer_list"
      end
      # verify the required parameter 'identifier' is set
      if @api_client.config.client_side_validation && identifier.nil?
        fail ArgumentError, "Missing the required parameter 'identifier' when calling ReposApi.repos_upstream_composer_list"
      end
      # resource path
      local_var_path = '/repos/{owner}/{identifier}/upstream/composer/'.sub('{' + 'owner' + '}', owner.to_s).sub('{' + 'identifier' + '}', identifier.to_s)

      # query parameters
      query_params = {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'page_size'] = opts[:'page_size'] if !opts[:'page_size'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['apikey', 'basic', 'token']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'Array<ComposerUpstream>')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ReposApi#repos_upstream_composer_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Partially update a Composer upstream config for this repository.
    # Partially update a Composer upstream config for this repository.
    # @param owner 
    # @param identifier 
    # @param slug_perm 
    # @param [Hash] opts the optional parameters
    # @option opts [ComposerUpstreamRequestPatch] :data 
    # @return [ComposerUpstream]
    def repos_upstream_composer_partial_update(owner, identifier, slug_perm, opts = {})
      data, _status_code, _headers = repos_upstream_composer_partial_update_with_http_info(owner, identifier, slug_perm, opts)
      data
    end

    # Partially update a Composer upstream config for this repository.
    # Partially update a Composer upstream config for this repository.
    # @param owner 
    # @param identifier 
    # @param slug_perm 
    # @param [Hash] opts the optional parameters
    # @option opts [ComposerUpstreamRequestPatch] :data 
    # @return [Array<(ComposerUpstream, Fixnum, Hash)>] ComposerUpstream data, response status code and response headers
    def repos_upstream_composer_partial_update_with_http_info(owner, identifier, slug_perm, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ReposApi.repos_upstream_composer_partial_update ...'
      end
      # verify the required parameter 'owner' is set
      if @api_client.config.client_side_validation && owner.nil?
        fail ArgumentError, "Missing the required parameter 'owner' when calling ReposApi.repos_upstream_composer_partial_update"
      end
      # verify the required parameter 'identifier' is set
      if @api_client.config.client_side_validation && identifier.nil?
        fail ArgumentError, "Missing the required parameter 'identifier' when calling ReposApi.repos_upstream_composer_partial_update"
      end
      # verify the required parameter 'slug_perm' is set
      if @api_client.config.client_side_validation && slug_perm.nil?
        fail ArgumentError, "Missing the required parameter 'slug_perm' when calling ReposApi.repos_upstream_composer_partial_update"
      end
      # resource path
      local_var_path = '/repos/{owner}/{identifier}/upstream/composer/{slug_perm}/'.sub('{' + 'owner' + '}', owner.to_s).sub('{' + 'identifier' + '}', identifier.to_s).sub('{' + 'slug_perm' + '}', slug_perm.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(opts[:'data'])
      auth_names = ['apikey', 'basic', 'token']
      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'ComposerUpstream')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ReposApi#repos_upstream_composer_partial_update\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Retrieve a Composer upstream config for this repository.
    # Retrieve a Composer upstream config for this repository.
    # @param owner 
    # @param identifier 
    # @param slug_perm 
    # @param [Hash] opts the optional parameters
    # @return [ComposerUpstream]
    def repos_upstream_composer_read(owner, identifier, slug_perm, opts = {})
      data, _status_code, _headers = repos_upstream_composer_read_with_http_info(owner, identifier, slug_perm, opts)
      data
    end

    # Retrieve a Composer upstream config for this repository.
    # Retrieve a Composer upstream config for this repository.
    # @param owner 
    # @param identifier 
    # @param slug_perm 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ComposerUpstream, Fixnum, Hash)>] ComposerUpstream data, response status code and response headers
    def repos_upstream_composer_read_with_http_info(owner, identifier, slug_perm, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ReposApi.repos_upstream_composer_read ...'
      end
      # verify the required parameter 'owner' is set
      if @api_client.config.client_side_validation && owner.nil?
        fail ArgumentError, "Missing the required parameter 'owner' when calling ReposApi.repos_upstream_composer_read"
      end
      # verify the required parameter 'identifier' is set
      if @api_client.config.client_side_validation && identifier.nil?
        fail ArgumentError, "Missing the required parameter 'identifier' when calling ReposApi.repos_upstream_composer_read"
      end
      # verify the required parameter 'slug_perm' is set
      if @api_client.config.client_side_validation && slug_perm.nil?
        fail ArgumentError, "Missing the required parameter 'slug_perm' when calling ReposApi.repos_upstream_composer_read"
      end
      # resource path
      local_var_path = '/repos/{owner}/{identifier}/upstream/composer/{slug_perm}/'.sub('{' + 'owner' + '}', owner.to_s).sub('{' + 'identifier' + '}', identifier.to_s).sub('{' + 'slug_perm' + '}', slug_perm.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['apikey', 'basic', 'token']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'ComposerUpstream')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ReposApi#repos_upstream_composer_read\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Update a Composer upstream config for this repository.
    # Update a Composer upstream config for this repository.
    # @param owner 
    # @param identifier 
    # @param slug_perm 
    # @param [Hash] opts the optional parameters
    # @option opts [ComposerUpstreamRequest] :data 
    # @return [ComposerUpstream]
    def repos_upstream_composer_update(owner, identifier, slug_perm, opts = {})
      data, _status_code, _headers = repos_upstream_composer_update_with_http_info(owner, identifier, slug_perm, opts)
      data
    end

    # Update a Composer upstream config for this repository.
    # Update a Composer upstream config for this repository.
    # @param owner 
    # @param identifier 
    # @param slug_perm 
    # @param [Hash] opts the optional parameters
    # @option opts [ComposerUpstreamRequest] :data 
    # @return [Array<(ComposerUpstream, Fixnum, Hash)>] ComposerUpstream data, response status code and response headers
    def repos_upstream_composer_update_with_http_info(owner, identifier, slug_perm, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ReposApi.repos_upstream_composer_update ...'
      end
      # verify the required parameter 'owner' is set
      if @api_client.config.client_side_validation && owner.nil?
        fail ArgumentError, "Missing the required parameter 'owner' when calling ReposApi.repos_upstream_composer_update"
      end
      # verify the required parameter 'identifier' is set
      if @api_client.config.client_side_validation && identifier.nil?
        fail ArgumentError, "Missing the required parameter 'identifier' when calling ReposApi.repos_upstream_composer_update"
      end
      # verify the required parameter 'slug_perm' is set
      if @api_client.config.client_side_validation && slug_perm.nil?
        fail ArgumentError, "Missing the required parameter 'slug_perm' when calling ReposApi.repos_upstream_composer_update"
      end
      # resource path
      local_var_path = '/repos/{owner}/{identifier}/upstream/composer/{slug_perm}/'.sub('{' + 'owner' + '}', owner.to_s).sub('{' + 'identifier' + '}', identifier.to_s).sub('{' + 'slug_perm' + '}', slug_perm.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(opts[:'data'])
      auth_names = ['apikey', 'basic', 'token']
      data, status_code, headers = @api_client.call_api(:PUT, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'ComposerUpstream')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ReposApi#repos_upstream_composer_update\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Create a CRAN upstream config for this repository.
    # Create a CRAN upstream config for this repository.
    # @param owner 
    # @param identifier 
    # @param [Hash] opts the optional parameters
    # @option opts [CranUpstreamRequest] :data 
    # @return [CranUpstream]
    def repos_upstream_cran_create(owner, identifier, opts = {})
      data, _status_code, _headers = repos_upstream_cran_create_with_http_info(owner, identifier, opts)
      data
    end

    # Create a CRAN upstream config for this repository.
    # Create a CRAN upstream config for this repository.
    # @param owner 
    # @param identifier 
    # @param [Hash] opts the optional parameters
    # @option opts [CranUpstreamRequest] :data 
    # @return [Array<(CranUpstream, Fixnum, Hash)>] CranUpstream data, response status code and response headers
    def repos_upstream_cran_create_with_http_info(owner, identifier, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ReposApi.repos_upstream_cran_create ...'
      end
      # verify the required parameter 'owner' is set
      if @api_client.config.client_side_validation && owner.nil?
        fail ArgumentError, "Missing the required parameter 'owner' when calling ReposApi.repos_upstream_cran_create"
      end
      # verify the required parameter 'identifier' is set
      if @api_client.config.client_side_validation && identifier.nil?
        fail ArgumentError, "Missing the required parameter 'identifier' when calling ReposApi.repos_upstream_cran_create"
      end
      # resource path
      local_var_path = '/repos/{owner}/{identifier}/upstream/cran/'.sub('{' + 'owner' + '}', owner.to_s).sub('{' + 'identifier' + '}', identifier.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(opts[:'data'])
      auth_names = ['apikey', 'basic', 'token']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'CranUpstream')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ReposApi#repos_upstream_cran_create\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Delete a CRAN upstream config for this repository.
    # Delete a CRAN upstream config for this repository.
    # @param owner 
    # @param identifier 
    # @param slug_perm 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def repos_upstream_cran_delete(owner, identifier, slug_perm, opts = {})
      repos_upstream_cran_delete_with_http_info(owner, identifier, slug_perm, opts)
      nil
    end

    # Delete a CRAN upstream config for this repository.
    # Delete a CRAN upstream config for this repository.
    # @param owner 
    # @param identifier 
    # @param slug_perm 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def repos_upstream_cran_delete_with_http_info(owner, identifier, slug_perm, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ReposApi.repos_upstream_cran_delete ...'
      end
      # verify the required parameter 'owner' is set
      if @api_client.config.client_side_validation && owner.nil?
        fail ArgumentError, "Missing the required parameter 'owner' when calling ReposApi.repos_upstream_cran_delete"
      end
      # verify the required parameter 'identifier' is set
      if @api_client.config.client_side_validation && identifier.nil?
        fail ArgumentError, "Missing the required parameter 'identifier' when calling ReposApi.repos_upstream_cran_delete"
      end
      # verify the required parameter 'slug_perm' is set
      if @api_client.config.client_side_validation && slug_perm.nil?
        fail ArgumentError, "Missing the required parameter 'slug_perm' when calling ReposApi.repos_upstream_cran_delete"
      end
      # resource path
      local_var_path = '/repos/{owner}/{identifier}/upstream/cran/{slug_perm}/'.sub('{' + 'owner' + '}', owner.to_s).sub('{' + 'identifier' + '}', identifier.to_s).sub('{' + 'slug_perm' + '}', slug_perm.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['apikey', 'basic', 'token']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ReposApi#repos_upstream_cran_delete\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # List CRAN upstream configs for this repository.
    # List CRAN upstream configs for this repository.
    # @param owner 
    # @param identifier 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page A page number within the paginated result set.
    # @option opts [Integer] :page_size Number of results to return per page.
    # @return [Array<CranUpstream>]
    def repos_upstream_cran_list(owner, identifier, opts = {})
      data, _status_code, _headers = repos_upstream_cran_list_with_http_info(owner, identifier, opts)
      data
    end

    # List CRAN upstream configs for this repository.
    # List CRAN upstream configs for this repository.
    # @param owner 
    # @param identifier 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page A page number within the paginated result set.
    # @option opts [Integer] :page_size Number of results to return per page.
    # @return [Array<(Array<CranUpstream>, Fixnum, Hash)>] Array<CranUpstream> data, response status code and response headers
    def repos_upstream_cran_list_with_http_info(owner, identifier, opts = {})
      if @api_client.config.debugging
[...]
