---
swagger: "2.0"
info:
  description: "The API to the Cloudsmith Service"
  version: "v1"
  title: "Cloudsmith API"
  termsOfService: "https://help.cloudsmith.io/docs/terms-and-conditions"
  contact:
    name: "Cloudsmith Support"
    url: "https://help.cloudsmith.io"
    email: "support@cloudsmith.io"
  license:
    name: "MIT"
    url: "https://opensource.org/licenses/MIT"
host: "api.cloudsmith.io"
basePath: "/v1"
schemes:
- "https"
paths:
  /badges/version/{owner}/{repo}/{package_format}/{package_name}/{package_version}/{package_identifiers}/:
    get:
      tags:
      - "badges"
      summary: "Get latest package version for a package or package group."
      description: "Get latest package version for a package or package group."
      operationId: "badges_version_list"
      parameters:
      - name: "owner"
        in: "path"
        description: ""
        required: true
        type: "string"
        x-exportParamName: "Owner"
      - name: "repo"
        in: "path"
        description: ""
        required: true
        type: "string"
        x-exportParamName: "Repo"
      - name: "package_format"
        in: "path"
        description: ""
        required: true
        type: "string"
        x-exportParamName: "PackageFormat"
      - name: "package_name"
        in: "path"
        description: ""
        required: true
        type: "string"
        x-exportParamName: "PackageName"
      - name: "package_version"
        in: "path"
        description: ""
        required: true
        type: "string"
        x-exportParamName: "PackageVersion"
      - name: "package_identifiers"
        in: "path"
        description: ""
        required: true
        type: "string"
        x-exportParamName: "PackageIdentifiers"
      - name: "badge_token"
        in: "query"
        description: "Badge token to authenticate for private packages"
        required: false
        type: "string"
        x-exportParamName: "BadgeToken"
        x-optionalDataType: "String"
      - name: "cacheSeconds"
        in: "query"
        description: "Override the shields.io badge cacheSeconds value."
        required: false
        type: "string"
        x-exportParamName: "CacheSeconds"
        x-optionalDataType: "String"
      - name: "color"
        in: "query"
        description: "Override the shields.io badge color value."
        required: false
        type: "string"
        x-exportParamName: "Color"
        x-optionalDataType: "String"
      - name: "label"
        in: "query"
        description: "Override the shields.io badge label value."
        required: false
        type: "string"
        x-exportParamName: "Label"
        x-optionalDataType: "String"
      - name: "labelColor"
        in: "query"
        description: "Override the shields.io badge labelColor value."
        required: false
        type: "string"
        x-exportParamName: "LabelColor"
        x-optionalDataType: "String"
      - name: "logoColor"
        in: "query"
        description: "Override the shields.io badge logoColor value."
        required: false
        type: "string"
        x-exportParamName: "LogoColor"
        x-optionalDataType: "String"
      - name: "logoWidth"
        in: "query"
        description: "Override the shields.io badge logoWidth value."
        required: false
        type: "string"
        x-exportParamName: "LogoWidth"
        x-optionalDataType: "String"
      - name: "render"
        in: "query"
        description: "If true, badge will be rendered"
        required: false
        type: "boolean"
        x-exportParamName: "Render"
        x-optionalDataType: "Bool"
      - name: "shields"
        in: "query"
        description: "If true, a shields response will be generated"
        required: false
        type: "boolean"
        x-exportParamName: "Shields"
        x-optionalDataType: "Bool"
      - name: "show_latest"
        in: "query"
        description: "If true, for latest version badges a '(latest)' suffix is added"
        required: false
        type: "boolean"
        x-exportParamName: "ShowLatest"
        x-optionalDataType: "Bool"
      - name: "style"
        in: "query"
        description: "Override the shields.io badge style value."
        required: false
        type: "string"
        x-exportParamName: "Style"
        x-optionalDataType: "String"
      security:
      - token: []
      - apikey: []
      - csrf_token: []
      responses:
        "200":
          description: "OK"
          schema: {}
        "400":
          description: "Request could not be processed (see detail)"
          schema:
            $ref: "#/definitions/Status"
        "422":
          description: "Missing or invalid parameters (see detail)"
          schema:
            $ref: "#/definitions/Status"
  /distros/:
    get:
      tags:
      - "distros"
      summary: "Get a list of all supported distributions."
      description: "Get a list of all supported distributions."
      operationId: "distros_list"
      parameters: []
      security:
      - token: []
      - apikey: []
      - csrf_token: []
      responses:
        "200":
          description: "Available package formats retrieved"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/Distribution"
        "400":
          description: "Request could not be processed (see detail)"
          schema:
            $ref: "#/definitions/Status"
        "422":
          description: "Missing or invalid parameters (see detail)"
          schema:
            $ref: "#/definitions/Status"
  /distros/{slug}/:
    get:
      tags:
      - "distros"
      summary: "View for viewing/listing distributions."
      description: "View for viewing/listing distributions."
      operationId: "distros_read"
      parameters:
      - name: "slug"
        in: "path"
        description: ""
        required: true
        type: "string"
        x-exportParamName: "Slug"
      security:
      - token: []
      - apikey: []
      - csrf_token: []
      responses:
        "200":
          description: "OK"
          schema:
            $ref: "#/definitions/Distribution"
        "400":
          description: "Request could not be processed (see detail)"
          schema:
            $ref: "#/definitions/Status"
        "422":
          description: "Missing or invalid parameters (see detail)"
          schema:
            $ref: "#/definitions/Status"
  /entitlements/{owner}/{repo}/:
    get:
      tags:
      - "entitlements"
      summary: "Get a list of all entitlements in a repository."
      description: "Get a list of all entitlements in a repository."
      operationId: "entitlements_list"
      parameters:
      - name: "owner"
        in: "path"
        description: ""
        required: true
        type: "string"
        x-exportParamName: "Owner"
      - name: "repo"
        in: "path"
        description: ""
        required: true
        type: "string"
        x-exportParamName: "Repo"
      - name: "page"
        in: "query"
        description: "A page number within the paginated result set."
        required: false
        type: "integer"
        x-exportParamName: "Page"
        x-optionalDataType: "Int32"
      - name: "page_size"
        in: "query"
        description: "Number of results to return per page."
        required: false
        type: "integer"
        x-exportParamName: "PageSize"
        x-optionalDataType: "Int32"
      - name: "show_tokens"
        in: "query"
        description: "Show entitlement token strings in results"
        required: false
        type: "boolean"
        x-exportParamName: "ShowTokens"
        x-optionalDataType: "Bool"
      security:
      - token: []
      - apikey: []
      - csrf_token: []
      responses:
        "200":
          description: "Retrieved the list of entitlement tokens"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/RepositoryToken"
        "400":
          description: "Request could not be processed (see detail)"
          schema:
            $ref: "#/definitions/Status"
        "404":
          description: "Owner namespace or repository not found"
          schema:
            $ref: "#/definitions/Status"
        "422":
          description: "Missing or invalid parameters (see detail)"
          schema:
            $ref: "#/definitions/Status"
    post:
      tags:
      - "entitlements"
      summary: "Create a specific entitlement in a repository."
      description: "Create a specific entitlement in a repository."
      operationId: "entitlements_create"
      consumes:
      - "application/json"
      parameters:
      - name: "owner"
        in: "path"
        description: ""
        required: true
        type: "string"
        x-exportParamName: "Owner"
      - name: "repo"
        in: "path"
        description: ""
        required: true
        type: "string"
        x-exportParamName: "Repo"
      - name: "show_tokens"
        in: "query"
        description: "Show entitlement token strings in results"
        required: false
        type: "boolean"
        x-exportParamName: "ShowTokens"
        x-optionalDataType: "Bool"
      - in: "body"
        name: "data"
        required: false
        schema:
          $ref: "#/definitions/EntitlementsCreate"
        x-exportParamName: "Data"
      security:
      - token: []
      - apikey: []
      - csrf_token: []
      responses:
        "200":
          description: "Created the specified entitlement"
          schema:
            $ref: "#/definitions/RepositoryToken"
        "400":
          description: "Request could not be processed (see detail)"
          schema:
            $ref: "#/definitions/Status"
        "404":
          description: "Owner namespace or repository not found"
          schema:
            $ref: "#/definitions/Status"
        "422":
          description: "Missing or invalid parameters (see detail)"
          schema:
            $ref: "#/definitions/Status"
  /entitlements/{owner}/{repo}/sync/:
    post:
      tags:
      - "entitlements"
      summary: "Synchronise tokens from a source repository."
      description: "Synchronise tokens from a source repository."
      operationId: "entitlements_sync"
      consumes:
      - "application/json"
      parameters:
      - name: "owner"
        in: "path"
        description: ""
        required: true
        type: "string"
        x-exportParamName: "Owner"
      - name: "repo"
        in: "path"
        description: ""
        required: true
        type: "string"
        x-exportParamName: "Repo"
      - name: "show_tokens"
        in: "query"
        description: "Show entitlement token strings in results"
        required: false
        type: "boolean"
        x-exportParamName: "ShowTokens"
        x-optionalDataType: "Bool"
      - in: "body"
        name: "data"
        required: false
        schema:
          $ref: "#/definitions/EntitlementsSync"
        x-exportParamName: "Data"
      security:
      - token: []
      - apikey: []
      - csrf_token: []
      responses:
        "200":
          description: "The tokens have been synchronised from the source repository"
          schema:
            $ref: "#/definitions/RepositoryTokenSync"
        "400":
          description: "Request could not be processed (see detail)"
          schema:
            $ref: "#/definitions/Status"
        "404":
          description: "Owner namespace or repository not found"
          schema:
            $ref: "#/definitions/Status"
        "422":
          description: "Missing or invalid parameters (see detail)"
          schema:
            $ref: "#/definitions/Status"
  /entitlements/{owner}/{repo}/{identifier}/:
    get:
      tags:
      - "entitlements"
      summary: "Get a specific entitlement in a repository."
      description: "Get a specific entitlement in a repository."
      operationId: "entitlements_read"
      parameters:
      - name: "owner"
        in: "path"
        description: ""
        required: true
        type: "string"
        x-exportParamName: "Owner"
      - name: "repo"
        in: "path"
        description: ""
        required: true
        type: "string"
        x-exportParamName: "Repo"
      - name: "identifier"
        in: "path"
        description: ""
        required: true
        type: "string"
        x-exportParamName: "Identifier"
      - name: "show_tokens"
        in: "query"
        description: "Show entitlement token strings in results"
        required: false
        type: "boolean"
        x-exportParamName: "ShowTokens"
        x-optionalDataType: "Bool"
      security:
      - token: []
      - apikey: []
      - csrf_token: []
      responses:
        "200":
          description: "Retrieved the specified entitlement"
          schema:
            $ref: "#/definitions/RepositoryToken"
        "400":
          description: "Request could not be processed (see detail)"
          schema:
            $ref: "#/definitions/Status"
        "404":
          description: "Owner namespace or repository not found"
          schema:
            $ref: "#/definitions/Status"
        "422":
          description: "Missing or invalid parameters (see detail)"
          schema:
            $ref: "#/definitions/Status"
    delete:
      tags:
      - "entitlements"
      summary: "Delete a specific entitlement in a repository."
      description: "Delete a specific entitlement in a repository."
      operationId: "entitlements_delete"
      parameters:
      - name: "owner"
        in: "path"
        description: ""
        required: true
        type: "string"
        x-exportParamName: "Owner"
      - name: "repo"
        in: "path"
        description: ""
        required: true
        type: "string"
        x-exportParamName: "Repo"
      - name: "identifier"
        in: "path"
        description: ""
        required: true
        type: "string"
        x-exportParamName: "Identifier"
      security:
      - token: []
      - apikey: []
      - csrf_token: []
      responses:
        "204":
          description: "Soft-deleted the specified entitlement token successfully"
        "400":
          description: "The entitlement cannot be deleted"
          schema:
            $ref: "#/definitions/Status"
        "422":
          description: "Missing or invalid parameters (see detail)"
          schema:
            $ref: "#/definitions/Status"
    patch:
      tags:
      - "entitlements"
      summary: "Update a specific entitlement in a repository."
      description: "Update a specific entitlement in a repository."
      operationId: "entitlements_partial_update"
      consumes:
      - "application/json"
      parameters:
      - name: "owner"
        in: "path"
        description: ""
        required: true
        type: "string"
        x-exportParamName: "Owner"
      - name: "repo"
        in: "path"
        description: ""
        required: true
        type: "string"
        x-exportParamName: "Repo"
      - name: "identifier"
        in: "path"
        description: ""
        required: true
        type: "string"
        x-exportParamName: "Identifier"
      - name: "show_tokens"
        in: "query"
        description: "Show entitlement token strings in results"
        required: false
        type: "boolean"
        x-exportParamName: "ShowTokens"
        x-optionalDataType: "Bool"
      - in: "body"
        name: "data"
        required: false
        schema:
          $ref: "#/definitions/EntitlementsPartialUpdate"
        x-exportParamName: "Data"
      security:
      - token: []
      - apikey: []
      - csrf_token: []
      responses:
        "200":
          description: "Updated the specified entitlement"
          schema:
            $ref: "#/definitions/RepositoryToken"
        "400":
          description: "The entitlement cannot be edited"
          schema:
            $ref: "#/definitions/Status"
        "404":
          description: "Owner namespace or repository not found"
          schema:
            $ref: "#/definitions/Status"
        "422":
          description: "Missing or invalid parameters (see detail)"
          schema:
            $ref: "#/definitions/Status"
  /entitlements/{owner}/{repo}/{identifier}/disable/:
    post:
      tags:
      - "entitlements"
      summary: "Disable an entitlement token in a repository."
      description: "Disable an entitlement token in a repository."
      operationId: "entitlements_disable"
      parameters:
      - name: "owner"
        in: "path"
        description: ""
        required: true
        type: "string"
        x-exportParamName: "Owner"
      - name: "repo"
        in: "path"
        description: ""
        required: true
        type: "string"
        x-exportParamName: "Repo"
      - name: "identifier"
        in: "path"
        description: ""
        required: true
        type: "string"
        x-exportParamName: "Identifier"
      security:
      - token: []
      - apikey: []
      - csrf_token: []
      responses:
        "204":
          description: "The entitlement token has been disabled"
        "400":
          description: "Request could not be processed (see detail)"
          schema:
            $ref: "#/definitions/Status"
        "422":
          description: "Missing or invalid parameters (see detail)"
          schema:
            $ref: "#/definitions/Status"
  /entitlements/{owner}/{repo}/{identifier}/enable/:
    post:
      tags:
      - "entitlements"
      summary: "Enable an entitlement token in a repository."
      description: "Enable an entitlement token in a repository."
      operationId: "entitlements_enable"
      parameters:
      - name: "owner"
        in: "path"
        description: ""
        required: true
        type: "string"
        x-exportParamName: "Owner"
      - name: "repo"
        in: "path"
        description: ""
        required: true
        type: "string"
        x-exportParamName: "Repo"
      - name: "identifier"
        in: "path"
        description: ""
        required: true
        type: "string"
        x-exportParamName: "Identifier"
      security:
      - token: []
      - apikey: []
      - csrf_token: []
      responses:
        "204":
          description: "The entitlement token has been enabled"
        "400":
          description: "Request could not be processed (see detail)"
          schema:
            $ref: "#/definitions/Status"
        "422":
          description: "Missing or invalid parameters (see detail)"
          schema:
            $ref: "#/definitions/Status"
  /entitlements/{owner}/{repo}/{identifier}/refresh/:
    post:
      tags:
      - "entitlements"
      summary: "Refresh an entitlement token in a repository."
      description: "Refresh an entitlement token in a repository."
      operationId: "entitlements_refresh"
      consumes:
      - "application/json"
      parameters:
      - name: "owner"
        in: "path"
        description: ""
        required: true
        type: "string"
        x-exportParamName: "Owner"
      - name: "repo"
        in: "path"
        description: ""
        required: true
        type: "string"
        x-exportParamName: "Repo"
      - name: "identifier"
        in: "path"
        description: ""
        required: true
        type: "string"
        x-exportParamName: "Identifier"
      - name: "show_tokens"
        in: "query"
        description: "Show entitlement token strings in results"
        required: false
        type: "boolean"
        x-exportParamName: "ShowTokens"
        x-optionalDataType: "Bool"
      - in: "body"
        name: "data"
        required: false
        schema:
          $ref: "#/definitions/EntitlementsRefresh"
        x-exportParamName: "Data"
      security:
      - token: []
      - apikey: []
      - csrf_token: []
      responses:
        "200":
          description: "The entitlement token has been refreshed"
          schema:
            $ref: "#/definitions/RepositoryTokenRefresh"
        "400":
          description: "Request could not be processed (see detail)"
          schema:
            $ref: "#/definitions/Status"
        "422":
          description: "Missing or invalid parameters (see detail)"
          schema:
            $ref: "#/definitions/Status"
  /entitlements/{owner}/{repo}/{identifier}/reset/:
    post:
      tags:
      - "entitlements"
      summary: "Reset the statistics for an entitlement token in a repository."
      description: "Reset the statistics for an entitlement token in a repository."
      operationId: "entitlements_reset"
      parameters:
      - name: "owner"
        in: "path"
        description: ""
        required: true
        type: "string"
        x-exportParamName: "Owner"
      - name: "repo"
        in: "path"
        description: ""
        required: true
        type: "string"
        x-exportParamName: "Repo"
      - name: "identifier"
        in: "path"
        description: ""
        required: true
        type: "string"
        x-exportParamName: "Identifier"
      - name: "show_tokens"
        in: "query"
        description: "Show entitlement token strings in results"
        required: false
        type: "boolean"
        x-exportParamName: "ShowTokens"
        x-optionalDataType: "Bool"
      security:
      - token: []
      - apikey: []
      - csrf_token: []
      responses:
        "204":
          description: "The entitlement token statistics have been reset"
        "400":
          description: "Request could not be processed (see detail)"
          schema:
            $ref: "#/definitions/Status"
        "422":
          description: "Missing or invalid parameters (see detail)"
          schema:
            $ref: "#/definitions/Status"
  /files/{owner}/{repo}/:
    post:
      tags:
      - "files"
      summary: "Request URL(s) to upload new package file upload(s) to."
      description: "Request URL(s) to upload new package file upload(s) to."
      operationId: "files_create"
      consumes:
      - "application/json"
      parameters:
      - name: "owner"
        in: "path"
        description: ""
        required: true
        type: "string"
        x-exportParamName: "Owner"
      - name: "repo"
        in: "path"
        description: ""
        required: true
        type: "string"
        x-exportParamName: "Repo"
      - in: "body"
        name: "data"
        required: false
        schema:
          $ref: "#/definitions/FilesCreate"
        x-exportParamName: "Data"
      security:
      - token: []
      - apikey: []
      - csrf_token: []
      responses:
        "202":
          description: "The upload request was accepted"
          schema:
            $ref: "#/definitions/PackageFileUpload"
        "400":
          description: "Request could not be processed (see detail)"
          schema:
            $ref: "#/definitions/Status"
        "404":
          description: "Namespace (owner) or repository not found"
          schema:
            $ref: "#/definitions/Status"
        "422":
          description: "Missing or invalid parameters (see detail)"
          schema:
            $ref: "#/definitions/Status"
  /files/{owner}/{repo}/validate/:
    post:
      tags:
      - "files"
      summary: "Validate parameters used for create."
      description: "Validate parameters used for create."
      operationId: "files_validate"
      consumes:
      - "application/json"
      parameters:
      - name: "owner"
        in: "path"
        description: ""
        required: true
        type: "string"
        x-exportParamName: "Owner"
      - name: "repo"
        in: "path"
        description: ""
        required: true
        type: "string"
        x-exportParamName: "Repo"
      - in: "body"
        name: "data"
        required: false
        schema:
          $ref: "#/definitions/FilesValidate"
        x-exportParamName: "Data"
      security:
      - token: []
      - apikey: []
      - csrf_token: []
      responses:
        "204":
          description: "Validation was successful, parameters are OK"
        "400":
          description: "Request could not be processed (see detail)"
          schema:
            $ref: "#/definitions/Status"
        "404":
          description: "Namespace (owner) or repository not found"
          schema:
            $ref: "#/definitions/Status"
        "422":
          description: "Missing or invalid parameters (see detail)"
          schema:
            $ref: "#/definitions/Status"
  /files/{owner}/{repo}/{identifier}/abort/:
    post:
      tags:
      - "files"
      summary: "Abort a multipart file upload."
      description: "Abort a multipart file upload."
      operationId: "files_abort"
      consumes:
      - "application/json"
      parameters:
      - name: "owner"
        in: "path"
        description: ""
        required: true
        type: "string"
        x-exportParamName: "Owner"
      - name: "repo"
        in: "path"
        description: ""
        required: true
        type: "string"
        x-exportParamName: "Repo"
      - name: "identifier"
        in: "path"
        description: ""
        required: true
        type: "string"
        x-exportParamName: "Identifier"
      - in: "body"
        name: "data"
        required: false
        schema:
          $ref: "#/definitions/FilesAbort"
        x-exportParamName: "Data"
      security:
      - token: []
      - apikey: []
      - csrf_token: []
      responses:
        "204":
          description: "The multipart upload was aborted successfully"
        "400":
          description: "The multipart upload could not be aborted"
          schema:
            $ref: "#/definitions/Status"
        "404":
          description: "Namespace (owner), repository or upload file not found"
          schema:
            $ref: "#/definitions/Status"
        "422":
          description: "Missing or invalid parameters (see detail)"
          schema:
            $ref: "#/definitions/Status"
  /files/{owner}/{repo}/{identifier}/complete/:
    post:
      tags:
      - "files"
      summary: "Complete a multipart file upload."
      description: "Complete a multipart file upload."
      operationId: "files_complete"
      consumes:
      - "application/json"
      parameters:
      - name: "owner"
        in: "path"
        description: ""
        required: true
        type: "string"
        x-exportParamName: "Owner"
      - name: "repo"
        in: "path"
        description: ""
        required: true
        type: "string"
        x-exportParamName: "Repo"
      - name: "identifier"
        in: "path"
        description: ""
        required: true
        type: "string"
        x-exportParamName: "Identifier"
      - in: "body"
        name: "data"
        required: false
        schema:
          $ref: "#/definitions/FilesComplete"
        x-exportParamName: "Data"
      security:
      - token: []
      - apikey: []
      - csrf_token: []
      responses:
        "201":
          description: "The multipart upload was completed successfully"
          schema:
            $ref: "#/definitions/PackageFileUpload"
        "400":
          description: "The multipart upload could not be completed"
          schema:
            $ref: "#/definitions/Status"
        "404":
          description: "Namespace (owner), repository or upload file not found"
          schema:
            $ref: "#/definitions/Status"
        "422":
          description: "Missing or invalid parameters (see detail)"
          schema:
            $ref: "#/definitions/Status"
  /files/{owner}/{repo}/{identifier}/info/:
    get:
      tags:
      - "files"
      summary: "Get upload information for a multipart file upload."
      description: "Get upload information for a multipart file upload."
      operationId: "files_info"
      parameters:
      - name: "owner"
        in: "path"
        description: ""
        required: true
        type: "string"
        x-exportParamName: "Owner"
      - name: "repo"
        in: "path"
        description: ""
        required: true
        type: "string"
        x-exportParamName: "Repo"
      - name: "identifier"
        in: "path"
        description: ""
        required: true
        type: "string"
        x-exportParamName: "Identifier"
      security:
      - token: []
      - apikey: []
      - csrf_token: []
      responses:
        "200":
          description: "Information for multipart uploaded retrieved successfully"
          schema:
            $ref: "#/definitions/PackageFilePartsUpload"
        "400":
          description: "The provided upload file was not a multipart upload"
          schema:
            $ref: "#/definitions/Status"
        "404":
          description: "Namespace (owner), repository or upload file not found"
          schema:
            $ref: "#/definitions/Status"
        "422":
          description: "Missing or invalid parameters (see detail)"
          schema:
            $ref: "#/definitions/Status"
  /formats/:
    get:
      tags:
      - "formats"
      summary: "Get a list of all supported package formats."
      description: "Get a list of all supported package formats."
      operationId: "formats_list"
      parameters: []
      security:
      - token: []
      - apikey: []
      - csrf_token: []
      responses:
        "200":
          description: "Available package formats retrieved"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/Format"
        "400":
          description: "Request could not be processed (see detail)"
          schema:
            $ref: "#/definitions/Status"
        "422":
          description: "Missing or invalid parameters (see detail)"
          schema:
            $ref: "#/definitions/Status"
  /formats/{slug}/:
    get:
      tags:
      - "formats"
      summary: "Get a specific supported package format."
      description: "Get a specific supported package format."
      operationId: "formats_read"
      parameters:
      - name: "slug"
        in: "path"
        description: ""
        required: true
        type: "string"
        x-exportParamName: "Slug"
      security:
      - token: []
      - apikey: []
      - csrf_token: []
      responses:
        "200":
          description: "OK"
          schema:
            $ref: "#/definitions/Format"
        "400":
          description: "Request could not be processed (see detail)"
          schema:
            $ref: "#/definitions/Status"
        "422":
          description: "Missing or invalid parameters (see detail)"
          schema:
            $ref: "#/definitions/Status"
  /metrics/entitlements/{owner}/:
    get:
      tags:
      - "metrics"
      summary: "View for listing entitlement token metrics, across an account."
      description: "View for listing entitlement token metrics, across an account."
      operationId: "metrics_entitlements_list"
      parameters:
      - name: "owner"
        in: "path"
        description: ""
        required: true
        type: "string"
        x-exportParamName: "Owner"
      - name: "page"
        in: "query"
        description: "A page number within the paginated result set."
        required: false
        type: "integer"
        x-exportParamName: "Page"
        x-optionalDataType: "Int32"
      - name: "page_size"
        in: "query"
        description: "Number of results to return per page."
        required: false
        type: "integer"
        x-exportParamName: "PageSize"
        x-optionalDataType: "Int32"
      - name: "finish"
        in: "query"
        description: "Include metrics upto and including this UTC date or UTC datetime.\
          \ For example '2020-12-31' or '2021-12-13T00:00:00Z'."
        required: false
        type: "string"
        x-exportParamName: "Finish"
        x-optionalDataType: "String"
      - name: "start"
        in: "query"
        description: "Include metrics from and including this UTC date or UTC datetime.\
          \ For example '2020-12-31' or '2021-12-13T00:00:00Z'."
        required: false
        type: "string"
        x-exportParamName: "Start"
        x-optionalDataType: "String"
      - name: "tokens"
        in: "query"
        description: "A comma seperated list of tokens (slug perm) to include in the\
          \ results."
        required: false
        type: "string"
        x-exportParamName: "Tokens"
        x-optionalDataType: "String"
      security:
      - token: []
      - apikey: []
      - csrf_token: []
      responses:
        "200":
          description: "Retrieved the metrics for entitlements"
          schema:
            $ref: "#/definitions/EntitlementUsageMetrics"
        "400":
          description: "Request could not be processed (see detail)"
          schema:
            $ref: "#/definitions/Status"
        "422":
          description: "Missing or invalid parameters (see detail)"
          schema:
            $ref: "#/definitions/Status"
  /metrics/entitlements/{owner}/{repo}/:
    get:
      tags:
      - "metrics"
      summary: "View for listing entitlement token metrics, for a repository."
      description: "View for listing entitlement token metrics, for a repository."
      operationId: "metrics_entitlements_list_0"
      parameters:
      - name: "owner"
        in: "path"
        description: ""
        required: true
        type: "string"
        x-exportParamName: "Owner"
      - name: "repo"
        in: "path"
        description: ""
        required: true
        type: "string"
        x-exportParamName: "Repo"
      - name: "page"
        in: "query"
        description: "A page number within the paginated result set."
        required: false
        type: "integer"
        x-exportParamName: "Page"
        x-optionalDataType: "Int32"
      - name: "page_size"
        in: "query"
        description: "Number of results to return per page."
        required: false
        type: "integer"
        x-exportParamName: "PageSize"
        x-optionalDataType: "Int32"
      - name: "finish"
        in: "query"
        description: "Include metrics upto and including this UTC date or UTC datetime.\
          \ For example '2020-12-31' or '2021-12-13T00:00:00Z'."
        required: false
        type: "string"
        x-exportParamName: "Finish"
        x-optionalDataType: "String"
      - name: "start"
        in: "query"
        description: "Include metrics from and including this UTC date or UTC datetime.\
          \ For example '2020-12-31' or '2021-12-13T00:00:00Z'."
        required: false
        type: "string"
        x-exportParamName: "Start"
        x-optionalDataType: "String"
      - name: "tokens"
        in: "query"
        description: "A comma seperated list of tokens (slug perm) to include in the\
          \ results."
        required: false
        type: "string"
        x-exportParamName: "Tokens"
        x-optionalDataType: "String"
      security:
      - token: []
      - apikey: []
      - csrf_token: []
      responses:
        "200":
          description: "Retrieved the metrics for entitlements"
          schema:
            $ref: "#/definitions/EntitlementUsageMetrics"
        "400":
          description: "Request could not be processed (see detail)"
          schema:
            $ref: "#/definitions/Status"
        "422":
          description: "Missing or invalid parameters (see detail)"
          schema:
            $ref: "#/definitions/Status"
  /metrics/packages/{owner}/{repo}/:
    get:
      tags:
      - "metrics"
      summary: "View for listing package usage metrics, for a repository."
      description: "View for listing package usage metrics, for a repository."
      operationId: "metrics_packages_list"
      parameters:
      - name: "owner"
        in: "path"
        description: ""
        required: true
        type: "string"
        x-exportParamName: "Owner"
      - name: "repo"
        in: "path"
        description: ""
        required: true
        type: "string"
        x-exportParamName: "Repo"
      - name: "page"
        in: "query"
        description: "A page number within the paginated result set."
        required: false
        type: "integer"
        x-exportParamName: "Page"
        x-optionalDataType: "Int32"
      - name: "page_size"
        in: "query"
        description: "Number of results to return per page."
        required: false
        type: "integer"
        x-exportParamName: "PageSize"
        x-optionalDataType: "Int32"
      - name: "finish"
        in: "query"
        description: "Include metrics upto and including this UTC date or UTC datetime.\
          \ For example '2020-12-31' or '2021-12-13T00:00:00Z'."
        required: false
        type: "string"
        x-exportParamName: "Finish"
        x-optionalDataType: "String"
      - name: "packages"
        in: "query"
        description: "A comma seperated list of packages (slug perm) to include in\
          \ the results."
        required: false
        type: "string"
        x-exportParamName: "Packages"
        x-optionalDataType: "String"
      - name: "start"
        in: "query"
        description: "Include metrics from and including this UTC date or UTC datetime.\
          \ For example '2020-12-31' or '2021-12-13T00:00:00Z'."
        required: false
        type: "string"
        x-exportParamName: "Start"
        x-optionalDataType: "String"
      security:
      - token: []
      - apikey: []
      - csrf_token: []
      responses:
        "200":
          description: "Retrieved the metrics for packages"
          schema:
            $ref: "#/definitions/PackageUsageMetrics"
        "400":
          description: "Request could not be processed (see detail)"
          schema:
            $ref: "#/definitions/Status"
        "422":
          description: "Missing or invalid parameters (see detail)"
          schema:
            $ref: "#/definitions/Status"
  /namespaces/:
    get:
      tags:
      - "namespaces"
      summary: "Get a list of all namespaces the user belongs to."
      description: "Get a list of all namespaces the user belongs to."
      operationId: "namespaces_list"
      parameters:
      - name: "page"
        in: "query"
        description: "A page number within the paginated result set."
        required: false
        type: "integer"
        x-exportParamName: "Page"
        x-optionalDataType: "Int32"
      - name: "page_size"
        in: "query"
        description: "Number of results to return per page."
        required: false
        type: "integer"
        x-exportParamName: "PageSize"
        x-optionalDataType: "Int32"
      security:
      - token: []
      - apikey: []
      - csrf_token: []
      responses:
        "200":
          description: "OK"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/Namespace"
        "400":
          description: "Request could not be processed (see detail)"
          schema:
            $ref: "#/definitions/Status"
        "422":
          description: "Missing or invalid parameters (see detail)"
          schema:
            $ref: "#/definitions/Status"
  /namespaces/{slug}/:
    get:
      tags:
      - "namespaces"
      summary: "Views for working with namespaces."
      description: "Views for working with namespaces."
      operationId: "namespaces_read"
      parameters:
      - name: "slug"
        in: "path"
        description: ""
        required: true
        type: "string"
        x-exportParamName: "Slug"
      security:
      - token: []
      - apikey: []
      - csrf_token: []
      responses:
        "200":
          description: "OK"
          schema:
            $ref: "#/definitions/Namespace"
        "400":
          description: "Request could not be processed (see detail)"
          schema:
            $ref: "#/definitions/Status"
        "422":
          description: "Missing or invalid parameters (see detail)"
          schema:
            $ref: "#/definitions/Status"
  /orgs/:
    get:
      tags:
      - "orgs"
      summary: "Get a list of all the organizations you are associated with."
      description: "Get a list of all the organizations you are associated with."
      operationId: "orgs_list"
      parameters:
      - name: "page"
        in: "query"
        description: "A page number within the paginated result set."
        required: false
        type: "integer"
        x-exportParamName: "Page"
        x-optionalDataType: "Int32"
      - name: "page_size"
        in: "query"
        description: "Number of results to return per page."
        required: false
        type: "integer"
        x-exportParamName: "PageSize"
        x-optionalDataType: "Int32"
      security:
      - token: []
      - apikey: []
      - csrf_token: []
      responses:
        "200":
          description: "OK"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/Organization"
        "400":
          description: "Request could not be processed (see detail)"
          schema:
            $ref: "#/definitions/Status"
        "422":
          description: "Missing or invalid parameters (see detail)"
          schema:
            $ref: "#/definitions/Status"
  /orgs/{org}/:
    get:
      tags:
      - "orgs"
      summary: "Get the details for the specific organization."
      description: "Get the details for the specific organization."
      operationId: "orgs_read"
      parameters:
      - name: "org"
        in: "path"
        description: ""
        required: true
        type: "string"
        x-exportParamName: "Org"
      security:
      - token: []
      - apikey: []
      - csrf_token: []
      responses:
        "200":
          description: "OK"
          schema:
            $ref: "#/definitions/Organization"
        "400":
          description: "Request could not be processed (see detail)"
          schema:
            $ref: "#/definitions/Status"
        "422":
          description: "Missing or invalid parameters (see detail)"
          schema:
            $ref: "#/definitions/Status"
  /orgs/{org}/members/:
    get:
      tags:
      - "orgs"
      summary: "Get the details for all organization members."
      description: "Get the details for all organization members."
      operationId: "orgs_members_list"
      parameters:
      - name: "org"
        in: "path"
        description: ""
        required: true
        type: "string"
        x-exportParamName: "Org"
      - name: "page"
        in: "query"
        description: "A page number within the paginated result set."
        required: false
        type: "integer"
        x-exportParamName: "Page"
        x-optionalDataType: "Int32"
      - name: "page_size"
        in: "query"
        description: "Number of results to return per page."
        required: false
        type: "integer"
        x-exportParamName: "PageSize"
        x-optionalDataType: "Int32"
      security:
      - token: []
      - apikey: []
      - csrf_token: []
      responses:
        "200":
          description: "OK"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/OrganizationMembership"
        "400":
          description: "Request could not be processed (see detail)"
          schema:
            $ref: "#/definitions/Status"
        "422":
          description: "Missing or invalid parameters (see detail)"
          schema:
            $ref: "#/definitions/Status"
  /orgs/{org}/members/{member}/:
    get:
      tags:
      - "orgs"
      summary: "Get the details for a specific organization member."
      description: "Get the details for a specific organization member."
      operationId: "orgs_members_read"
      parameters:
      - name: "org"
        in: "path"
        description: ""
        required: true
        type: "string"
        x-exportParamName: "Org"
      - name: "member"
        in: "path"
        description: ""
        required: true
        type: "string"
        x-exportParamName: "Member"
      security:
      - token: []
      - apikey: []
      - csrf_token: []
      responses:
        "200":
          description: "OK"
          schema:
            $ref: "#/definitions/OrganizationMembership"
        "400":
          description: "Request could not be processed (see detail)"
          schema:
            $ref: "#/definitions/Status"
        "422":
          description: "Missing or invalid parameters (see detail)"
          schema:
            $ref: "#/definitions/Status"
  /orgs/{org}/members/{member}/remove/:
    get:
      tags:
      - "orgs"
      summary: "Removes a member from the organization."
      description: "Removes a member from the organization."
      operationId: "orgs_members_remove"
      parameters:
      - name: "org"
        in: "path"
        description: ""
        required: true
        type: "string"
        x-exportParamName: "Org"
      - name: "member"
        in: "path"
        description: ""
        required: true
        type: "string"
        x-exportParamName: "Member"
      security:
      - token: []
      - apikey: []
      - csrf_token: []
      responses:
        "200":
          description: "OK"
          schema:
            $ref: "#/definitions/OrganizationMembership"
        "400":
          description: "Request could not be processed (see detail)"
          schema:
            $ref: "#/definitions/Status"
        "422":
          description: "Missing or invalid parameters (see detail)"
          schema:
            $ref: "#/definitions/Status"
  /packages/{owner}/{repo}/:
    get:
      tags:
      - "packages"
      summary: "Get a list of all packages associated with repository."
      description: "Get a list of all packages associated with repository."
      operationId: "packages_list"
      parameters:
      - name: "owner"
        in: "path"
        description: ""
        required: true
        type: "string"
        x-exportParamName: "Owner"
      - name: "repo"
        in: "path"
        description: ""
        required: true
        type: "string"
        x-exportParamName: "Repo"
      - name: "page"
        in: "query"
        description: "A page number within the paginated result set."
        required: false
        type: "integer"
        x-exportParamName: "Page"
        x-optionalDataType: "Int32"
      - name: "page_size"
        in: "query"
        description: "Number of results to return per page."
        required: false
        type: "integer"
        x-exportParamName: "PageSize"
        x-optionalDataType: "Int32"
      - name: "query"
        in: "query"
        description: "A search term for querying names, filenames, versions, distributions,\
          \ architectures, formats or statuses of packages."
        required: false
        type: "string"
        x-exportParamName: "Query"
        x-optionalDataType: "String"
      - name: "sort"
        in: "query"
        description: "A field for sorting objects in ascending or descending order."
        required: false
        type: "string"
        x-exportParamName: "Sort"
        x-optionalDataType: "String"
      security:
      - token: []
      - apikey: []
      - csrf_token: []
      responses:
        "200":
          description: "Retrieved the list of packages"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/Package"
        "400":
          description: "Request could not be processed (see detail)"
          schema:
            $ref: "#/definitions/Status"
        "422":
          description: "Missing or invalid parameters (see detail)"
          schema:
            $ref: "#/definitions/Status"
  /packages/{owner}/{repo}/upload/alpine/:
    post:
      tags:
      - "packages"
      summary: "Create a new Alpine package"
      description: "Create a new Alpine package"
      operationId: "packages_upload_alpine"
      consumes:
      - "application/json"
      parameters:
      - name: "owner"
        in: "path"
        description: ""
        required: true
        type: "string"
        x-exportParamName: "Owner"
      - name: "repo"
        in: "path"
        description: ""
        required: true
        type: "string"
        x-exportParamName: "Repo"
      - in: "body"
        name: "data"
        required: false
        schema:
          $ref: "#/definitions/PackagesUploadAlpine"
        x-exportParamName: "Data"
      security:
      - token: []
      - apikey: []
      - csrf_token: []
      responses:
        "201":
          description: "Upload acknowledged and queued for synchronisation"
          schema:
            $ref: "#/definitions/AlpinePackageUpload"
        "400":
          description: "Request could not be processed (see detail)"
          schema:
            $ref: "#/definitions/Status"
        "404":
          description: "Namespace (owner) or repository not found"
          schema:
            $ref: "#/definitions/Status"
        "422":
          description: "Missing or invalid parameters (see detail)"
          schema:
            $ref: "#/definitions/Status"
  /packages/{owner}/{repo}/upload/cargo/:
    post:
      tags:
      - "packages"
      summary: "Create a new Cargo package"
      description: "Create a new Cargo package"
      operationId: "packages_upload_cargo"
      consumes:
      - "application/json"
      parameters:
      - name: "owner"
        in: "path"
        description: ""
        required: true
        type: "string"
        x-exportParamName: "Owner"
      - name: "repo"
        in: "path"
        description: ""
        required: true
        type: "string"
        x-exportParamName: "Repo"
      - in: "body"
        name: "data"
        required: false
        schema:
          $ref: "#/definitions/PackagesUploadCargo"
        x-exportParamName: "Data"
      security:
      - token: []
      - apikey: []
      - csrf_token: []
      responses:
        "201":
          description: "Upload acknowledged and queued for synchronisation"
          schema:
            $ref: "#/definitions/AlpinePackageUpload"
        "400":
          description: "Request could not be processed (see detail)"
          schema:
            $ref: "#/definitions/Status"
        "404":
          description: "Namespace (owner) or repository not found"
          schema:
            $ref: "#/definitions/Status"
        "422":
          description: "Missing or invalid parameters (see detail)"
          schema:
            $ref: "#/definitions/Status"
  /packages/{owner}/{repo}/upload/cocoapods/:
    post:
      tags:
      - "packages"
      summary: "Create a new CocoaPods package"
      description: "Create a new CocoaPods package"
      operationId: "packages_upload_cocoapods"
      consumes:
      - "application/json"
      parameters:
      - name: "owner"
        in: "path"
        description: ""
        required: true
        type: "string"
        x-exportParamName: "Owner"
      - name: "repo"
        in: "path"
        description: ""
        required: true
        type: "string"
        x-exportParamName: "Repo"
      - in: "body"
        name: "data"
        required: false
        schema:
          $ref: "#/definitions/PackagesUploadCocoapods"
        x-exportParamName: "Data"
      security:
      - token: []
      - apikey: []
      - csrf_token: []
      responses:
        "201":
          description: "Upload acknowledged and queued for synchronisation"
          schema:
            $ref: "#/definitions/AlpinePackageUpload"
        "400":
          description: "Request could not be processed (see detail)"
          schema:
            $ref: "#/definitions/Status"
        "404":
          description: "Namespace (owner) or repository not found"
          schema:
            $ref: "#/definitions/Status"
        "422":
          description: "Missing or invalid parameters (see detail)"
          schema:
            $ref: "#/definitions/Status"
  /packages/{owner}/{repo}/upload/composer/:
    post:
      tags:
      - "packages"
      summary: "Create a new Composer package"
      description: "Create a new Composer package"
      operationId: "packages_upload_composer"
      consumes:
      - "application/json"
      parameters:
      - name: "owner"
        in: "path"
        description: ""
        required: true
        type: "string"
        x-exportParamName: "Owner"
      - name: "repo"
        in: "path"
        description: ""
        required: true
        type: "string"
        x-exportParamName: "Repo"
      - in: "body"
        name: "data"
        required: false
        schema:
          $ref: "#/definitions/PackagesUploadComposer"
        x-exportParamName: "Data"
      security:
      - token: []
      - apikey: []
      - csrf_token: []
      responses:
        "201":
          description: "Upload acknowledged and queued for synchronisation"
          schema:
            $ref: "#/definitions/AlpinePackageUpload"
        "400":
          description: "Request could not be processed (see detail)"
          schema:
            $ref: "#/definitions/Status"
        "404":
          description: "Namespace (owner) or repository not found"
          schema:
            $ref: "#/definitions/Status"
        "422":
          description: "Missing or invalid parameters (see detail)"
          schema:
            $ref: "#/definitions/Status"
  /packages/{owner}/{repo}/upload/conan/:
    post:
      tags:
      - "packages"
      summary: "Create a new Conan package"
      description: "Create a new Conan package"
      operationId: "packages_upload_conan"
      consumes:
      - "application/json"
      parameters:
      - name: "owner"
        in: "path"
        description: ""
        required: true
        type: "string"
        x-exportParamName: "Owner"
      - name: "repo"
        in: "path"
        description: ""
        required: true
        type: "string"
        x-exportParamName: "Repo"
      - in: "body"
        name: "data"
        required: false
        schema:
          $ref: "#/definitions/PackagesUploadConan"
        x-exportParamName: "Data"
      security:
      - token: []
      - apikey: []
      - csrf_token: []
      responses:
        "201":
          description: "Upload acknowledged and queued for synchronisation"
          schema:
            $ref: "#/definitions/ConanPackageUpload"
        "400":
          description: "Request could not be processed (see detail)"
          schema:
            $ref: "#/definitions/Status"
        "404":
          description: "Namespace (owner) or repository not found"
          schema:
            $ref: "#/definitions/Status"
        "422":
          description: "Missing or invalid parameters (see detail)"
          schema:
            $ref: "#/definitions/Status"
  /packages/{owner}/{repo}/upload/conda/:
    post:
      tags:
      - "packages"
      summary: "Create a new Conda package"
      description: "Create a new Conda package"
      operationId: "packages_upload_conda"
      consumes:
      - "application/json"
      parameters:
      - name: "owner"
        in: "path"
        description: ""
        required: true
        type: "string"
        x-exportParamName: "Owner"
      - name: "repo"
        in: "path"
        description: ""
        required: true
        type: "string"
        x-exportParamName: "Repo"
      - in: "body"
        name: "data"
        required: false
        schema:
          $ref: "#/definitions/PackagesUploadConda"
        x-exportParamName: "Data"
      security:
      - token: []
      - apikey: []
      - csrf_token: []
      responses:
        "201":
          description: "Upload acknowledged and queued for synchronisation"
          schema:
            $ref: "#/definitions/AlpinePackageUpload"
        "400":
          description: "Request could not be processed (see detail)"
          schema:
            $ref: "#/definitions/Status"
        "404":
          description: "Namespace (owner) or repository not found"
          schema:
            $ref: "#/definitions/Status"
        "422":
          description: "Missing or invalid parameters (see detail)"
          schema:
            $ref: "#/definitions/Status"
  /packages/{owner}/{repo}/upload/cran/:
    post:
      tags:
      - "packages"
      summary: "Create a new CRAN package"
      description: "Create a new CRAN package"
      operationId: "packages_upload_cran"
      consumes:
      - "application/json"
      parameters:
      - name: "owner"
        in: "path"
        description: ""
        required: true
        type: "string"
        x-exportParamName: "Owner"
      - name: "repo"
        in: "path"
        description: ""
        required: true
        type: "string"
        x-exportParamName: "Repo"
      - in: "body"
        name: "data"
        required: false
        schema:
          $ref: "#/definitions/PackagesUploadCran"
        x-exportParamName: "Data"
      security:
      - token: []
      - apikey: []
      - csrf_token: []
      responses:
        "201":
          description: "Upload acknowledged and queued for synchronisation"
          schema:
            $ref: "#/definitions/AlpinePackageUpload"
        "400":
          description: "Request could not be processed (see detail)"
          schema:
            $ref: "#/definitions/Status"
        "404":
          description: "Namespace (owner) or repository not found"
          schema:
            $ref: "#/definitions/Status"
        "422":
          description: "Missing or invalid parameters (see detail)"
          schema:
            $ref: "#/definitions/Status"
  /packages/{owner}/{repo}/upload/dart/:
    post:
      tags:
      - "packages"
      summary: "Create a new Dart package"
      description: "Create a new Dart package"
      operationId: "packages_upload_dart"
      consumes:
      - "application/json"
      parameters:
      - name: "owner"
        in: "path"
        description: ""
        required: true
        type: "string"
        x-exportParamName: "Owner"
      - name: "repo"
        in: "path"
        description: ""
        required: true
        type: "string"
        x-exportParamName: "Repo"
      - in: "body"
        name: "data"
        required: false
        schema:
          $ref: "#/definitions/PackagesUploadDart"
        x-exportParamName: "Data"
      security:
      - token: []
      - apikey: []
      - csrf_token: []
      responses:
        "201":
          description: "Upload acknowledged and queued for synchronisation"
          schema:
            $ref: "#/definitions/AlpinePackageUpload"
        "400":
          description: "Request could not be processed (see detail)"
          schema:
            $ref: "#/definitions/Status"
        "404":
          description: "Namespace (owner) or repository not found"
          schema:
            $ref: "#/definitions/Status"
        "422":
          description: "Missing or invalid parameters (see detail)"
          schema:
            $ref: "#/definitions/Status"
  /packages/{owner}/{repo}/upload/deb/:
    post:
      tags:
      - "packages"
      summary: "Create a new Debian package"
      description: "Create a new Debian package"
      operationId: "packages_upload_deb"
      consumes:
      - "application/json"
      parameters:
      - name: "owner"
        in: "path"
        description: ""
        required: true
        type: "string"
        x-exportParamName: "Owner"
      - name: "repo"
        in: "path"
        description: ""
        required: true
        type: "string"
        x-exportParamName: "Repo"
      - in: "body"
        name: "data"
        required: false
        schema:
          $ref: "#/definitions/PackagesUploadDeb"
        x-exportParamName: "Data"
      security:
      - token: []
      - apikey: []
      - csrf_token: []
      responses:
        "201":
          description: "Upload acknowledged and queued for synchronisation"
          schema:
            $ref: "#/definitions/AlpinePackageUpload"
        "400":
          description: "Request could not be processed (see detail)"
          schema:
            $ref: "#/definitions/Status"
        "404":
          description: "Namespace (owner) or repository not found"
          schema:
            $ref: "#/definitions/Status"
        "422":
          description: "Missing or invalid parameters (see detail)"
          schema:
            $ref: "#/definitions/Status"
  /packages/{owner}/{repo}/upload/docker/:
    post:
      tags:
      - "packages"
      summary: "Create a new Docker package"
      description: "Create a new Docker package"
      operationId: "packages_upload_docker"
      consumes:
      - "application/json"
      parameters:
      - name: "owner"
        in: "path"
        description: ""
        required: true
        type: "string"
        x-exportParamName: "Owner"
      - name: "repo"
        in: "path"
        description: ""
        required: true
        type: "string"
        x-exportParamName: "Repo"
      - in: "body"
        name: "data"
        required: false
        schema:
          $ref: "#/definitions/PackagesUploadDocker"
        x-exportParamName: "Data"
      security:
      - token: []
      - apikey: []
      - csrf_token: []
      responses:
        "201":
          description: "Upload acknowledged and queued for synchronisation"
          schema:
            $ref: "#/definitions/AlpinePackageUpload"
        "400":
          description: "Request could not be processed (see detail)"
          schema:
            $ref: "#/definitions/Status"
        "404":
          description: "Namespace (owner) or repository not found"
          schema:
            $ref: "#/definitions/Status"
        "422":
          description: "Missing or invalid parameters (see detail)"
          schema:
            $ref: "#/definitions/Status"
  /packages/{owner}/{repo}/upload/go/:
    post:
      tags:
      - "packages"
      summary: "Create a new Go package"
      description: "Create a new Go package"
      operationId: "packages_upload_go"
      consumes:
      - "application/json"
      parameters:
      - name: "owner"
        in: "path"
        description: ""
        required: true
        type: "string"
        x-exportParamName: "Owner"
      - name: "repo"
        in: "path"
        description: ""
        required: true
        type: "string"
        x-exportParamName: "Repo"
      - in: "body"
        name: "data"
        required: false
        schema:
          $ref: "#/definitions/PackagesUploadGo"
        x-exportParamName: "Data"
      security:
      - token: []
      - apikey: []
      - csrf_token: []
      responses:
        "201":
          description: "Upload acknowledged and queued for synchronisation"
          schema:
            $ref: "#/definitions/AlpinePackageUpload"
        "400":
          description: "Request could not be processed (see detail)"
          schema:
            $ref: "#/definitions/Status"
        "404":
          description: "Namespace (owner) or repository not found"
          schema:
            $ref: "#/definitions/Status"
        "422":
          description: "Missing or invalid parameters (see detail)"
          schema:
            $ref: "#/definitions/Status"
  /packages/{owner}/{repo}/upload/helm/:
    post:
      tags:
      - "packages"
      summary: "Create a new Helm package"
      description: "Create a new Helm package"
      operationId: "packages_upload_helm"
      consumes:
      - "application/json"
      parameters:
      - name: "owner"
        in: "path"
        description: ""
        required: true
        type: "string"
        x-exportParamName: "Owner"
      - name: "repo"
        in: "path"
        description: ""
        required: true
        type: "string"
        x-exportParamName: "Repo"
      - in: "body"
        name: "data"
        required: false
        schema:
          $ref: "#/definitions/PackagesUploadHelm"
        x-exportParamName: "Data"
      security:
      - token: []
      - apikey: []
      - csrf_token: []
      responses:
        "201":
          description: "Upload acknowledged and queued for synchronisation"
          schema:
            $ref: "#/definitions/AlpinePackageUpload"
        "400":
          description: "Request could not be processed (see detail)"
          schema:
            $ref: "#/definitions/Status"
        "404":
          description: "Namespace (owner) or repository not found"
          schema:
            $ref: "#/definitions/Status"
        "422":
          description: "Missing or invalid parameters (see detail)"
          schema:
            $ref: "#/definitions/Status"
  /packages/{owner}/{repo}/upload/luarocks/:
    post:
      tags:
      - "packages"
      summary: "Create a new LuaRocks package"
      description: "Create a new LuaRocks package"
      operationId: "packages_upload_luarocks"
      consumes:
      - "application/json"
      parameters:
      - name: "owner"
        in: "path"
        description: ""
        required: true
        type: "string"
        x-exportParamName: "Owner"
      - name: "repo"
        in: "path"
        description: ""
        required: true
        type: "string"
        x-exportParamName: "Repo"
      - in: "body"
        name: "data"
        required: false
        schema:
          $ref: "#/definitions/PackagesUploadLuarocks"
        x-exportParamName: "Data"
      security:
      - token: []
      - apikey: []
      - csrf_token: []
      responses:
        "201":
          description: "Upload acknowledged and queued for synchronisation"
          schema:
            $ref: "#/definitions/AlpinePackageUpload"
        "400":
          description: "Request could not be processed (see detail)"
          schema:
            $ref: "#/definitions/Status"
        "404":
          description: "Namespace (owner) or repository not found"
          schema:
            $ref: "#/definitions/Status"
        "422":
          description: "Missing or invalid parameters (see detail)"
          schema:
            $ref: "#/definitions/Status"
  /packages/{owner}/{repo}/upload/maven/:
    post:
      tags:
      - "packages"
      summary: "Create a new Maven package"
      description: "Create a new Maven package"
      operationId: "packages_upload_maven"
      consumes:
      - "application/json"
      parameters:
      - name: "owner"
        in: "path"
        description: ""
        required: true
        type: "string"
        x-exportParamName: "Owner"
      - name: "repo"
        in: "path"
        description: ""
        required: true
        type: "string"
        x-exportParamName: "Repo"
      - in: "body"
        name: "data"
        required: false
        schema:
          $ref: "#/definitions/PackagesUploadMaven"
        x-exportParamName: "Data"
      security:
      - token: []
      - apikey: []
      - csrf_token: []
      responses:
        "201":
          description: "Upload acknowledged and queued for synchronisation"
          schema:
            $ref: "#/definitions/MavenPackageUpload"
        "400":
          description: "Request could not be processed (see detail)"
          schema:
            $ref: "#/definitions/Status"
        "404":
          description: "Namespace (owner) or repository not found"
          schema:
            $ref: "#/definitions/Status"
        "422":
          description: "Missing or invalid parameters (see detail)"
          schema:
            $ref: "#/definitions/Status"
  /packages/{owner}/{repo}/upload/npm/:
    post:
      tags:
      - "packages"
      summary: "Create a new npm package"
      description: "Create a new npm package"
      operationId: "packages_upload_npm"
      consumes:
      - "application/json"
      parameters:
      - name: "owner"
        in: "path"
        description: ""
        required: true
        type: "string"
        x-exportParamName: "Owner"
      - name: "repo"
        in: "path"
        description: ""
        required: true
        type: "string"
        x-exportParamName: "Repo"
      - in: "body"
        name: "data"
        required: false
        schema:
          $ref: "#/definitions/PackagesUploadNpm"
        x-exportParamName: "Data"
      security:
      - token: []
      - apikey: []
      - csrf_token: []
      responses:
        "201":
          description: "Upload acknowledged and queued for synchronisation"
          schema:
            $ref: "#/definitions/AlpinePackageUpload"
        "400":
          description: "Request could not be processed (see detail)"
          schema:
            $ref: "#/definitions/Status"
        "404":
          description: "Namespace (owner) or repository not found"
          schema:
            $ref: "#/definitions/Status"
        "422":
          description: "Missing or invalid parameters (see detail)"
          schema:
            $ref: "#/definitions/Status"
  /packages/{owner}/{repo}/upload/nuget/:
    post:
      tags:
      - "packages"
      summary: "Create a new NuGet package"
      description: "Create a new NuGet package"
      operationId: "packages_upload_nuget"
      consumes:
      - "application/json"
      parameters:
      - name: "owner"
        in: "path"
        description: ""
        required: true
        type: "string"
        x-exportParamName: "Owner"
      - name: "repo"
        in: "path"
        description: ""
        required: true
        type: "string"
        x-exportParamName: "Repo"
      - in: "body"
        name: "data"
        required: false
        schema:
          $ref: "#/definitions/PackagesUploadNuget"
        x-exportParamName: "Data"
      security:
      - token: []
      - apikey: []
      - csrf_token: []
      responses:
        "201":
          description: "Upload acknowledged and queued for synchronisation"
          schema:
            $ref: "#/definitions/AlpinePackageUpload"
        "400":
          description: "Request could not be processed (see detail)"
          schema:
            $ref: "#/definitions/Status"
        "404":
          description: "Namespace (owner) or repository not found"
          schema:
            $ref: "#/definitions/Status"
        "422":
          description: "Missing or invalid parameters (see detail)"
          schema:
            $ref: "#/definitions/Status"
  /packages/{owner}/{repo}/upload/p2/:
    post:
      tags:
      - "packages"
      summary: "Create a new P2 package"
      description: "Create a new P2 package"
      operationId: "packages_upload_p2"
      consumes:
      - "application/json"
      parameters:
      - name: "owner"
        in: "path"
        description: ""
        required: true
        type: "string"
        x-exportParamName: "Owner"
      - name: "repo"
        in: "path"
        description: ""
        required: true
        type: "string"
        x-exportParamName: "Repo"
      - in: "body"
        name: "data"
        required: false
        schema:
          $ref: "#/definitions/PackagesUploadP2"
        x-exportParamName: "Data"
      security:
      - token: []
      - apikey: []
      - csrf_token: []
      responses:
        "201":
          description: "Upload acknowledged and queued for synchronisation"
          schema:
            $ref: "#/definitions/AlpinePackageUpload"
        "400":
          description: "Request could not be processed (see detail)"
          schema:
            $ref: "#/definitions/Status"
        "404":
          description: "Namespace (owner) or repository not found"
          schema:
            $ref: "#/definitions/Status"
        "422":
          description: "Missing or invalid parameters (see detail)"
          schema:
            $ref: "#/definitions/Status"
  /packages/{owner}/{repo}/upload/python/:
    post:
      tags:
      - "packages"
      summary: "Create a new Python package"
      description: "Create a new Python package"
      operationId: "packages_upload_python"
      consumes:
      - "application/json"
      parameters:
      - name: "owner"
        in: "path"
        description: ""
        required: true
        type: "string"
        x-exportParamName: "Owner"
      - name: "repo"
        in: "path"
        description: ""
        required: true
        type: "string"
        x-exportParamName: "Repo"
      - in: "body"
        name: "data"
        required: false
        schema:
          $ref: "#/definitions/PackagesUploadPython"
        x-exportParamName: "Data"
      security:
      - token: []
      - apikey: []
      - csrf_token: []
      responses:
        "201":
          description: "Upload acknowledged and queued for synchronisation"
          schema:
            $ref: "#/definitions/AlpinePackageUpload"
        "400":
          description: "Request could not be processed (see detail)"
          schema:
            $ref: "#/definitions/Status"
        "404":
          description: "Namespace (owner) or repository not found"
          schema:
            $ref: "#/definitions/Status"
        "422":
          description: "Missing or invalid parameters (see detail)"
          schema:
            $ref: "#/definitions/Status"
  /packages/{owner}/{repo}/upload/raw/:
    post:
      tags:
      - "packages"
      summary: "Create a new Raw package"
      description: "Create a new Raw package"
      operationId: "packages_upload_raw"
      consumes:
      - "application/json"
      parameters:
      - name: "owner"
        in: "path"
        description: ""
        required: true
        type: "string"
        x-exportParamName: "Owner"
      - name: "repo"
        in: "path"
        description: ""
        required: true
        type: "string"
        x-exportParamName: "Repo"
      - in: "body"
        name: "data"
        required: false
        schema:
          $ref: "#/definitions/PackagesUploadRaw"
        x-exportParamName: "Data"
      security:
      - token: []
      - apikey: []
      - csrf_token: []
      responses:
        "201":
          description: "Upload acknowledged and queued for synchronisation"
          schema:
            $ref: "#/definitions/RawPackageUpload"
        "400":
          description: "Request could not be processed (see detail)"
          schema:
            $ref: "#/definitions/Status"
        "404":
          description: "Namespace (owner) or repository not found"
          schema:
            $ref: "#/definitions/Status"
        "422":
          description: "Missing or invalid parameters (see detail)"
          schema:
            $ref: "#/definitions/Status"
  /packages/{owner}/{repo}/upload/rpm/:
    post:
      tags:
      - "packages"
      summary: "Create a new RedHat package"
      description: "Create a new RedHat package"
      operationId: "packages_upload_rpm"
      consumes:
      - "application/json"
      parameters:
      - name: "owner"
        in: "path"
        description: ""
        required: true
        type: "string"
        x-exportParamName: "Owner"
      - name: "repo"
        in: "path"
        description: ""
        required: true
        type: "string"
        x-exportParamName: "Repo"
      - in: "body"
        name: "data"
        required: false
        schema:
          $ref: "#/definitions/PackagesUploadRpm"
        x-exportParamName: "Data"
      security:
      - token: []
      - apikey: []
      - csrf_token: []
      responses:
        "201":
          description: "Upload acknowledged and queued for synchronisation"
          schema:
            $ref: "#/definitions/AlpinePackageUpload"
        "400":
          description: "Request could not be processed (see detail)"
          schema:
            $ref: "#/definitions/Status"
        "404":
          description: "Namespace (owner) or repository not found"
          schema:
            $ref: "#/definitions/Status"
        "422":
          description: "Missing or invalid parameters (see detail)"
          schema:
            $ref: "#/definitions/Status"
  /packages/{owner}/{repo}/upload/ruby/:
    post:
      tags:
      - "packages"
      summary: "Create a new Ruby package"
      description: "Create a new Ruby package"
      operationId: "packages_upload_ruby"
      consumes:
      - "application/json"
      parameters:
      - name: "owner"
        in: "path"
        description: ""
        required: true
        type: "string"
        x-exportParamName: "Owner"
      - name: "repo"
        in: "path"
        description: ""
        required: true
        type: "string"
        x-exportParamName: "Repo"
      - in: "body"
        name: "data"
        required: false
        schema:
          $ref: "#/definitions/PackagesUploadRuby"
        x-exportParamName: "Data"
      security:
      - token: []
      - apikey: []
      - csrf_token: []
      responses:
        "201":
          description: "Upload acknowledged and queued for synchronisation"
          schema:
            $ref: "#/definitions/AlpinePackageUpload"
        "400":
          description: "Request could not be processed (see detail)"
          schema:
            $ref: "#/definitions/Status"
        "404":
          description: "Namespace (owner) or repository not found"
          schema:
            $ref: "#/definitions/Status"
        "422":
          description: "Missing or invalid parameters (see detail)"
          schema:
            $ref: "#/definitions/Status"
  /packages/{owner}/{repo}/upload/terraform/:
    post:
      tags:
      - "packages"
      summary: "Create a new Terraform package"
      description: "Create a new Terraform package"
      operationId: "packages_upload_terraform"
      consumes:
      - "application/json"
      parameters:
      - name: "owner"
        in: "path"
        description: ""
        required: true
        type: "string"
        x-exportParamName: "Owner"
      - name: "repo"
        in: "path"
        description: ""
        required: true
        type: "string"
        x-exportParamName: "Repo"
      - in: "body"
        name: "data"
        required: false
        schema:
          $ref: "#/definitions/PackagesUploadTerraform"
        x-exportParamName: "Data"
      security:
      - token: []
      - apikey: []
      - csrf_token: []
      responses:
        "201":
          description: "Upload acknowledged and queued for synchronisation"
          schema:
            $ref: "#/definitions/AlpinePackageUpload"
        "400":
          description: "Request could not be processed (see detail)"
          schema:
            $ref: "#/definitions/Status"
        "404":
          description: "Namespace (owner) or repository not found"
          schema:
            $ref: "#/definitions/Status"
        "422":
          description: "Missing or invalid parameters (see detail)"
          schema:
            $ref: "#/definitions/Status"
  /packages/{owner}/{repo}/upload/vagrant/:
    post:
      tags:
      - "packages"
      summary: "Create a new Vagrant package"
      description: "Create a new Vagrant package"
      operationId: "packages_upload_vagrant"
      consumes:
      - "application/json"
      parameters:
      - name: "owner"
        in: "path"
        description: ""
        required: true
        type: "string"
        x-exportParamName: "Owner"
      - name: "repo"
        in: "path"
        description: ""
        required: true
        type: "string"
        x-exportParamName: "Repo"
      - in: "body"
        name: "data"
        required: false
        schema:
          $ref: "#/definitions/PackagesUploadVagrant"
        x-exportParamName: "Data"
      security:
      - token: []
      - apikey: []
      - csrf_token: []
      responses:
        "201":
          description: "Upload acknowledged and queued for synchronisation"
          schema:
            $ref: "#/definitions/VagrantPackageUpload"
        "400":
          description: "Request could not be processed (see detail)"
          schema:
            $ref: "#/definitions/Status"
        "404":
          description: "Namespace (owner) or repository not found"
          schema:
            $ref: "#/definitions/Status"
        "422":
          description: "Missing or invalid parameters (see detail)"
          schema:
            $ref: "#/definitions/Status"
  /packages/{owner}/{repo}/validate-upload/alpine/:
    post:
      tags:
      - "packages"
      summary: "Validate parameters for create Alpine package"
      description: "Validate parameters for create Alpine package"
      operationId: "packages_validate-upload_alpine"
      consumes:
      - "application/json"
      parameters:
      - name: "owner"
        in: "path"
        description: ""
        required: true
        type: "string"
        x-exportParamName: "Owner"
      - name: "repo"
        in: "path"
        description: ""
        required: true
        type: "string"
        x-exportParamName: "Repo"
      - in: "body"
        name: "data"
        required: false
        schema:
          $ref: "#/definitions/PackagesValidateuploadAlpine"
        x-exportParamName: "Data"
      security:
      - token: []
      - apikey: []
      - csrf_token: []
      responses:
        "204":
          description: "Validation was successful, parameters are OK"
        "400":
          description: "Request could not be processed (see detail)"
          schema:
            $ref: "#/definitions/Status"
        "404":
          description: "Namespace (owner) or repository not found"
          schema:
            $ref: "#/definitions/Status"
        "422":
          description: "Missing or invalid parameters (see detail)"
          schema:
            $ref: "#/definitions/Status"
  /packages/{owner}/{repo}/validate-upload/cargo/:
    post:
      tags:
      - "packages"
      summary: "Validate parameters for create Cargo package"
      description: "Validate parameters for create Cargo package"
      operationId: "packages_validate-upload_cargo"
      consumes:
      - "application/json"
      parameters:
      - name: "owner"
        in: "path"
        description: ""
        required: true
        type: "string"
        x-exportParamName: "Owner"
      - name: "repo"
        in: "path"
        description: ""
        required: true
        type: "string"
        x-exportParamName: "Repo"
      - in: "body"
        name: "data"
        required: false
        schema:
          $ref: "#/definitions/PackagesValidateuploadCargo"
        x-exportParamName: "Data"
      security:
      - token: []
      - apikey: []
      - csrf_token: []
      responses:
        "204":
          description: "Validation was successful, parameters are OK"
        "400":
          description: "Request could not be processed (see detail)"
          schema:
            $ref: "#/definitions/Status"
        "404":
          description: "Namespace (owner) or repository not found"
          schema:
            $ref: "#/definitions/Status"
        "422":
          description: "Missing or invalid parameters (see detail)"
          schema:
            $ref: "#/definitions/Status"
  /packages/{owner}/{repo}/validate-upload/cocoapods/:
    post:
      tags:
      - "packages"
      summary: "Validate parameters for create CocoaPods package"
      description: "Validate parameters for create CocoaPods package"
      operationId: "packages_validate-upload_cocoapods"
      consumes:
      - "application/json"
      parameters:
      - name: "owner"
        in: "path"
        description: ""
        required: true
        type: "string"
        x-exportParamName: "Owner"
      - name: "repo"
        in: "path"
        description: ""
        required: true
        type: "string"
        x-exportParamName: "Repo"
      - in: "body"
        name: "data"
        required: false
        schema:
          $ref: "#/definitions/PackagesValidateuploadCocoapods"
        x-exportParamName: "Data"
      security:
      - token: []
      - apikey: []
      - csrf_token: []
      responses:
        "204":
          description: "Validation was successful, parameters are OK"
        "400":
          description: "Request could not be processed (see detail)"
          schema:
            $ref: "#/definitions/Status"
        "404":
          description: "Namespace (owner) or repository not found"
          schema:
            $ref: "#/definitions/Status"
        "422":
          description: "Missing or invalid parameters (see detail)"
          schema:
            $ref: "#/definitions/Status"
  /packages/{owner}/{repo}/validate-upload/composer/:
    post:
      tags:
      - "packages"
      summary: "Validate parameters for create Composer package"
      description: "Validate parameters for create Composer package"
      operationId: "packages_validate-upload_composer"
      consumes:
      - "application/json"
      parameters:
      - name: "owner"
        in: "path"
        description: ""
        required: true
        type: "string"
        x-exportParamName: "Owner"
      - name: "repo"
        in: "path"
        description: ""
        required: true
        type: "string"
        x-exportParamName: "Repo"
      - in: "body"
        name: "data"
        required: false
        schema:
          $ref: "#/definitions/PackagesValidateuploadComposer"
        x-exportParamName: "Data"
      security:
      - token: []
      - apikey: []
      - csrf_token: []
      responses:
        "204":
          description: "Validation was successful, parameters are OK"
        "400":
          description: "Request could not be processed (see detail)"
          schema:
            $ref: "#/definitions/Status"
        "404":
          description: "Namespace (owner) or repository not found"
          schema:
            $ref: "#/definitions/Status"
        "422":
          description: "Missing or invalid parameters (see detail)"
          schema:
            $ref: "#/definitions/Status"
  /packages/{owner}/{repo}/validate-upload/conan/:
    post:
      tags:
      - "packages"
      summary: "Validate parameters for create Conan package"
      description: "Validate parameters for create Conan package"
      operationId: "packages_validate-upload_conan"
      consumes:
      - "application/json"
      parameters:
      - name: "owner"
        in: "path"
        description: ""
        required: true
        type: "string"
        x-exportParamName: "Owner"
      - name: "repo"
        in: "path"
        description: ""
        required: true
        type: "string"
        x-exportParamName: "Repo"
      - in: "body"
        name: "data"
        required: false
        schema:
          $ref: "#/definitions/PackagesValidateuploadConan"
        x-exportParamName: "Data"
      security:
      - token: []
      - apikey: []
      - csrf_token: []
      responses:
        "204":
          description: "Validation was successful, parameters are OK"
        "400":
          description: "Request could not be processed (see detail)"
          schema:
            $ref: "#/definitions/Status"
        "404":
          description: "Namespace (owner) or repository not found"
          schema:
            $ref: "#/definitions/Status"
        "422":
          description: "Missing or invalid parameters (see detail)"
          schema:
            $ref: "#/definitions/Status"
  /packages/{owner}/{repo}/validate-upload/conda/:
    post:
      tags:
      - "packages"
      summary: "Validate parameters for create Conda package"
      description: "Validate parameters for create Conda package"
      operationId: "packages_validate-upload_conda"
      consumes:
      - "application/json"
      parameters:
      - name: "owner"
        in: "path"
        description: ""
        required: true
        type: "string"
        x-exportParamName: "Owner"
      - name: "repo"
        in: "path"
        description: ""
        required: true
        type: "string"
        x-exportParamName: "Repo"
      - in: "body"
        name: "data"
        required: false
        schema:
          $ref: "#/definitions/PackagesValidateuploadConda"
        x-exportParamName: "Data"
      security:
      - token: []
      - apikey: []
      - csrf_token: []
      responses:
        "204":
          description: "Validation was successful, parameters are OK"
        "400":
          description: "Request could not be processed (see detail)"
          schema:
            $ref: "#/definitions/Status"
        "404":
          description: "Namespace (owner) or repository not found"
          schema:
            $ref: "#/definitions/Status"
        "422":
          description: "Missing or invalid parameters (see detail)"
          schema:
            $ref: "#/definitions/Status"
  /packages/{owner}/{repo}/validate-upload/cran/:
    post:
      tags:
      - "packages"
      summary: "Validate parameters for create CRAN package"
      description: "Validate parameters for create CRAN package"
      operationId: "packages_validate-upload_cran"
      consumes:
      - "application/json"
      parameters:
      - name: "owner"
        in: "path"
        description: ""
        required: true
        type: "string"
        x-exportParamName: "Owner"
      - name: "repo"
        in: "path"
        description: ""
        required: true
        type: "string"
        x-exportParamName: "Repo"
      - in: "body"
        name: "data"
        required: false
        schema:
          $ref: "#/definitions/PackagesValidateuploadCran"
        x-exportParamName: "Data"
      security:
      - token: []
      - apikey: []
      - csrf_token: []
      responses:
        "204":
          description: "Validation was successful, parameters are OK"
        "400":
          description: "Request could not be processed (see detail)"
          schema:
            $ref: "#/definitions/Status"
        "404":
          description: "Namespace (owner) or repository not found"
          schema:
            $ref: "#/definitions/Status"
        "422":
          description: "Missing or invalid parameters (see detail)"
          schema:
            $ref: "#/definitions/Status"
  /packages/{owner}/{repo}/validate-upload/dart/:
    post:
      tags:
      - "packages"
      summary: "Validate parameters for create Dart package"
      description: "Validate parameters for create Dart package"
      operationId: "packages_validate-upload_dart"
      consumes:
      - "application/json"
      parameters:
      - name: "owner"
        in: "path"
        description: ""
        required: true
        type: "string"
        x-exportParamName: "Owner"
      - name: "repo"
        in: "path"
        description: ""
        required: true
        type: "string"
        x-exportParamName: "Repo"
      - in: "body"
        name: "data"
        required: false
        schema:
          $ref: "#/definitions/PackagesValidateuploadDart"
        x-exportParamName: "Data"
      security:
      - token: []
      - apikey: []
      - csrf_token: []
      responses:
        "204":
          description: "Validation was successful, parameters are OK"
        "400":
          description: "Request could not be processed (see detail)"
          schema:
            $ref: "#/definitions/Status"
        "404":
          description: "Namespace (owner) or repository not found"
          schema:
            $ref: "#/definitions/Status"
        "422":
          description: "Missing or invalid parameters (see detail)"
          schema:
            $ref: "#/definitions/Status"
  /packages/{owner}/{repo}/validate-upload/deb/:
    post:
      tags:
      - "packages"
      summary: "Validate parameters for create Debian package"
      description: "Validate parameters for create Debian package"
      operationId: "packages_validate-upload_deb"
      consumes:
      - "application/json"
      parameters:
      - name: "owner"
        in: "path"
        description: ""
        required: true
        type: "string"
        x-exportParamName: "Owner"
      - name: "repo"
        in: "path"
        description: ""
        required: true
        type: "string"
        x-exportParamName: "Repo"
      - in: "body"
        name: "data"
        required: false
        schema:
          $ref: "#/definitions/PackagesValidateuploadDeb"
        x-exportParamName: "Data"
      security:
      - token: []
      - apikey: []
      - csrf_token: []
      responses:
        "204":
          description: "Validation was successful, parameters are OK"
        "400":
          description: "Request could not be processed (see detail)"
          schema:
            $ref: "#/definitions/Status"
        "404":
          description: "Namespace (owner) or repository not found"
          schema:
            $ref: "#/definitions/Status"
        "422":
          description: "Missing or invalid parameters (see detail)"
          schema:
            $ref: "#/definitions/Status"
  /packages/{owner}/{repo}/validate-upload/docker/:
    post:
      tags:
      - "packages"
      summary: "Validate parameters for create Docker package"
      description: "Validate parameters for create Docker package"
      operationId: "packages_validate-upload_docker"
      consumes:
      - "application/json"
      parameters:
      - name: "owner"
        in: "path"
        description: ""
        required: true
        type: "string"
        x-exportParamName: "Owner"
      - name: "repo"
        in: "path"
        description: ""
        required: true
        type: "string"
        x-exportParamName: "Repo"
      - in: "body"
        name: "data"
        required: false
        schema:
          $ref: "#/definitions/PackagesValidateuploadDocker"
        x-exportParamName: "Data"
      security:
      - token: []
      - apikey: []
      - csrf_token: []
      responses:
        "204":
          description: "Validation was successful, parameters are OK"
        "400":
          description: "Request could not be processed (see detail)"
          schema:
            $ref: "#/definitions/Status"
        "404":
          description: "Namespace (owner) or repository not found"
          schema:
            $ref: "#/definitions/Status"
        "422":
          description: "Missing or invalid parameters (see detail)"
          schema:
            $ref: "#/definitions/Status"
  /packages/{owner}/{repo}/validate-upload/go/:
    post:
      tags:
      - "packages"
      summary: "Validate parameters for create Go package"
      description: "Validate parameters for create Go package"
      operationId: "packages_validate-upload_go"
      consumes:
      - "application/json"
      parameters:
      - name: "owner"
        in: "path"
        description: ""
        required: true
        type: "string"
        x-exportParamName: "Owner"
      - name: "repo"
        in: "path"
        description: ""
        required: true
        type: "string"
        x-exportParamName: "Repo"
      - in: "body"
        name: "data"
        required: false
        schema:
          $ref: "#/definitions/PackagesValidateuploadGo"
        x-exportParamName: "Data"
      security:
      - token: []
      - apikey: []
      - csrf_token: []
      responses:
        "204":
          description: "Validation was successful, parameters are OK"
        "400":
          description: "Request could not be processed (see detail)"
          schema:
            $ref: "#/definitions/Status"
        "404":
          description: "Namespace (owner) or repository not found"
          schema:
            $ref: "#/definitions/Status"
        "422":
          description: "Missing or invalid parameters (see detail)"
          schema:
            $ref: "#/definitions/Status"
  /packages/{owner}/{repo}/validate-upload/helm/:
    post:
      tags:
      - "packages"
      summary: "Validate parameters for create Helm package"
      description: "Validate parameters for create Helm package"
      operationId: "packages_validate-upload_helm"
      consumes:
      - "application/json"
      parameters:
      - name: "owner"
        in: "path"
        description: ""
        required: true
        type: "string"
        x-exportParamName: "Owner"
      - name: "repo"
        in: "path"
        description: ""
        required: true
        type: "string"
        x-exportParamName: "Repo"
      - in: "body"
        name: "data"
        required: false
        schema:
          $ref: "#/definitions/PackagesValidateuploadHelm"
        x-exportParamName: "Data"
      security:
      - token: []
      - apikey: []
      - csrf_token: []
      responses:
        "204":
          description: "Validation was successful, parameters are OK"
        "400":
          description: "Request could not be processed (see detail)"
          schema:
            $ref: "#/definitions/Status"
        "404":
          description: "Namespace (owner) or repository not found"
          schema:
            $ref: "#/definitions/Status"
        "422":
          description: "Missing or invalid parameters (see detail)"
          schema:
            $ref: "#/definitions/Status"
  /packages/{owner}/{repo}/validate-upload/luarocks/:
    post:
      tags:
      - "packages"
      summary: "Validate parameters for create LuaRocks package"
      description: "Validate parameters for create LuaRocks package"
      operationId: "packages_validate-upload_luarocks"
      consumes:
      - "application/json"
      parameters:
      - name: "owner"
        in: "path"
        description: ""
        required: true
        type: "string"
        x-exportParamName: "Owner"
      - name: "repo"
        in: "path"
        description: ""
        required: true
        type: "string"
        x-exportParamName: "Repo"
      - in: "body"
        name: "data"
        required: false
        schema:
          $ref: "#/definitions/PackagesValidateuploadLuarocks"
        x-exportParamName: "Data"
      security:
      - token: []
      - apikey: []
      - csrf_token: []
      responses:
        "204":
          description: "Validation was successful, parameters are OK"
        "400":
          description: "Request could not be processed (see detail)"
          schema:
            $ref: "#/definitions/Status"
        "404":
          description: "Namespace (owner) or repository not found"
          schema:
            $ref: "#/definitions/Status"
        "422":
          description: "Missing or invalid parameters (see detail)"
          schema:
            $ref: "#/definitions/Status"
  /packages/{owner}/{repo}/validate-upload/maven/:
    post:
      tags:
      - "packages"
      summary: "Validate parameters for create Maven package"
      description: "Validate parameters for create Maven package"
      operationId: "packages_validate-upload_maven"
      consumes:
      - "application/json"
      parameters:
      - name: "owner"
        in: "path"
        description: ""
        required: true
        type: "string"
        x-exportParamName: "Owner"
      - name: "repo"
        in: "path"
        description: ""
        required: true
        type: "string"
        x-exportParamName: "Repo"
      - in: "body"
        name: "data"
        required: false
        schema:
          $ref: "#/definitions/PackagesValidateuploadMaven"
        x-exportParamName: "Data"
      security:
      - token: []
      - apikey: []
      - csrf_token: []
      responses:
        "204":
          description: "Validation was successful, parameters are OK"
        "400":
          description: "Request could not be processed (see detail)"
          schema:
            $ref: "#/definitions/Status"
        "404":
          description: "Namespace (owner) or repository not found"
          schema:
[...]
