# coding: utf-8

{{>partial_header}}

from setuptools import find_packages, setup  # noqa: H301

NAME = "{{{projectName}}}"
VERSION = "{{packageVersion}}"
# To install the library, run the following
#
# python setup.py install
#
# prerequisite: setuptools
# http://pypi.python.org/pypi/setuptools

{{#apiInfo}}
{{#apis}}
{{^hasMore}}
REQUIRES = [
    "certifi>=2017.4.17",
    "python-dateutil>=2.1",
    "six>=1.10",
    "urllib3>=1.23",
]

{{#asyncio}}
REQUIRES.append("aiohttp")
{{/asyncio}}
{{#tornado}}
REQUIRES.append("tornado")
{{/tornado}}

setup(
    name=NAME,
    version=VERSION,
    description="{{appName}}",
    author_email="{{infoEmail}}",
    url="{{{packageUrl}}}",
    license="Apache-2.0",
    license_files=["LICENSE"],
    python_requires="{{{pythonRequires}}}",
    keywords=["Swagger", "{{appName}}"],
    install_requires=REQUIRES,
    packages=find_packages(exclude=("test", "test.*")),
    include_package_data=True,
    long_description="""\
    {{appDescription}}  # noqa: E501
    """,
    long_description_content_type="text/plain",
)
{{/hasMore}}
{{/apis}}
{{/apiInfo}}
