{"swagger": "2.0", "info": {"title": "Cloudsmith API (v1)", "description": "The API to the Cloudsmith Service", "termsOfService": "https://help.cloudsmith.io", "contact": {"name": "Cloudsmith Support", "url": "https://help.cloudsmith.io", "email": "support@cloudsmith.io"}, "license": {"name": "MIT", "url": "https://opensource.org/licenses/MIT"}, "version": "v1"}, "host": "api.cloudsmith.io", "schemes": ["https"], "basePath": "/", "consumes": ["application/json"], "produces": ["application/json"], "securityDefinitions": {"apikey": {"type": "apiKey", "name": "X-Api-Key", "in": "header"}, "basic": {"type": "basic"}}, "security": [{"apikey": []}, {"basic": []}], "paths": {"/audit-log/{owner}/": {"get": {"operationId": "audit_log_namespace_list", "summary": "Lists audit log entries for a specific namespace.", "description": "Lists audit log entries for a specific namespace.", "parameters": [{"name": "page", "in": "query", "description": "A page number within the paginated result set.", "required": false, "type": "integer"}, {"name": "page_size", "in": "query", "description": "Number of results to return per page.", "required": false, "type": "integer"}, {"name": "query", "in": "query", "description": "A search term for querying events, actors, or timestamps of log records.", "required": false, "type": "string"}], "responses": {"200": {"description": "Retrieved the list of audit log entries", "schema": {"type": "array", "items": {"$ref": "#/definitions/NamespaceAuditLog"}}}, "402": {"description": "Audit logs are not active; upgrade your account!", "schema": {"$ref": "#/definitions/ErrorDetail"}}, "400": {"description": "Request could not be processed (see detail).", "schema": {"$ref": "#/definitions/ErrorDetail"}}, "422": {"description": "Missing or invalid parameters (see detail).", "schema": {"$ref": "#/definitions/ErrorDetail"}}}, "tags": ["audit-log"]}, "parameters": [{"name": "owner", "in": "path", "required": true, "type": "string"}]}, "/audit-log/{owner}/{repo}/": {"get": {"operationId": "audit_log_repo_list", "summary": "Lists audit log entries for a specific repository.", "description": "Lists audit log entries for a specific repository.", "parameters": [{"name": "page", "in": "query", "description": "A page number within the paginated result set.", "required": false, "type": "integer"}, {"name": "page_size", "in": "query", "description": "Number of results to return per page.", "required": false, "type": "integer"}, {"name": "query", "in": "query", "description": "A search term for querying events, actors, or timestamps of log records.", "required": false, "type": "string"}], "responses": {"200": {"description": "Retrieved the list of audit log entries", "schema": {"type": "array", "items": {"$ref": "#/definitions/RepositoryAuditLog"}}}, "402": {"description": "Audit logs are not active; upgrade your account!", "schema": {"$ref": "#/definitions/ErrorDetail"}}, "400": {"description": "Request could not be processed (see detail).", "schema": {"$ref": "#/definitions/ErrorDetail"}}, "422": {"description": "Missing or invalid parameters (see detail).", "schema": {"$ref": "#/definitions/ErrorDetail"}}}, "tags": ["audit-log"]}, "parameters": [{"name": "owner", "in": "path", "required": true, "type": "string"}, {"name": "repo", "in": "path", "required": true, "type": "string"}]}, "/badges/version/{owner}/{repo}/{package_format}/{package_name}/{package_version}/{package_identifiers}/": {"get": {"operationId": "badges_version_list", "summary": "Get latest package version for a package or package group.", "description": "Get latest package version for a package or package group.", "parameters": [{"name": "badge_token", "in": "query", "description": "Badge token to authenticate for private packages", "required": false, "type": "string", "default": ""}, {"name": "cacheSeconds", "in": "query", "description": "Override the shields.io badge cacheSeconds value.", "required": false, "type": "string", "default": "300"}, {"name": "color", "in": "query", "description": "Override the shields.io badge color value.", "required": false, "type": "string", "default": "12577E"}, {"name": "label", "in": "query", "description": "Override the shields.io badge label value.", "required": false, "type": "string", "default": "cloudsmith"}, {"name": "labelColor", "in": "query", "description": "Override the shields.io badge labelColor value.", "required": false, "type": "string", "default": "021F2F"}, {"name": "logoColor", "in": "query", "description": "Override the shields.io badge logoColor value.", "required": false, "type": "string", "default": "45B6EE"}, {"name": "logoWidth", "in": "query", "description": "Override the shields.io badge logoWidth value.", "required": false, "type": "string", "default": "10"}, {"name": "render", "in": "query", "description": "If true, badge will be rendered", "required": false, "type": "boolean", "default": false}, {"name": "shields", "in": "query", "description": "If true, a shields response will be generated", "required": false, "type": "boolean", "default": false}, {"name": "show_latest", "in": "query", "description": "If true, for latest version badges a '(latest)' suffix is added", "required": false, "type": "boolean", "default": false}, {"name": "style", "in": "query", "description": "Override the shields.io badge style value.", "required": false, "type": "string", "default": "flat-square"}], "responses": {"200": {"description": "OK", "schema": {"$ref": "#/definitions/PackageVersionBadge"}}, "400": {"description": "Request could not be processed (see detail).", "schema": {"$ref": "#/definitions/ErrorDetail"}}, "422": {"description": "Missing or invalid parameters (see detail).", "schema": {"$ref": "#/definitions/ErrorDetail"}}}, "tags": ["badges"]}, "parameters": [{"name": "owner", "in": "path", "required": true, "type": "string"}, {"name": "repo", "in": "path", "required": true, "type": "string"}, {"name": "package_format", "in": "path", "required": true, "type": "string"}, {"name": "package_name", "in": "path", "required": true, "type": "string"}, {"name": "package_version", "in": "path", "required": true, "type": "string"}, {"name": "package_identifiers", "in": "path", "required": true, "type": "string"}]}, "/broadcasts/{org}/broadcast-token/": {"post": {"operationId": "broadcasts_create_broadcast_token", "summary": "Create a broadcast token.", "description": "Create a broadcast token.", "parameters": [{"name": "data", "in": "body", "required": false, "schema": {"$ref": "#/definitions/BroadcastTokenInput"}}], "responses": {"201": {"description": "Created", "schema": {"$ref": "#/definitions/BroadcastToken"}}, "200": {"description": "OK", "schema": {"$ref": "#/definitions/BroadcastToken"}}, "422": {"description": "Entitlement token parameter is required.", "schema": {"$ref": "#/definitions/ErrorDetail"}}, "404": {"description": "Entitlement token not found", "schema": {"$ref": "#/definitions/ErrorDetail"}}, "400": {"description": "Request could not be processed (see detail).", "schema": {"$ref": "#/definitions/ErrorDetail"}}}, "tags": ["broadcasts"]}, "parameters": [{"name": "org", "in": "path", "required": true, "type": "string"}]}, "/distros/": {"get": {"operationId": "distros_list", "summary": "Get a list of all supported distributions.", "description": "Get a list of all supported distributions.", "parameters": [], "responses": {"200": {"description": "Available package formats retrieved", "schema": {"type": "array", "items": {"$ref": "#/definitions/DistributionFull"}}}, "400": {"description": "Request could not be processed (see detail).", "schema": {"$ref": "#/definitions/ErrorDetail"}}, "422": {"description": "Missing or invalid parameters (see detail).", "schema": {"$ref": "#/definitions/ErrorDetail"}}}, "tags": ["distros"], "x-simplified": "fields[distributions]=slug,name"}, "parameters": []}, "/distros/{slug}/": {"get": {"operationId": "distros_read", "summary": "View for viewing/listing distributions.", "description": "View for viewing/listing distributions.", "parameters": [], "responses": {"200": {"description": "OK", "schema": {"$ref": "#/definitions/DistributionFull"}}, "400": {"description": "Request could not be processed (see detail).", "schema": {"$ref": "#/definitions/ErrorDetail"}}, "422": {"description": "Missing or invalid parameters (see detail).", "schema": {"$ref": "#/definitions/ErrorDetail"}}}, "tags": ["distros"], "x-simplified": "fields[distributions]=slug,name"}, "parameters": [{"name": "slug", "in": "path", "required": true, "type": "string"}]}, "/entitlements/{owner}/{repo}/": {"get": {"operationId": "entitlements_list", "summary": "Get a list of all entitlements in a repository.", "description": "Get a list of all entitlements in a repository.", "parameters": [{"name": "page", "in": "query", "description": "A page number within the paginated result set.", "required": false, "type": "integer"}, {"name": "page_size", "in": "query", "description": "Number of results to return per page.", "required": false, "type": "integer"}, {"name": "show_tokens", "in": "query", "description": "Show entitlement token strings in results", "required": false, "type": "boolean", "default": false}, {"name": "query", "in": "query", "description": "A search term for querying names of entitlements.", "required": false, "type": "string"}, {"name": "active", "in": "query", "description": "If true, only include active tokens", "required": false, "type": "boolean", "default": false}, {"name": "sort", "in": "query", "description": "A field for sorting objects in ascending or descending order. Use `-` prefix for descending order (e.g., `-name`). Available options: name.", "required": false, "type": "string", "default": "name"}], "responses": {"200": {"description": "Retrieved the list of entitlement tokens", "schema": {"type": "array", "items": {"$ref": "#/definitions/RepositoryToken"}}}, "404": {"description": "Owner namespace or repository not found", "schema": {"$ref": "#/definitions/ErrorDetail"}}, "400": {"description": "Request could not be processed (see detail).", "schema": {"$ref": "#/definitions/ErrorDetail"}}, "422": {"description": "Missing or invalid parameters (see detail).", "schema": {"$ref": "#/definitions/ErrorDetail"}}}, "tags": ["entitlements"]}, "post": {"operationId": "entitlements_create", "summary": "Create a specific entitlement in a repository.", "description": "Create a specific entitlement in a repository.", "parameters": [{"name": "data", "in": "body", "required": false, "schema": {"$ref": "#/definitions/RepositoryTokenRequest"}}, {"name": "show_tokens", "in": "query", "description": "Show entitlement token strings in results", "required": false, "type": "boolean", "default": false}], "responses": {"201": {"description": "Created the specified entitlement", "schema": {"$ref": "#/definitions/RepositoryToken"}}, "404": {"description": "Owner namespace or repository not found", "schema": {"$ref": "#/definitions/ErrorDetail"}}, "400": {"description": "Request could not be processed (see detail).", "schema": {"$ref": "#/definitions/ErrorDetail"}}, "422": {"description": "Missing or invalid parameters (see detail).", "schema": {"$ref": "#/definitions/ErrorDetail"}}}, "tags": ["entitlements"]}, "parameters": [{"name": "owner", "in": "path", "required": true, "type": "string"}, {"name": "repo", "in": "path", "required": true, "type": "string"}]}, "/entitlements/{owner}/{repo}/sync/": {"post": {"operationId": "entitlements_sync", "summary": "Synchronise tokens from a source repository.", "description": "Synchronise tokens from a source repository.", "parameters": [{"name": "data", "in": "body", "required": false, "schema": {"$ref": "#/definitions/RepositoryTokenSyncRequest"}}, {"name": "show_tokens", "in": "query", "description": "Show entitlement token strings in results", "required": false, "type": "boolean", "default": false}], "responses": {"200": {"description": "The tokens have been synchronised from the source repository.", "schema": {"$ref": "#/definitions/RepositoryTokenSync"}}, "404": {"description": "Owner namespace or repository not found", "schema": {"$ref": "#/definitions/ErrorDetail"}}, "400": {"description": "Request could not be processed (see detail).", "schema": {"$ref": "#/definitions/ErrorDetail"}}, "422": {"description": "Missing or invalid parameters (see detail).", "schema": {"$ref": "#/definitions/ErrorDetail"}}}, "tags": ["entitlements"]}, "parameters": [{"name": "owner", "in": "path", "required": true, "type": "string"}, {"name": "repo", "in": "path", "required": true, "type": "string"}]}, "/entitlements/{owner}/{repo}/{identifier}/": {"get": {"operationId": "entitlements_read", "summary": "Get a specific entitlement in a repository.", "description": "Get a specific entitlement in a repository.", "parameters": [{"name": "fuzzy", "in": "query", "description": "If true, entitlement identifiers including name will be fuzzy matched.", "required": false, "type": "boolean", "default": false}, {"name": "show_tokens", "in": "query", "description": "Show entitlement token strings in results", "required": false, "type": "boolean", "default": false}], "responses": {"200": {"description": "Retrieved the specified entitlement", "schema": {"$ref": "#/definitions/RepositoryToken"}}, "400": {"description": "Couldn't retrieve the specified token because the request contains an error.", "schema": {"$ref": "#/definitions/ErrorDetail"}}, "404": {"description": "Owner namespace or repository not found", "schema": {"$ref": "#/definitions/ErrorDetail"}}, "422": {"description": "Missing or invalid parameters (see detail).", "schema": {"$ref": "#/definitions/ErrorDetail"}}}, "tags": ["entitlements"]}, "patch": {"operationId": "entitlements_partial_update", "summary": "Update a specific entitlement in a repository.", "description": "Update a specific entitlement in a repository.", "parameters": [{"name": "data", "in": "body", "required": false, "schema": {"$ref": "#/definitions/RepositoryTokenRequestPatch"}}, {"name": "show_tokens", "in": "query", "description": "Show entitlement token strings in results", "required": false, "type": "boolean", "default": false}], "responses": {"200": {"description": "Updated the specified entitlement", "schema": {"$ref": "#/definitions/RepositoryToken"}}, "400": {"description": "The entitlement cannot be edited.", "schema": {"$ref": "#/definitions/ErrorDetail"}}, "404": {"description": "Owner namespace or repository not found", "schema": {"$ref": "#/definitions/ErrorDetail"}}, "422": {"description": "Missing or invalid parameters (see detail).", "schema": {"$ref": "#/definitions/ErrorDetail"}}}, "tags": ["entitlements"]}, "delete": {"operationId": "entitlements_delete", "summary": "Delete a specific entitlement in a repository.", "description": "Delete a specific entitlement in a repository.", "parameters": [], "responses": {"204": {"description": "Soft-deleted the specified entitlement token successfully."}, "400": {"description": "The entitlement cannot be deleted.", "schema": {"$ref": "#/definitions/ErrorDetail"}}, "422": {"description": "Missing or invalid parameters (see detail).", "schema": {"$ref": "#/definitions/ErrorDetail"}}}, "tags": ["entitlements"]}, "parameters": [{"name": "owner", "in": "path", "required": true, "type": "string"}, {"name": "repo", "in": "path", "required": true, "type": "string"}, {"name": "identifier", "in": "path", "required": true, "type": "string"}]}, "/entitlements/{owner}/{repo}/{identifier}/disable/": {"post": {"operationId": "entitlements_disable", "summary": "Disable an entitlement token in a repository.", "description": "Disable an entitlement token in a repository.", "parameters": [], "responses": {"204": {"description": "The entitlement token has been disabled."}, "400": {"description": "Request could not be processed (see detail).", "schema": {"$ref": "#/definitions/ErrorDetail"}}, "422": {"description": "Missing or invalid parameters (see detail).", "schema": {"$ref": "#/definitions/ErrorDetail"}}}, "tags": ["entitlements"]}, "parameters": [{"name": "owner", "in": "path", "required": true, "type": "string"}, {"name": "repo", "in": "path", "required": true, "type": "string"}, {"name": "identifier", "in": "path", "required": true, "type": "string"}]}, "/entitlements/{owner}/{repo}/{identifier}/enable/": {"post": {"operationId": "entitlements_enable", "summary": "Enable an entitlement token in a repository.", "description": "Enable an entitlement token in a repository.", "parameters": [], "responses": {"204": {"description": "The entitlement token has been enabled."}, "400": {"description": "Request could not be processed (see detail).", "schema": {"$ref": "#/definitions/ErrorDetail"}}, "422": {"description": "Missing or invalid parameters (see detail).", "schema": {"$ref": "#/definitions/ErrorDetail"}}}, "tags": ["entitlements"]}, "parameters": [{"name": "owner", "in": "path", "required": true, "type": "string"}, {"name": "repo", "in": "path", "required": true, "type": "string"}, {"name": "identifier", "in": "path", "required": true, "type": "string"}]}, "/entitlements/{owner}/{repo}/{identifier}/refresh/": {"post": {"operationId": "entitlements_refresh", "summary": "Refresh an entitlement token in a repository.", "description": "Refresh an entitlement token in a repository.", "parameters": [{"name": "data", "in": "body", "required": false, "schema": {"$ref": "#/definitions/RepositoryTokenRefreshRequest"}}, {"name": "show_tokens", "in": "query", "description": "Show entitlement token strings in results", "required": false, "type": "boolean", "default": false}], "responses": {"200": {"description": "The entitlement token has been refreshed.", "schema": {"$ref": "#/definitions/RepositoryTokenRefresh"}}, "400": {"description": "Request could not be processed (see detail).", "schema": {"$ref": "#/definitions/ErrorDetail"}}, "422": {"description": "Missing or invalid parameters (see detail).", "schema": {"$ref": "#/definitions/ErrorDetail"}}}, "tags": ["entitlements"]}, "parameters": [{"name": "owner", "in": "path", "required": true, "type": "string"}, {"name": "repo", "in": "path", "required": true, "type": "string"}, {"name": "identifier", "in": "path", "required": true, "type": "string"}]}, "/entitlements/{owner}/{repo}/{identifier}/reset/": {"post": {"operationId": "entitlements_reset", "summary": "Reset the statistics for an entitlement token in a repository.", "description": "Reset the statistics for an entitlement token in a repository.", "parameters": [{"name": "show_tokens", "in": "query", "description": "Show entitlement token strings in results", "required": false, "type": "boolean", "default": false}], "responses": {"204": {"description": "The entitlement token statistics have been reset."}, "400": {"description": "Request could not be processed (see detail).", "schema": {"$ref": "#/definitions/ErrorDetail"}}, "422": {"description": "Missing or invalid parameters (see detail).", "schema": {"$ref": "#/definitions/ErrorDetail"}}}, "tags": ["entitlements"]}, "parameters": [{"name": "owner", "in": "path", "required": true, "type": "string"}, {"name": "repo", "in": "path", "required": true, "type": "string"}, {"name": "identifier", "in": "path", "required": true, "type": "string"}]}, "/files/{owner}/{repo}/": {"post": {"operationId": "files_create", "summary": "Request URL(s) to upload new package file upload(s) to.", "description": "Request URL(s) to upload new package file upload(s) to.", "parameters": [{"name": "data", "in": "body", "required": false, "schema": {"$ref": "#/definitions/PackageFileUploadRequest"}}], "responses": {"202": {"description": "The upload request was accepted", "schema": {"$ref": "#/definitions/PackageFileUpload"}}, "404": {"description": "Namespace (owner) or repository not found", "schema": {"$ref": "#/definitions/ErrorDetail"}}, "400": {"description": "Request could not be processed (see detail).", "schema": {"$ref": "#/definitions/ErrorDetail"}}, "422": {"description": "Missing or invalid parameters (see detail).", "schema": {"$ref": "#/definitions/ErrorDetail"}}}, "tags": ["files"]}, "parameters": [{"name": "owner", "in": "path", "required": true, "type": "string"}, {"name": "repo", "in": "path", "required": true, "type": "string"}]}, "/files/{owner}/{repo}/validate/": {"post": {"operationId": "files_validate", "summary": "Validate parameters used for create.", "description": "Validate parameters used for create.", "parameters": [{"name": "data", "in": "body", "required": false, "schema": {"$ref": "#/definitions/PackageFileUploadRequest"}}], "responses": {"204": {"description": "Validation was successful, parameters are OK."}, "404": {"description": "Namespace (owner) or repository not found", "schema": {"$ref": "#/definitions/ErrorDetail"}}, "400": {"description": "Request could not be processed (see detail).", "schema": {"$ref": "#/definitions/ErrorDetail"}}, "422": {"description": "Missing or invalid parameters (see detail).", "schema": {"$ref": "#/definitions/ErrorDetail"}}}, "tags": ["files"]}, "parameters": [{"name": "owner", "in": "path", "required": true, "type": "string"}, {"name": "repo", "in": "path", "required": true, "type": "string"}]}, "/files/{owner}/{repo}/{identifier}/abort/": {"post": {"operationId": "files_abort", "summary": "Abort a multipart file upload.", "description": "Abort a multipart file upload.", "parameters": [{"name": "data", "in": "body", "required": false, "schema": {"$ref": "#/definitions/PackageFileUploadRequest"}}], "responses": {"204": {"description": "The multipart upload was aborted successfully."}, "400": {"description": "The multipart upload could not be aborted.", "schema": {"$ref": "#/definitions/ErrorDetail"}}, "404": {"description": "Namespace (owner), repository or upload file not found", "schema": {"$ref": "#/definitions/ErrorDetail"}}, "422": {"description": "Missing or invalid parameters (see detail).", "schema": {"$ref": "#/definitions/ErrorDetail"}}}, "tags": ["files"]}, "parameters": [{"name": "owner", "in": "path", "required": true, "type": "string"}, {"name": "repo", "in": "path", "required": true, "type": "string"}, {"name": "identifier", "in": "path", "required": true, "type": "string"}]}, "/files/{owner}/{repo}/{identifier}/complete/": {"post": {"operationId": "files_complete", "summary": "Complete a multipart file upload.", "description": "Complete a multipart file upload.", "parameters": [{"name": "data", "in": "body", "required": false, "schema": {"$ref": "#/definitions/PackageFileUploadRequest"}}], "responses": {"201": {"description": "The multipart upload was completed successfully.", "schema": {"$ref": "#/definitions/PackageFileUpload"}}, "400": {"description": "The multipart upload could not be completed.", "schema": {"$ref": "#/definitions/ErrorDetail"}}, "404": {"description": "Namespace (owner), repository or upload file not found", "schema": {"$ref": "#/definitions/ErrorDetail"}}, "422": {"description": "Missing or invalid parameters (see detail).", "schema": {"$ref": "#/definitions/ErrorDetail"}}}, "tags": ["files"]}, "parameters": [{"name": "owner", "in": "path", "required": true, "type": "string"}, {"name": "repo", "in": "path", "required": true, "type": "string"}, {"name": "identifier", "in": "path", "required": true, "type": "string"}]}, "/files/{owner}/{repo}/{identifier}/info/": {"get": {"operationId": "files_info", "summary": "Get upload information to perform a multipart file upload.", "description": "Get upload information to perform a multipart file upload.", "parameters": [{"name": "filename", "in": "query", "description": "The filename of the file being uploaded", "required": true, "type": "string"}, {"name": "part_number", "in": "query", "description": "The part number to be uploaded next", "required": false, "type": "integer"}], "responses": {"200": {"description": "Information for multipart uploaded retrieved successfully.", "schema": {"$ref": "#/definitions/PackageFilePartsUpload"}}, "400": {"description": "The provided upload file was not a multipart upload.", "schema": {"$ref": "#/definitions/ErrorDetail"}}, "404": {"description": "Namespace (owner), repository or upload file not found", "schema": {"$ref": "#/definitions/ErrorDetail"}}, "422": {"description": "Missing or invalid parameters (see detail).", "schema": {"$ref": "#/definitions/ErrorDetail"}}}, "tags": ["files"]}, "parameters": [{"name": "owner", "in": "path", "required": true, "type": "string"}, {"name": "repo", "in": "path", "required": true, "type": "string"}, {"name": "identifier", "in": "path", "required": true, "type": "string"}]}, "/formats/": {"get": {"operationId": "formats_list", "summary": "Get a list of all supported package formats.", "description": "Get a list of all supported package formats.", "parameters": [], "responses": {"200": {"description": "Available package formats retrieved", "schema": {"type": "array", "items": {"$ref": "#/definitions/Format"}}}, "400": {"description": "Request could not be processed (see detail).", "schema": {"$ref": "#/definitions/ErrorDetail"}}, "422": {"description": "Missing or invalid parameters (see detail).", "schema": {"$ref": "#/definitions/ErrorDetail"}}}, "tags": ["formats"], "x-simplified": "fields[distributions]=slug,name"}, "parameters": []}, "/formats/{slug}/": {"get": {"operationId": "formats_read", "summary": "Get a specific supported package format.", "description": "Get a specific supported package format.", "parameters": [], "responses": {"200": {"description": "OK", "schema": {"$ref": "#/definitions/Format"}}, "400": {"description": "Request could not be processed (see detail).", "schema": {"$ref": "#/definitions/ErrorDetail"}}, "422": {"description": "Missing or invalid parameters (see detail).", "schema": {"$ref": "#/definitions/ErrorDetail"}}}, "tags": ["formats"], "x-simplified": "fields[distributions]=slug,name"}, "parameters": [{"name": "slug", "in": "path", "required": true, "type": "string"}]}, "/metrics/entitlements/{owner}/": {"get": {"operationId": "metrics_entitlements_account_list", "summary": "View for listing entitlement token metrics, across an account.", "description": "View for listing entitlement token metrics, across an account.", "parameters": [{"name": "page", "in": "query", "description": "A page number within the paginated result set.", "required": false, "type": "integer"}, {"name": "page_size", "in": "query", "description": "Number of results to return per page.", "required": false, "type": "integer"}, {"name": "finish", "in": "query", "description": "Include metrics upto and including this UTC date or UTC datetime. For example '2020-12-31' or '2021-12-13T00:00:00Z'.", "required": false, "type": "string"}, {"name": "start", "in": "query", "description": "Include metrics from and including this UTC date or UTC datetime. For example '2020-12-31' or '2021-12-13T00:00:00Z'.", "required": false, "type": "string"}, {"name": "tokens", "in": "query", "description": "A comma seperated list of tokens (slug perm) to include in the results.", "required": false, "type": "string"}], "responses": {"200": {"description": "Retrieved the metrics for entitlements.", "schema": {"$ref": "#/definitions/EntitlementUsageMetrics"}}, "400": {"description": "Request could not be processed (see detail).", "schema": {"$ref": "#/definitions/ErrorDetail"}}, "422": {"description": "Missing or invalid parameters (see detail).", "schema": {"$ref": "#/definitions/ErrorDetail"}}}, "tags": ["metrics"]}, "parameters": [{"name": "owner", "in": "path", "required": true, "type": "string"}]}, "/metrics/entitlements/{owner}/{repo}/": {"get": {"operationId": "metrics_entitlements_repo_list", "summary": "View for listing entitlement token metrics, for a repository.", "description": "View for listing entitlement token metrics, for a repository.", "parameters": [{"name": "page", "in": "query", "description": "A page number within the paginated result set.", "required": false, "type": "integer"}, {"name": "page_size", "in": "query", "description": "Number of results to return per page.", "required": false, "type": "integer"}, {"name": "finish", "in": "query", "description": "Include metrics upto and including this UTC date or UTC datetime. For example '2020-12-31' or '2021-12-13T00:00:00Z'.", "required": false, "type": "string"}, {"name": "start", "in": "query", "description": "Include metrics from and including this UTC date or UTC datetime. For example '2020-12-31' or '2021-12-13T00:00:00Z'.", "required": false, "type": "string"}, {"name": "tokens", "in": "query", "description": "A comma seperated list of tokens (slug perm) to include in the results.", "required": false, "type": "string"}], "responses": {"200": {"description": "Retrieved the metrics for entitlements.", "schema": {"$ref": "#/definitions/EntitlementUsageMetrics"}}, "400": {"description": "Request could not be processed (see detail).", "schema": {"$ref": "#/definitions/ErrorDetail"}}, "422": {"description": "Missing or invalid parameters (see detail).", "schema": {"$ref": "#/definitions/ErrorDetail"}}}, "tags": ["metrics"]}, "parameters": [{"name": "owner", "in": "path", "required": true, "type": "string"}, {"name": "repo", "in": "path", "required": true, "type": "string"}]}, "/metrics/packages/{owner}/{repo}/": {"get": {"operationId": "metrics_packages_list", "summary": "View for listing package usage metrics, for a repository.", "description": "View for listing package usage metrics, for a repository.", "parameters": [{"name": "page", "in": "query", "description": "A page number within the paginated result set.", "required": false, "type": "integer"}, {"name": "page_size", "in": "query", "description": "Number of results to return per page.", "required": false, "type": "integer"}, {"name": "finish", "in": "query", "description": "Include metrics upto and including this UTC date or UTC datetime. For example '2020-12-31' or '2021-12-13T00:00:00Z'.", "required": false, "type": "string"}, {"name": "packages", "in": "query", "description": "A comma seperated list of packages (slug perm) to include in the results.", "required": false, "type": "string"}, {"name": "start", "in": "query", "description": "Include metrics from and including this UTC date or UTC datetime. For example '2020-12-31' or '2021-12-13T00:00:00Z'.", "required": false, "type": "string"}], "responses": {"200": {"description": "Retrieved the metrics for packages.", "schema": {"$ref": "#/definitions/PackageUsageMetrics"}}, "400": {"description": "Request could not be processed (see detail).", "schema": {"$ref": "#/definitions/ErrorDetail"}}, "422": {"description": "Missing or invalid parameters (see detail).", "schema": {"$ref": "#/definitions/ErrorDetail"}}}, "tags": ["metrics"]}, "parameters": [{"name": "owner", "in": "path", "required": true, "type": "string"}, {"name": "repo", "in": "path", "required": true, "type": "string"}]}, "/namespaces/": {"get": {"operationId": "namespaces_list", "summary": "Get a list of all namespaces the user belongs to.", "description": "Get a list of all namespaces the user belongs to.", "parameters": [{"name": "page", "in": "query", "description": "A page number within the paginated result set.", "required": false, "type": "integer"}, {"name": "page_size", "in": "query", "description": "Number of results to return per page.", "required": false, "type": "integer"}], "responses": {"200": {"description": "OK", "schema": {"type": "array", "items": {"$ref": "#/definitions/Namespace"}}}, "400": {"description": "Request could not be processed (see detail).", "schema": {"$ref": "#/definitions/ErrorDetail"}}, "422": {"description": "Missing or invalid parameters (see detail).", "schema": {"$ref": "#/definitions/ErrorDetail"}}}, "tags": ["namespaces"]}, "parameters": []}, "/namespaces/{slug}/": {"get": {"operationId": "namespaces_read", "summary": "Get a specific namespace that the user belongs to.", "description": "Get a specific namespace that the user belongs to.", "parameters": [], "responses": {"200": {"description": "OK", "schema": {"$ref": "#/definitions/Namespace"}}, "400": {"description": "Request could not be processed (see detail).", "schema": {"$ref": "#/definitions/ErrorDetail"}}, "422": {"description": "Missing or invalid parameters (see detail).", "schema": {"$ref": "#/definitions/ErrorDetail"}}}, "tags": ["namespaces"]}, "parameters": [{"name": "slug", "in": "path", "required": true, "type": "string"}]}, "/orgs/": {"get": {"operationId": "orgs_list", "summary": "Get a list of all the organizations you are associated with.", "description": "Get a list of all the organizations you are associated with.", "parameters": [{"name": "page", "in": "query", "description": "A page number within the paginated result set.", "required": false, "type": "integer"}, {"name": "page_size", "in": "query", "description": "Number of results to return per page.", "required": false, "type": "integer"}], "responses": {"200": {"description": "OK", "schema": {"type": "array", "items": {"$ref": "#/definitions/Organization"}}}, "400": {"description": "Request could not be processed (see detail).", "schema": {"$ref": "#/definitions/ErrorDetail"}}, "422": {"description": "Missing or invalid parameters (see detail).", "schema": {"$ref": "#/definitions/ErrorDetail"}}}, "tags": ["orgs"]}, "parameters": []}, "/orgs/{org}/": {"get": {"operationId": "orgs_read", "summary": "Get the details for the specific organization.", "description": "Get the details for the specific organization.", "parameters": [], "responses": {"200": {"description": "OK", "schema": {"$ref": "#/definitions/Organization"}}, "400": {"description": "Request could not be processed (see detail).", "schema": {"$ref": "#/definitions/ErrorDetail"}}, "422": {"description": "Missing or invalid parameters (see detail).", "schema": {"$ref": "#/definitions/ErrorDetail"}}}, "tags": ["orgs"]}, "delete": {"operationId": "orgs_delete", "summary": "Delete the specified organization.", "description": "Delete the specified organization.", "parameters": [], "responses": {"204": {"description": "No Content"}, "400": {"description": "Request could not be processed (see detail).", "schema": {"$ref": "#/definitions/ErrorDetail"}}, "422": {"description": "Missing or invalid parameters (see detail).", "schema": {"$ref": "#/definitions/ErrorDetail"}}}, "tags": ["orgs"]}, "parameters": [{"name": "org", "in": "path", "required": true, "type": "string"}]}, "/orgs/{org}/deny-policy/": {"get": {"operationId": "orgs_deny-policy_list", "summary": "Get a list of all package deny policies.", "description": "Get a list of all package deny policies.", "parameters": [{"name": "page", "in": "query", "description": "A page number within the paginated result set.", "required": false, "type": "integer"}, {"name": "page_size", "in": "query", "description": "Number of results to return per page.", "required": false, "type": "integer"}], "responses": {"200": {"description": "OK", "schema": {"type": "array", "items": {"$ref": "#/definitions/PackageDenyPolicy"}}}, "400": {"description": "Request could not be processed (see detail).", "schema": {"$ref": "#/definitions/ErrorDetail"}}, "422": {"description": "Missing or invalid parameters (see detail).", "schema": {"$ref": "#/definitions/ErrorDetail"}}}, "tags": ["orgs"]}, "post": {"operationId": "orgs_deny-policy_create", "summary": "Create a package deny policy.", "description": "Create a package deny policy.", "parameters": [{"name": "data", "in": "body", "required": false, "schema": {"$ref": "#/definitions/PackageDenyPolicyRequest"}}], "responses": {"201": {"description": "Created", "schema": {"$ref": "#/definitions/PackageDenyPolicy"}}, "400": {"description": "Request could not be processed (see detail).", "schema": {"$ref": "#/definitions/ErrorDetail"}}, "422": {"description": "Missing or invalid parameters (see detail).", "schema": {"$ref": "#/definitions/ErrorDetail"}}}, "tags": ["orgs"]}, "parameters": [{"name": "org", "in": "path", "required": true, "type": "string"}]}, "/orgs/{org}/deny-policy/{slug_perm}/": {"get": {"operationId": "orgs_deny-policy_read", "summary": "Get a package deny policy.", "description": "Get a package deny policy.", "parameters": [], "responses": {"200": {"description": "OK", "schema": {"$ref": "#/definitions/PackageDenyPolicy"}}, "400": {"description": "Request could not be processed (see detail).", "schema": {"$ref": "#/definitions/ErrorDetail"}}, "422": {"description": "Missing or invalid parameters (see detail).", "schema": {"$ref": "#/definitions/ErrorDetail"}}}, "tags": ["orgs"]}, "put": {"operationId": "orgs_deny-policy_update", "summary": "Update a package deny policy.", "description": "Update a package deny policy.", "parameters": [{"name": "data", "in": "body", "required": false, "schema": {"$ref": "#/definitions/PackageDenyPolicyRequest"}}], "responses": {"200": {"description": "OK", "schema": {"$ref": "#/definitions/PackageDenyPolicy"}}, "400": {"description": "Request could not be processed (see detail).", "schema": {"$ref": "#/definitions/ErrorDetail"}}, "422": {"description": "Missing or invalid parameters (see detail).", "schema": {"$ref": "#/definitions/ErrorDetail"}}}, "tags": ["orgs"]}, "patch": {"operationId": "orgs_deny-policy_partial_update", "summary": "Partially update a package deny policy.", "description": "Partially update a package deny policy.", "parameters": [{"name": "data", "in": "body", "required": false, "schema": {"$ref": "#/definitions/PackageDenyPolicyRequestPatch"}}], "responses": {"200": {"description": "OK", "schema": {"$ref": "#/definitions/PackageDenyPolicy"}}, "400": {"description": "Request could not be processed (see detail).", "schema": {"$ref": "#/definitions/ErrorDetail"}}, "422": {"description": "Missing or invalid parameters (see detail).", "schema": {"$ref": "#/definitions/ErrorDetail"}}}, "tags": ["orgs"]}, "delete": {"operationId": "orgs_deny-policy_delete", "summary": "Delete a package deny policy.", "description": "Delete a package deny policy.", "parameters": [], "responses": {"204": {"description": "No Content"}, "400": {"description": "Request could not be processed (see detail).", "schema": {"$ref": "#/definitions/ErrorDetail"}}, "422": {"description": "Missing or invalid parameters (see detail).", "schema": {"$ref": "#/definitions/ErrorDetail"}}}, "tags": ["orgs"]}, "parameters": [{"name": "org", "in": "path", "required": true, "type": "string"}, {"name": "slug_perm", "in": "path", "required": true, "type": "string"}]}, "/orgs/{org}/invites/": {"get": {"operationId": "orgs_invites_list", "summary": "Get a list of all invites for an organization.", "description": "Get a list of all invites for an organization.", "parameters": [{"name": "page", "in": "query", "description": "A page number within the paginated result set.", "required": false, "type": "integer"}, {"name": "page_size", "in": "query", "description": "Number of results to return per page.", "required": false, "type": "integer"}], "responses": {"200": {"description": "Retrieved the list of organization invites", "schema": {"type": "array", "items": {"$ref": "#/definitions/OrganizationInvite"}}}, "404": {"description": "Organization invites not found", "schema": {"$ref": "#/definitions/ErrorDetail"}}, "400": {"description": "Request could not be processed (see detail).", "schema": {"$ref": "#/definitions/ErrorDetail"}}, "422": {"description": "Missing or invalid parameters (see detail).", "schema": {"$ref": "#/definitions/ErrorDetail"}}}, "tags": ["orgs"]}, "post": {"operationId": "orgs_invites_create", "summary": "Create an organization invite for a specific user", "description": "Create an organization invite for a specific user", "parameters": [{"name": "data", "in": "body", "required": false, "schema": {"$ref": "#/definitions/OrganizationInviteRequest"}}], "responses": {"201": {"description": "Invite sent", "schema": {"$ref": "#/definitions/OrganizationInvite"}}, "400": {"description": "The invite cannot be created.", "schema": {"$ref": "#/definitions/ErrorDetail"}}, "422": {"description": "Missing or invalid parameters (see detail).", "schema": {"$ref": "#/definitions/ErrorDetail"}}}, "tags": ["orgs"]}, "parameters": [{"name": "org", "in": "path", "required": true, "type": "string"}]}, "/orgs/{org}/invites/{slug_perm}/": {"patch": {"operationId": "orgs_invites_partial_update", "summary": "Update a specific organization invite.", "description": "Update a specific organization invite.", "parameters": [{"name": "data", "in": "body", "required": false, "schema": {"$ref": "#/definitions/OrganizationInviteUpdateRequestPatch"}}], "responses": {"200": {"description": "Invite updated", "schema": {"$ref": "#/definitions/OrganizationInvite"}}, "400": {"description": "The invite cannot be updated.", "schema": {"$ref": "#/definitions/ErrorDetail"}}, "404": {"description": "Invite not found.", "schema": {"$ref": "#/definitions/ErrorDetail"}}, "422": {"description": "Missing or invalid parameters (see detail).", "schema": {"$ref": "#/definitions/ErrorDetail"}}}, "tags": ["orgs"]}, "delete": {"operationId": "orgs_invites_delete", "summary": "Delete a specific organization invite", "description": "Delete a specific organization invite", "parameters": [], "responses": {"204": {"description": "Deleted the organization invite successfully."}, "400": {"description": "The organization invite cannot be deleted.", "schema": {"$ref": "#/definitions/ErrorDetail"}}, "422": {"description": "Missing or invalid parameters (see detail).", "schema": {"$ref": "#/definitions/ErrorDetail"}}}, "tags": ["orgs"]}, "parameters": [{"name": "org", "in": "path", "required": true, "type": "string"}, {"name": "slug_perm", "in": "path", "required": true, "type": "string"}]}, "/orgs/{org}/invites/{slug_perm}/extend/": {"post": {"operationId": "orgs_invites_extend", "summary": "Extend an organization invite.", "description": "Extend an organization invite.", "parameters": [], "responses": {"200": {"description": "The invite has been extended", "schema": {"$ref": "#/definitions/OrganizationInviteExtend"}}, "404": {"description": "Invite not found.", "schema": {"$ref": "#/definitions/ErrorDetail"}}, "400": {"description": "Request could not be processed (see detail).", "schema": {"$ref": "#/definitions/ErrorDetail"}}, "422": {"description": "Missing or invalid parameters (see detail).", "schema": {"$ref": "#/definitions/ErrorDetail"}}}, "tags": ["orgs"]}, "parameters": [{"name": "org", "in": "path", "required": true, "type": "string"}, {"name": "slug_perm", "in": "path", "required": true, "type": "string"}]}, "/orgs/{org}/invites/{slug_perm}/resend/": {"post": {"operationId": "orgs_invites_resend", "summary": "Resend an organization invite.", "description": "Resend an organization invite.", "parameters": [], "responses": {"200": {"description": "The invite has been resent", "schema": {"$ref": "#/definitions/OrganizationInviteExtend"}}, "404": {"description": "Invite not found.", "schema": {"$ref": "#/definitions/ErrorDetail"}}, "400": {"description": "Request could not be processed (see detail).", "schema": {"$ref": "#/definitions/ErrorDetail"}}, "422": {"description": "Missing or invalid parameters (see detail).", "schema": {"$ref": "#/definitions/ErrorDetail"}}}, "tags": ["orgs"]}, "parameters": [{"name": "org", "in": "path", "required": true, "type": "string"}, {"name": "slug_perm", "in": "path", "required": true, "type": "string"}]}, "/orgs/{org}/license-policy-violation/": {"get": {"operationId": "orgs_license-policy-violation_list", "summary": "List all current license policy violations for this Organization.", "description": "List all current license policy violations for this Organization.", "parameters": [{"name": "cursor", "in": "query", "description": "The pagination cursor value.", "required": false, "type": "string"}, {"name": "page_size", "in": "query", "description": "Number of results to return per page.", "required": false, "type": "integer"}], "responses": {"200": {"description": "OK", "schema": {"required": ["results"], "type": "object", "properties": {"next": {"type": "string", "format": "uri", "x-nullable": true}, "previous": {"type": "string", "format": "uri", "x-nullable": true}, "results": {"type": "array", "items": {"$ref": "#/definitions/PackageLicensePolicyViolationLog"}}}, "title": "PackageLicensePolicyViolationLogCursorPage"}}, "400": {"description": "Request could not be processed (see detail).", "schema": {"$ref": "#/definitions/ErrorDetail"}}, "422": {"description": "Missing or invalid parameters (see detail).", "schema": {"$ref": "#/definitions/ErrorDetail"}}}, "tags": ["orgs"]}, "parameters": [{"name": "org", "in": "path", "required": true, "type": "string"}]}, "/orgs/{org}/license-policy/": {"get": {"operationId": "orgs_license-policy_list", "summary": "Get a list of all package license policies.", "description": "Get a list of all package license policies.", "parameters": [{"name": "page", "in": "query", "description": "A page number within the paginated result set.", "required": false, "type": "integer"}, {"name": "page_size", "in": "query", "description": "Number of results to return per page.", "required": false, "type": "integer"}], "responses": {"200": {"description": "OK", "schema": {"type": "array", "items": {"$ref": "#/definitions/OrganizationPackageLicensePolicy"}}}, "400": {"description": "Request could not be processed (see detail).", "schema": {"$ref": "#/definitions/ErrorDetail"}}, "422": {"description": "Missing or invalid parameters (see detail).", "schema": {"$ref": "#/definitions/ErrorDetail"}}}, "tags": ["orgs"]}, "post": {"operationId": "orgs_license-policy_create", "summary": "Create a package license policy.", "description": "Create a package license policy.", "parameters": [{"name": "data", "in": "body", "required": false, "schema": {"$ref": "#/definitions/OrganizationPackageLicensePolicyRequest"}}], "responses": {"201": {"description": "Created", "schema": {"$ref": "#/definitions/OrganizationPackageLicensePolicy"}}, "400": {"description": "Request could not be processed (see detail).", "schema": {"$ref": "#/definitions/ErrorDetail"}}, "422": {"description": "Missing or invalid parameters (see detail).", "schema": {"$ref": "#/definitions/ErrorDetail"}}}, "tags": ["orgs"]}, "parameters": [{"name": "org", "in": "path", "required": true, "type": "string"}]}, "/orgs/{org}/license-policy/{policy_slug_perm}/evaluation/": {"get": {"operationId": "orgs_license-policy_evaluation_list", "summary": "List evaluation requests for this policy.", "description": "List evaluation requests for this policy.", "parameters": [{"name": "page", "in": "query", "description": "A page number within the paginated result set.", "required": false, "type": "integer"}, {"name": "page_size", "in": "query", "description": "Number of results to return per page.", "required": false, "type": "integer"}], "responses": {"200": {"description": "OK", "schema": {"type": "array", "items": {"$ref": "#/definitions/PackageLicensePolicyEvaluationRequest"}}}, "400": {"description": "Request could not be processed (see detail).", "schema": {"$ref": "#/definitions/ErrorDetail"}}, "422": {"description": "Missing or invalid parameters (see detail).", "schema": {"$ref": "#/definitions/ErrorDetail"}}}, "tags": ["orgs"]}, "post": {"operationId": "orgs_license-policy_evaluation_create", "summary": "Create an evaluation request for this policy.", "description": "Create an evaluation request for this policy.", "parameters": [{"name": "data", "in": "body", "required": false, "schema": {"$ref": "#/definitions/PackageLicensePolicyEvaluationRequestRequest"}}], "responses": {"201": {"description": "Created", "schema": {"$ref": "#/definitions/PackageLicensePolicyEvaluationRequest"}}, "400": {"description": "Request could not be processed (see detail).", "schema": {"$ref": "#/definitions/ErrorDetail"}}, "422": {"description": "Missing or invalid parameters (see detail).", "schema": {"$ref": "#/definitions/ErrorDetail"}}}, "tags": ["orgs"]}, "parameters": [{"name": "org", "in": "path", "required": true, "type": "string"}, {"name": "policy_slug_perm", "in": "path", "required": true, "type": "string"}]}, "/orgs/{org}/license-policy/{policy_slug_perm}/evaluation/{slug_perm}/": {"get": {"operationId": "orgs_license-policy_evaluation_read", "summary": "Retrieve an evaluation request for this policy.", "description": "Retrieve an evaluation request for this policy.", "parameters": [], "responses": {"200": {"description": "OK", "schema": {"$ref": "#/definitions/PackageLicensePolicyEvaluationRequest"}}, "400": {"description": "Request could not be processed (see detail).", "schema": {"$ref": "#/definitions/ErrorDetail"}}, "422": {"description": "Missing or invalid parameters (see detail).", "schema": {"$ref": "#/definitions/ErrorDetail"}}}, "tags": ["orgs"]}, "parameters": [{"name": "org", "in": "path", "required": true, "type": "string"}, {"name": "policy_slug_perm", "in": "path", "required": true, "type": "string"}, {"name": "slug_perm", "in": "path", "required": true, "type": "string"}]}, "/orgs/{org}/license-policy/{slug_perm}/": {"get": {"operationId": "orgs_license-policy_read", "summary": "Get a package license policy.", "description": "Get a package license policy.", "parameters": [], "responses": {"200": {"description": "OK", "schema": {"$ref": "#/definitions/OrganizationPackageLicensePolicy"}}, "400": {"description": "Request could not be processed (see detail).", "schema": {"$ref": "#/definitions/ErrorDetail"}}, "422": {"description": "Missing or invalid parameters (see detail).", "schema": {"$ref": "#/definitions/ErrorDetail"}}}, "tags": ["orgs"]}, "put": {"operationId": "orgs_license-policy_update", "summary": "Update a package license policy.", "description": "Update a package license policy.", "parameters": [{"name": "data", "in": "body", "required": false, "schema": {"$ref": "#/definitions/OrganizationPackageLicensePolicyRequest"}}], "responses": {"200": {"description": "OK", "schema": {"$ref": "#/definitions/OrganizationPackageLicensePolicy"}}, "400": {"description": "Request could not be processed (see detail).", "schema": {"$ref": "#/definitions/ErrorDetail"}}, "422": {"description": "Missing or invalid parameters (see detail).", "schema": {"$ref": "#/definitions/ErrorDetail"}}}, "tags": ["orgs"]}, "patch": {"operationId": "orgs_license-policy_partial_update", "summary": "Partially update a package license policy.", "description": "Partially update a package license policy.", "parameters": [{"name": "data", "in": "body", "required": false, "schema": {"$ref": "#/definitions/OrganizationPackageLicensePolicyRequestPatch"}}], "responses": {"200": {"description": "OK", "schema": {"$ref": "#/definitions/OrganizationPackageLicensePolicy"}}, "400": {"description": "Request could not be processed (see detail).", "schema": {"$ref": "#/definitions/ErrorDetail"}}, "422": {"description": "Missing or invalid parameters (see detail).", "schema": {"$ref": "#/definitions/ErrorDetail"}}}, "tags": ["orgs"]}, "delete": {"operationId": "orgs_license-policy_delete", "summary": "Delete a package license policy.", "description": "Delete a package license policy.", "parameters": [], "responses": {"204": {"description": "No Content"}, "400": {"description": "Request could not be processed (see detail).", "schema": {"$ref": "#/definitions/ErrorDetail"}}, "422": {"description": "Missing or invalid parameters (see detail).", "schema": {"$ref": "#/definitions/ErrorDetail"}}}, "tags": ["orgs"]}, "parameters": [{"name": "org", "in": "path", "required": true, "type": "string"}, {"name": "slug_perm", "in": "path", "required": true, "type": "string"}]}, "/orgs/{org}/members/": {"get": {"operationId": "orgs_members_list", "summary": "Get the details for all organization members.", "description": "Get the details for all organization members.", "parameters": [{"name": "page", "in": "query", "description": "A page number within the paginated result set.", "required": false, "type": "integer"}, {"name": "page_size", "in": "query", "description": "Number of results to return per page.", "required": false, "type": "integer"}, {"name": "is_active", "in": "query", "description": "Filter for active/inactive users.", "required": false, "type": "boolean", "default": false}, {"name": "query", "in": "query", "description": "A search term for querying of members within an Organization.Available options are: email, org, user, userslug, inactive, user_name, role", "required": false, "type": "string", "default": ""}, {"name": "sort", "in": "query", "description": "A field for sorting objects in ascending or descending order. Use `-` prefix for descending order (e.g., `-user_name`). Available options: user_name, role.", "required": false, "type": "string", "default": "user_name"}], "responses": {"200": {"description": "Retrieved the list of organization's members", "schema": {"type": "array", "items": {"$ref": "#/definitions/OrganizationMembership"}}}, "400": {"description": "Request could not be processed (see detail).", "schema": {"$ref": "#/definitions/ErrorDetail"}}, "422": {"description": "Missing or invalid parameters (see detail).", "schema": {"$ref": "#/definitions/ErrorDetail"}}}, "tags": ["orgs"]}, "parameters": [{"name": "org", "in": "path", "required": true, "type": "string"}]}, "/orgs/{org}/members/{member}/": {"get": {"operationId": "orgs_members_read", "summary": "Get the details for a specific organization member.", "description": "Get the details for a specific organization member.", "parameters": [], "responses": {"200": {"description": "OK", "schema": {"$ref": "#/definitions/OrganizationMembership"}}, "400": {"description": "Request could not be processed (see detail).", "schema": {"$ref": "#/definitions/ErrorDetail"}}, "422": {"description": "Missing or invalid parameters (see detail).", "schema": {"$ref": "#/definitions/ErrorDetail"}}}, "tags": ["orgs"]}, "patch": {"operationId": "orgs_members_partial_update", "summary": "Views for working with organization members.", "description": "Views for working with organization members.", "parameters": [{"name": "data", "in": "body", "required": false, "schema": {"$ref": "#/definitions/OrganizationMembershipRequestPatch"}}], "responses": {"200": {"description": "OK", "schema": {"$ref": "#/definitions/OrganizationMembership"}}, "400": {"description": "Request could not be processed (see detail).", "schema": {"$ref": "#/definitions/ErrorDetail"}}, "422": {"description": "Missing or invalid parameters (see detail).", "schema": {"$ref": "#/definitions/ErrorDetail"}}}, "tags": ["orgs"]}, "delete": {"operationId": "orgs_members_delete", "summary": "Removes a member from the organization.", "description": "Removes a member from the organization.", "parameters": [], "responses": {"204": {"description": "Removed the organization member successfully."}, "400": {"description": "The organization member cannot be deleted.", "schema": {"$ref": "#/definitions/ErrorDetail"}}, "422": {"description": "Missing or invalid parameters (see detail).", "schema": {"$ref": "#/definitions/ErrorDetail"}}}, "tags": ["orgs"]}, "parameters": [{"name": "org", "in": "path", "required": true, "type": "string"}, {"name": "member", "in": "path", "required": true, "type": "string"}]}, "/orgs/{org}/members/{member}/refresh/": {"post": {"operationId": "orgs_members_refresh", "summary": "Refresh a member of the organization's API key.", "description": "Refresh a member of the organization's API key.", "parameters": [], "responses": {"204": {"description": "Org member API key has been refreshed."}, "400": {"description": "The org member's API key cannot be refreshed.", "schema": {"$ref": "#/definitions/ErrorDetail"}}, "404": {"description": "Org member not found.", "schema": {"$ref": "#/definitions/ErrorDetail"}}, "422": {"description": "Missing or invalid parameters (see detail).", "schema": {"$ref": "#/definitions/ErrorDetail"}}}, "tags": ["orgs"]}, "parameters": [{"name": "org", "in": "path", "required": true, "type": "string"}, {"name": "member", "in": "path", "required": true, "type": "string"}]}, "/orgs/{org}/members/{member}/remove/": {"get": {"operationId": "orgs_members_remove", "summary": "Removes a member from the organization (deprecated, use DELETE instead).", "description": "Removes a member from the organization (deprecated, use DELETE instead).", "parameters": [], "responses": {"204": {"description": "Removed the organization member successfully."}, "400": {"description": "The organization member cannot be deleted.", "schema": {"$ref": "#/definitions/ErrorDetail"}}, "422": {"description": "Missing or invalid parameters (see detail).", "schema": {"$ref": "#/definitions/ErrorDetail"}}}, "tags": ["orgs"]}, "parameters": [{"name": "org", "in": "path", "required": true, "type": "string"}, {"name": "member", "in": "path", "required": true, "type": "string"}]}, "/orgs/{org}/members/{member}/update-role/": {"patch": {"operationId": "orgs_members_update_role", "summary": "Update a member's role in the organization.", "description": "Update a member's role in the organization.", "parameters": [{"name": "data", "in": "body", "required": false, "schema": {"$ref": "#/definitions/OrganizationMembershipRoleUpdateRequestPatch"}}], "responses": {"200": {"description": "OK", "schema": {"$ref": "#/definitions/OrganizationMembershipRoleUpdate"}}, "400": {"description": "Request could not be processed (see detail).", "schema": {"$ref": "#/definitions/ErrorDetail"}}, "422": {"description": "Missing or invalid parameters (see detail).", "schema": {"$ref": "#/definitions/ErrorDetail"}}}, "tags": ["orgs"]}, "parameters": [{"name": "org", "in": "path", "required": true, "type": "string"}, {"name": "member", "in": "path", "required": true, "type": "string"}]}, "/orgs/{org}/members/{member}/update-visibility/": {"patch": {"operationId": "orgs_members_update_visibility", "summary": "Update a member's visibility in the organization.", "description": "Update a member's visibility in the organization.", "parameters": [{"name": "data", "in": "body", "required": false, "schema": {"$ref": "#/definitions/OrganizationMembershipVisibilityUpdateRequestPatch"}}], "responses": {"200": {"description": "OK", "schema": {"$ref": "#/definitions/OrganizationMembershipVisibilityUpdate"}}, "400": {"description": "Request could not be processed (see detail).", "schema": {"$ref": "#/definitions/ErrorDetail"}}, "422": {"description": "Missing or invalid parameters (see detail).", "schema": {"$ref": "#/definitions/ErrorDetail"}}}, "tags": ["orgs"]}, "parameters": [{"name": "org", "in": "path", "required": true, "type": "string"}, {"name": "member", "in": "path", "required": true, "type": "string"}]}, "/orgs/{org}/openid-connect/": {"get": {"operationId": "orgs_openid-connect_list", "summary": "Retrieve the list of OpenID Connect provider settings for the org.", "description": "Retrieve the list of OpenID Connect provider settings for the org.", "parameters": [{"name": "page", "in": "query", "description": "A page number within the paginated result set.", "required": false, "type": "integer"}, {"name": "page_size", "in": "query", "description": "Number of results to return per page.", "required": false, "type": "integer"}, {"name": "query", "in": "query", "description": "A search term for querying of OpenID Connect (OIDC) provider settings.Available options are: name, provider_url, service_account", "required": false, "type": "string", "default": ""}, {"name": "sort", "in": "query", "description": "A field for sorting objects in ascending or descending order. Use `-` prefix for descending order (e.g., `-name`). Available options: name.", "required": false, "type": "string", "default": "name"}], "responses": {"200": {"description": "Retrieved the list of OpenID Connect provider settings for the org", "schema": {"type": "array", "items": {"$ref": "#/definitions/ProviderSettings"}}}, "404": {"description": "Organization not found", "schema": {"$ref": "#/definitions/ErrorDetail"}}, "400": {"description": "Request could not be processed (see detail).", "schema": {"$ref": "#/definitions/ErrorDetail"}}, "422": {"description": "Missing or invalid parameters (see detail).", "schema": {"$ref": "#/definitions/ErrorDetail"}}}, "tags": ["orgs"]}, "post": {"operationId": "orgs_openid-connect_create", "summary": "Create the OpenID Connect provider settings for the org.", "description": "Create the OpenID Connect provider settings for the org.", "parameters": [{"name": "data", "in": "body", "required": false, "schema": {"$ref": "#/definitions/ProviderSettingsWriteRequest"}}], "responses": {"201": {"description": "Created the OpenID Connect provider settings for the org", "schema": {"$ref": "#/definitions/ProviderSettingsWrite"}}, "404": {"description": "Organization not found", "schema": {"$ref": "#/definitions/ErrorDetail"}}, "400": {"description": "Request could not be processed (see detail).", "schema": {"$ref": "#/definitions/ErrorDetail"}}, "422": {"description": "Missing or invalid parameters (see detail).", "schema": {"$ref": "#/definitions/ErrorDetail"}}}, "tags": ["orgs"]}, "parameters": [{"name": "org", "in": "path", "required": true, "type": "string"}]}, "/orgs/{org}/openid-connect/{provider_setting}/dynamic-mappings/": {"get": {"operationId": "orgs_openid-connect_dynamic-mappings_list", "summary": "Retrieve the list of OpenID Connect dynamic mappings for the provider setting.", "description": "Retrieve the list of OpenID Connect dynamic mappings for the provider setting.", "parameters": [{"name": "page", "in": "query", "description": "A page number within the paginated result set.", "required": false, "type": "integer"}, {"name": "page_size", "in": "query", "description": "Number of results to return per page.", "required": false, "type": "integer"}], "responses": {"200": {"description": "Retrieved the list of OpenID Connect dynamic mappings for the selected provider setting", "schema": {"type": "array", "items": {"$ref": "#/definitions/DynamicMapping"}}}, "404": {"description": "Organization or Provider Setting not found (see detail)", "schema": {"$ref": "#/definitions/ErrorDetail"}}, "400": {"description": "Request could not be processed (see detail).", "schema": {"$ref": "#/definitions/ErrorDetail"}}, "422": {"description": "Missing or invalid parameters (see detail).", "schema": {"$ref": "#/definitions/ErrorDetail"}}}, "tags": ["orgs"]}, "parameters": [{"name": "org", "in": "path", "required": true, "type": "string"}, {"name": "provider_setting", "in": "path", "required": true, "type": "string"}]}, "/orgs/{org}/openid-connect/{provider_setting}/dynamic-mappings/{claim_value}/": {"get": {"operationId": "orgs_openid-connect_dynamic-mappings_read", "summary": "Retrieve a specific OpenID Connect dynamic mapping for the provider setting.", "description": "Retrieve a specific OpenID Connect dynamic mapping for the provider setting.", "parameters": [], "responses": {"200": {"description": "Retrieved the specified OpenID Connect dynamic mapping", "schema": {"$ref": "#/definitions/DynamicMapping"}}, "404": {"description": "Organization, Provider Setting or Dynamic Mapping with claim not found (see detail)", "schema": {"$ref": "#/definitions/ErrorDetail"}}, "400": {"description": "Request could not be processed (see detail).", "schema": {"$ref": "#/definitions/ErrorDetail"}}, "422": {"description": "Missing or invalid parameters (see detail).", "schema": {"$ref": "#/definitions/ErrorDetail"}}}, "tags": ["orgs"]}, "parameters": [{"name": "org", "in": "path", "required": true, "type": "string"}, {"name": "provider_setting", "in": "path", "required": true, "type": "string"}, {"name": "claim_value", "in": "path", "required": true, "type": "string"}]}, "/orgs/{org}/openid-connect/{slug_perm}/": {"get": {"operationId": "orgs_openid-connect_read", "summary": "Retrieve a specific OpenID Connect provider setting for the org.", "description": "Retrieve a specific OpenID Connect provider setting for the org.", "parameters": [], "responses": {"200": {"description": "OK", "schema": {"$ref": "#/definitions/ProviderSettings"}}, "400": {"description": "Request could not be processed (see detail).", "schema": {"$ref": "#/definitions/ErrorDetail"}}, "422": {"description": "Missing or invalid parameters (see detail).", "schema": {"$ref": "#/definitions/ErrorDetail"}}}, "tags": ["orgs"]}, "put": {"operationId": "orgs_openid-connect_update", "summary": "Update a specific OpenID Connect provider setting for the org.", "description": "Update a specific OpenID Connect provider setting for the org.", "parameters": [{"name": "data", "in": "body", "required": false, "schema": {"$ref": "#/definitions/ProviderSettingsWriteRequest"}}], "responses": {"200": {"description": "Updated the specified OpenID Connect provider setting for the org", "schema": {"$ref": "#/definitions/ProviderSettingsWrite"}}, "404": {"description": "Organization not found", "schema": {"$ref": "#/definitions/ErrorDetail"}}, "400": {"description": "Request could not be processed (see detail).", "schema": {"$ref": "#/definitions/ErrorDetail"}}, "422": {"description": "Missing or invalid parameters (see detail).", "schema": {"$ref": "#/definitions/ErrorDetail"}}}, "tags": ["orgs"]}, "patch": {"operationId": "orgs_openid-connect_partial_update", "summary": "Update a specific OpenID Connect provider setting for the org.", "description": "Update a specific OpenID Connect provider setting for the org.", "parameters": [{"name": "data", "in": "body", "required": false, "schema": {"$ref": "#/definitions/ProviderSettingsWriteRequestPatch"}}], "responses": {"200": {"description": "Updated the specified OpenID Connect provider setting for the org", "schema": {"$ref": "#/definitions/ProviderSettingsWrite"}}, "404": {"description": "Organization not found", "schema": {"$ref": "#/definitions/ErrorDetail"}}, "400": {"description": "Request could not be processed (see detail).", "schema": {"$ref": "#/definitions/ErrorDetail"}}, "422": {"description": "Missing or invalid parameters (see detail).", "schema": {"$ref": "#/definitions/ErrorDetail"}}}, "tags": ["orgs"]}, "delete": {"operationId": "orgs_openid-connect_delete", "summary": "Delete a specific OpenID Connect provider setting for the org.", "description": "Delete a specific OpenID Connect provider setting for the org.", "parameters": [], "responses": {"204": {"description": "Deleted the specified OpenID Connect provider setting successfully."}, "400": {"description": "The specified OpenID Connect provider setting cannot be deleted.", "schema": {"$ref": "#/definitions/ErrorDetail"}}, "422": {"description": "Missing or invalid parameters (see detail).", "schema": {"$ref": "#/definitions/ErrorDetail"}}}, "tags": ["orgs"]}, "parameters": [{"name": "org", "in": "path", "required": true, "type": "string"}, {"name": "slug_perm", "in": "path", "required": true, "type": "string"}]}, "/orgs/{org}/saml-authentication": {"get": {"operationId": "orgs_saml-authentication_read", "summary": "Retrieve the SAML Authentication settings for this Organization.", "description": "Retrieve the SAML Authentication settings for this Organization.", "parameters": [], "responses": {"200": {"description": "Retrieved the SAML Authentication settings.", "schema": {"$ref": "#/definitions/OrganizationSAMLAuth"}}, "402": {"description": "SAML Authentication is not available; please upgrade your account!", "schema": {"$ref": "#/definitions/ErrorDetail"}}, "404": {"description": "Organization not found.", "schema": {"$ref": "#/definitions/ErrorDetail"}}, "400": {"description": "Request could not be processed (see detail).", "schema": {"$ref": "#/definitions/ErrorDetail"}}, "422": {"description": "Missing or invalid parameters (see detail).", "schema": {"$ref": "#/definitions/ErrorDetail"}}}, "tags": ["orgs"]}, "patch": {"operationId": "orgs_saml-authentication_partial_update", "summary": "Update the SAML Authentication settings for this Organization.", "description": "Update the SAML Authentication settings for this Organization.", "parameters": [{"name": "data", "in": "body", "required": false, "schema": {"$ref": "#/definitions/OrganizationSAMLAuthRequestPatch"}}], "responses": {"200": {"description": "Updated the SAML Authentication settings.", "schema": {"$ref": "#/definitions/OrganizationSAMLAuth"}}, "402": {"description": "SAML Authentication is not available; please upgrade your account!", "schema": {"$ref": "#/definitions/ErrorDetail"}}, "404": {"description": "Organization not found.", "schema": {"$ref": "#/definitions/ErrorDetail"}}, "400": {"description": "Request could not be processed (see detail).", "schema": {"$ref": "#/definitions/ErrorDetail"}}, "422": {"description": "Missing or invalid parameters (see detail).", "schema": {"$ref": "#/definitions/ErrorDetail"}}}, "tags": ["orgs"]}, "parameters": [{"name": "org", "in": "path", "required": true, "type": "string"}]}, "/orgs/{org}/saml-group-sync/": {"get": {"operationId": "orgs_saml-group-sync_list", "summary": "Get the details of all SAML Group Sync mapping within an organization.", "description": "Get the details of all SAML Group Sync mapping within an organization.", "parameters": [{"name": "page", "in": "query", "description": "A page number within the paginated result set.", "required": false, "type": "integer"}, {"name": "page_size", "in": "query", "description": "Number of results to return per page.", "required": false, "type": "integer"}], "responses": {"200": {"description": "Retrieved the list of all SAML Group Sync mappings for this org", "schema": {"type": "array", "items": {"$ref": "#/definitions/OrganizationGroupSync"}}}, "404": {"description": "Org namespace not found", "schema": {"$ref": "#/definitions/ErrorDetail"}}, "400": {"description": "Request could not be processed (see detail).", "schema": {"$ref": "#/definitions/ErrorDetail"}}, "422": {"description": "Missing or invalid parameters (see detail).", "schema": {"$ref": "#/definitions/ErrorDetail"}}}, "tags": ["orgs"]}, "post": {"operationId": "orgs_saml-group-sync_create", "summary": "Create a new SAML Group Sync mapping within an organization.", "description": "Create a new SAML Group Sync mapping within an organization.", "parameters": [{"name": "data", "in": "body", "required": false, "schema": {"$ref": "#/definitions/OrganizationGroupSyncRequest"}}], "responses": {"201": {"description": "The SAML Group Sync mapping was created.", "schema": {"$ref": "#/definitions/OrganizationGroupSync"}}, "404": {"description": "Org namespace not found.", "schema": {"$ref": "#/definitions/ErrorDetail"}}, "400": {"description": "Request could not be processed (see detail).", "schema": {"$ref": "#/definitions/ErrorDetail"}}, "422": {"description": "Missing or invalid parameters (see detail).", "schema": {"$ref": "#/definitions/ErrorDetail"}}}, "tags": ["orgs"]}, "parameters": [{"name": "org", "in": "path", "required": true, "type": "string"}]}, "/orgs/{org}/saml-group-sync/disable/": {"post": {"operationId": "orgs_saml-group-sync_disable", "summary": "Disable SAML Group Sync for this organization.", "description": "Disable SAML Group Sync for this organization.", "parameters": [], "responses": {"204": {"description": "SAML Group Sync has been disabled for this organization."}, "404": {"description": "Org namespace not found", "schema": {"$ref": "#/definitions/ErrorDetail"}}, "400": {"description": "Request could not be processed (see detail).", "schema": {"$ref": "#/definitions/ErrorDetail"}}, "422": {"description": "Missing or invalid parameters (see detail).", "schema": {"$ref": "#/definitions/ErrorDetail"}}}, "tags": ["orgs"]}, "parameters": [{"name": "org", "in": "path", "required": true, "type": "string"}]}, "/orgs/{org}/saml-group-sync/enable/": {"post": {"operationId": "orgs_saml-group-sync_enable", "summary": "Enable SAML Group Sync for this organization.", "description": "Enable SAML Group Sync for this organization.", "parameters": [], "responses": {"204": {"description": "SAML Group Sync has been enabled for this organization."}, "404": {"description": "Org namespace not found", "schema": {"$ref": "#/definitions/ErrorDetail"}}, "400": {"description": "Request could not be processed (see detail).", "schema": {"$ref": "#/definitions/ErrorDetail"}}, "422": {"description": "Missing or invalid parameters (see detail).", "schema": {"$ref": "#/definitions/ErrorDetail"}}}, "tags": ["orgs"]}, "parameters": [{"name": "org", "in": "path", "required": true, "type": "string"}]}, "/orgs/{org}/saml-group-sync/status/": {"get": {"operationId": "orgs_saml-group-sync_status", "summary": "Retrieve the SAML Group Sync status for this organization.", "description": "Retrieve the SAML Group Sync status for this organization.", "parameters": [], "responses": {"200": {"description": "Retrieved the SAML Group Sync status for this organization.", "schema": {"$ref": "#/definitions/OrganizationGroupSyncStatus"}}, "404": {"description": "Org namespace not found", "schema": {"$ref": "#/definitions/ErrorDetail"}}, "400": {"description": "Request could not be processed (see detail).", "schema": {"$ref": "#/definitions/ErrorDetail"}}, "422": {"description": "Missing or invalid parameters (see detail).", "schema": {"$ref": "#/definitions/ErrorDetail"}}}, "tags": ["orgs"]}, "parameters": [{"name": "org", "in": "path", "required": true, "type": "string"}]}, "/orgs/{org}/saml-group-sync/{slug_perm}/": {"delete": {"operationId": "orgs_saml-group-sync_delete", "summary": "Delete a SAML Group Sync mapping from an organization.", "description": "Delete a SAML Group Sync mapping from an organization.", "parameters": [], "responses": {"204": {"description": "Mapping removed successfully"}, "400": {"description": "Request could not be processed (see detail).", "schema": {"$ref": "#/definitions/ErrorDetail"}}, "422": {"description": "Missing or invalid parameters (see detail).", "schema": {"$ref": "#/definitions/ErrorDetail"}}}, "tags": ["orgs"]}, "parameters": [{"name": "org", "in": "path", "required": true, "type": "string"}, {"name": "slug_perm", "in": "path", "required": true, "type": "string"}]}, "/orgs/{org}/services/": {"get": {"operationId": "orgs_services_list", "summary": "Get a list of all services within an organization.", "description": "Get a list of all services within an organization.", "parameters": [{"name": "page", "in": "query", "description": "A page number within the paginated result set.", "required": false, "type": "integer"}, {"name": "page_size", "in": "query", "description": "Number of results to return per page.", "required": false, "type": "integer"}, {"name": "query", "in": "query", "description": "A search term for querying of services within an Organization.Available options are: name, role", "required": false, "type": "string", "default": ""}, {"name": "sort", "in": "query", "description": "A field for sorting objects in ascending or descending order. Use `-` prefix for descending order (e.g., `-created_at`). Available options: created_at, name, role.", "required": false, "type": "string", "default": "created_at"}], "responses": {"200": {"description": "Retrieved the list of services within the org", "schema": {"type": "array", "items": {"$ref": "#/definitions/Service"}}}, "404": {"description": "Org namespace not found", "schema": {"$ref": "#/definitions/ErrorDetail"}}, "400": {"description": "Request could not be processed (see detail).", "schema": {"$ref": "#/definitions/ErrorDetail"}}, "422": {"description": "Missing or invalid parameters (see detail).", "schema": {"$ref": "#/definitions/ErrorDetail"}}}, "tags": ["orgs"]}, "post": {"operationId": "orgs_services_create", "summary": "Create a service within an organization.", "description": "Create a service within an organization.", "parameters": [{"name": "data", "in": "body", "required": false, "schema": {"$ref": "#/definitions/ServiceRequest"}}], "responses": {"200": {"description": "Created the service within the org", "schema": {"$ref": "#/definitions/Service"}}, "404": {"description": "Org namespace not found", "schema": {"$ref": "#/definitions/ErrorDetail"}}, "400": {"description": "Request could not be processed (see detail).", "schema": {"$ref": "#/definitions/ErrorDetail"}}, "422": {"description": "Missing or invalid parameters (see detail).", "schema": {"$ref": "#/definitions/ErrorDetail"}}}, "tags": ["orgs"]}, "parameters": [{"name": "org", "in": "path", "required": true, "type": "string"}]}, "/orgs/{org}/services/{service}/": {"get": {"operationId": "orgs_services_read", "summary": "Retrieve details of a single service within an organization.", "description": "Retrieve details of a single service within an organization.", "parameters": [], "responses": {"200": {"description": "OK", "schema": {"$ref": "#/definitions/Service"}}, "400": {"description": "Request could not be processed (see detail).", "schema": {"$ref": "#/definitions/ErrorDetail"}}, "422": {"description": "Missing or invalid parameters (see detail).", "schema": {"$ref": "#/definitions/ErrorDetail"}}}, "tags": ["orgs"]}, "patch": {"operationId": "orgs_services_partial_update", "summary": "Update a service within an organization.", "description": "Update a service within an organization.", "parameters": [{"name": "data", "in": "body", "required": false, "schema": {"$ref": "#/definitions/ServiceRequestPatch"}}], "responses": {"200": {"description": "Updated the service within the org", "schema": {"$ref": "#/definitions/Service"}}, "404": {"description": "Org namespace not found", "schema": {"$ref": "#/definitions/ErrorDetail"}}, "400": {"description": "Request could not be processed (see detail).", "schema": {"$ref": "#/definitions/ErrorDetail"}}, "422": {"description": "Missing or invalid parameters (see detail).", "schema": {"$ref": "#/definitions/ErrorDetail"}}}, "tags": ["orgs"]}, "delete": {"operationId": "orgs_services_delete", "summary": "Delete a specific service", "description": "Delete a specific service", "parameters": [], "responses": {"204": {"description": "Deleted the service successfully."}, "400": {"description": "The service cannot be deleted.", "schema": {"$ref": "#/definitions/ErrorDetail"}}, "422": {"description": "Missing or invalid parameters (see detail).", "schema": {"$ref": "#/definitions/ErrorDetail"}}}, "tags": ["orgs"]}, "parameters": [{"name": "org", "in": "path", "required": true, "type": "string"}, {"name": "service", "in": "path", "required": true, "type": "string"}]}, "/orgs/{org}/services/{service}/refresh/": {"post": {"operationId": "orgs_services_refresh", "summary": "Refresh service API token.", "description": "Refresh service API token.", "parameters": [], "responses": {"200": {"description": "Refreshed the service token successfully.", "schema": {"$ref": "#/definitions/Service"}}, "400": {"description": "The service token cannot be refreshed.", "schema": {"$ref": "#/definitions/ErrorDetail"}}, "404": {"description": "Org namespace not found", "schema": {"$ref": "#/definitions/ErrorDetail"}}, "422": {"description": "Missing or invalid parameters (see detail).", "schema": {"$ref": "#/definitions/ErrorDetail"}}}, "tags": ["orgs"]}, "parameters": [{"name": "org", "in": "path", "required": true, "type": "string"}, {"name": "service", "in": "path", "required": true, "type": "string"}]}, "/orgs/{org}/teams/": {"get": {"operationId": "orgs_teams_list", "summary": "Get the details of all teams within an organization.", "description": "Get the details of all teams within an organization.", "parameters": [{"name": "page", "in": "query", "description": "A page number within the paginated result set.", "required": false, "type": "integer"}, {"name": "page_size", "in": "query", "description": "Number of results to return per page.", "required": false, "type": "integer"}, {"name": "for_user", "in": "query", "description": "Filter for teams that you are a member of.", "required": false, "type": "boolean", "default": false}, {"name": "query", "in": "query", "description": "A search term for querying of teams within an Organization.Available options are: name, slug, user, userslug", "required": false, "type": "string", "default": ""}, {"name": "sort", "in": "query", "description": "A field for sorting objects in ascending or descending order. Use `-` prefix for descending order (e.g., `-name`). Available options: name, members.", "required": false, "type": "string", "default": "name"}], "responses": {"200": {"description": "Retrieved the list of teams within the org", "schema": {"type": "array", "items": {"$ref": "#/definitions/OrganizationTeam"}}}, "404": {"description": "Org namespace not found", "schema": {"$ref": "#/definitions/ErrorDetail"}}, "400": {"description": "Request could not be processed (see detail).", "schema": {"$ref": "#/definitions/ErrorDetail"}}, "422": {"description": "Missing or invalid parameters (see detail).", "schema": {"$ref": "#/definitions/ErrorDetail"}}}, "tags": ["orgs"]}, "post": {"operationId": "orgs_teams_create", "summary": "Create a team for this organization.", "description": "Create a team for this organization.", "parameters": [{"name": "data", "in": "body", "required": false, "schema": {"$ref": "#/definitions/OrganizationTeamRequest"}}], "responses": {"201": {"description": "Team created", "schema": {"$ref": "#/definitions/OrganizationTeam"}}, "400": {"description": "The team cannot be created.", "schema": {"$ref": "#/definitions/ErrorDetail"}}, "422": {"description": "Missing or invalid parameters (see detail).", "schema": {"$ref": "#/definitions/ErrorDetail"}}}, "tags": ["orgs"]}, "parameters": [{"name": "org", "in": "path", "required": true, "type": "string"}]}, "/orgs/{org}/teams/{team}/": {"get": {"operationId": "orgs_teams_read", "summary": "Get the details of a specific team within an organization.", "description": "Get the details of a specific team within an organization.", "parameters": [], "responses": {"200": {"description": "Retrieved the details of the requested team.", "schema": {"$ref": "#/definitions/OrganizationTeam"}}, "404": {"description": "Team not found.", "schema": {"$ref": "#/definitions/ErrorDetail"}}, "400": {"description": "Request could not be processed (see detail).", "schema": {"$ref": "#/definitions/ErrorDetail"}}, "422": {"description": "Missing or invalid parameters (see detail).", "schema": {"$ref": "#/definitions/ErrorDetail"}}}, "tags": ["orgs"]}, "patch": {"operationId": "orgs_teams_partial_update", "summary": "Update a specific team in a organization.", "description": "Update a specific team in a organization.", "parameters": [{"name": "data", "in": "body", "required": false, "schema": {"$ref": "#/definitions/OrganizationTeamRequestPatch"}}], "responses": {"200": {"description": "Updated the specified team.", "schema": {"$ref": "#/definitions/OrganizationTeam"}}, "400": {"description": "The team cannot be edited.", "schema": {"$ref": "#/definitions/ErrorDetail"}}, "404": {"description": "Team not found.", "schema": {"$ref": "#/definitions/ErrorDetail"}}, "422": {"description": "Missing or invalid parameters (see detail).", "schema": {"$ref": "#/definitions/ErrorDetail"}}}, "tags": ["orgs"]}, "delete": {"operationId": "orgs_teams_delete", "summary": "Delete a specific team in a organization.", "description": "Delete a specific team in a organization.", "parameters": [], "responses": {"204": {"description": "Deleted the team successfully."}, "400": {"description": "The team cannot be deleted.", "schema": {"$ref": "#/definitions/ErrorDetail"}}, "404": {"description": "Team not found.", "schema": {"$ref": "#/definitions/ErrorDetail"}}, "422": {"description": "Missing or invalid parameters (see detail).", "schema": {"$ref": "#/definitions/ErrorDetail"}}}, "tags": ["orgs"]}, "parameters": [{"name": "org", "in": "path", "required": true, "type": "string"}, {"name": "team", "in": "path", "required": true, "type": "string"}]}, "/orgs/{org}/teams/{team}/members": {"get": {"operationId": "orgs_teams_members_list", "summary": "List all members for the team.", "description": "List all members for the team.", "parameters": [{"name": "user_kind", "in": "query", "description": "Filter accounts by type. Possible values are 'user' and 'service'. If not provided, only users are returned.", "required": false, "type": "string", "default": ""}], "responses": {"200": {"description": "Retrieved users for the specified team.", "schema": {"$ref": "#/definitions/OrganizationTeamMembers"}}, "404": {"description": "Team not found.", "schema": {"$ref": "#/definitions/ErrorDetail"}}, "400": {"description": "Request could not be processed (see detail).", "schema": {"$ref": "#/definitions/ErrorDetail"}}, "422": {"description": "Missing or invalid parameters (see detail).", "schema": {"$ref": "#/definitions/ErrorDetail"}}}, "tags": ["orgs"]}, "post": {"operationId": "orgs_teams_members_create", "summary": "Add users to a team.", "description": "Add users to a team.", "parameters": [{"name": "data", "in": "body", "required": false, "schema": {"$ref": "#/definitions/OrganizationTeamMembers"}}], "responses": {"201": {"description": "The users were added to the team.", "schema": {"$ref": "#/definitions/OrganizationTeamMembers"}}, "404": {"description": "Team not found.", "schema": {"$ref": "#/definitions/ErrorDetail"}}, "400": {"description": "Request could not be processed (see detail).", "schema": {"$ref": "#/definitions/ErrorDetail"}}, "422": {"description": "Missing or invalid parameters (see detail).", "schema": {"$ref": "#/definitions/ErrorDetail"}}}, "tags": ["orgs"]}, "put": {"operationId": "orgs_teams_members_update", "summary": "Replace all team members.", "description": "Replace all team members.", "parameters": [{"name": "data", "in": "body", "required": false, "schema": {"$ref": "#/definitions/OrganizationTeamMembers"}}], "responses": {"204": {"description": "The team members were replaced.", "schema": {"$ref": "#/definitions/OrganizationTeamMembers"}}, "404": {"description": "Team not found.", "schema": {"$ref": "#/definitions/ErrorDetail"}}, "400": {"description": "Request could not be processed (see detail).", "schema": {"$ref": "#/definitions/ErrorDetail"}}, "422": {"description": "Missing or invalid parameters (see detail).", "schema": {"$ref": "#/definitions/ErrorDetail"}}}, "tags": ["orgs"]}, "parameters": [{"name": "org", "in": "path", "required": true, "type": "string"}, {"name": "team", "in": "path", "required": true, "type": "string"}]}, "/orgs/{org}/vulnerability-policy-violation/": {"get": {"operationId": "orgs_vulnerability-policy-violation_list", "summary": "List all current vulnerability policy violations for this Organization.", "description": "List all current vulnerability policy violations for this Organization.", "parameters": [{"name": "cursor", "in": "query", "description": "The pagination cursor value.", "required": false, "type": "string"}, {"name": "page_size", "in": "query", "description": "Number of results to return per page.", "required": false, "type": "integer"}], "responses": {"200": {"description": "OK", "schema": {"required": ["results"], "type": "object", "properties": {"next": {"type": "string", "format": "uri", "x-nullable": true}, "previous": {"type": "string", "format": "uri", "x-nullable": true}, "results": {"type": "array", "items": {"$ref": "#/definitions/PackageVulnerabilityPolicyViolationLog"}}}, "title": "PackageVulnerabilityPolicyViolationLogCursorPage"}}, "400": {"description": "Request could not be processed (see detail).", "schema": {"$ref": "#/definitions/ErrorDetail"}}, "422": {"description": "Missing or invalid parameters (see detail).", "schema": {"$ref": "#/definitions/ErrorDetail"}}}, "tags": ["orgs"]}, "parameters": [{"name": "org", "in": "path", "required": true, "type": "string"}]}, "/orgs/{org}/vulnerability-policy/": {"get": {"operationId": "orgs_vulnerability-policy_list", "summary": "Get a list of all package vulnerability policies.", "description": "Get a list of all package vulnerability policies.", "parameters": [{"name": "page", "in": "query", "description": "A page number within the paginated result set.", "required": false, "type": "integer"}, {"name": "page_size", "in": "query", "description": "Number of results to return per page.", "required": false, "type": "integer"}], "responses": {"200": {"description": "OK", "schema": {"type": "array", "items": {"$ref": "#/definitions/OrganizationPackageVulnerabilityPolicy"}}}, "400": {"description": "Request could not be processed (see detail).", "schema": {"$ref": "#/definitions/ErrorDetail"}}, "422": {"description": "Missing or invalid parameters (see detail).", "schema": {"$ref": "#/definitions/ErrorDetail"}}}, "tags": ["orgs"]}, "post": {"operationId": "orgs_vulnerability-policy_create", "summary": "Create a package vulnerability policy.", "description": "Create a package vulnerability policy.", "parameters": [{"name": "data", "in": "body", "required": false, "schema": {"$ref": "#/definitions/OrganizationPackageVulnerabilityPolicyRequest"}}], "responses": {"201": {"description": "Created", "schema": {"$ref": "#/definitions/OrganizationPackageVulnerabilityPolicy"}}, "400": {"description": "Request could not be processed (see detail).", "schema": {"$ref": "#/definitions/ErrorDetail"}}, "422": {"description": "Missing or invalid parameters (see detail).", "schema": {"$ref": "#/definitions/ErrorDetail"}}}, "tags": ["orgs"]}, "parameters": [{"name": "org", "in": "path", "required": true, "type": "string"}]}, "/orgs/{org}/vulnerability-policy/{policy_slug_perm}/evaluation/": {"get": {"operationId": "orgs_vulnerability-policy_evaluation_list", "summary": "List evaluation requests for this policy.", "description": "List evaluation requests for this policy.", "parameters": [{"name": "page", "in": "query", "description": "A page number within the paginated result set.", "required": false, "type": "integer"}, {"name": "page_size", "in": "query", "description": "Number of results to return per page.", "required": false, "type": "integer"}], "responses": {"200": {"description": "OK", "schema": {"type": "array", "items": {"$ref": "#/definitions/PackageVulnerabilityPolicyEvaluationRequest"}}}, "400": {"description": "Request could not be processed (see detail).", "schema": {"$ref": "#/definitions/ErrorDetail"}}, "422": {"description": "Missing or invalid parameters (see detail).", "schema": {"$ref": "#/definitions/ErrorDetail"}}}, "tags": ["orgs"]}, "post": {"operationId": "orgs_vulnerability-policy_evaluation_create", "summary": "Create an evaluation request for this policy.", "description": "Create an evaluation request for this policy.", "parameters": [{"name": "data", "in": "body", "required": false, "schema": {"$ref": "#/definitions/PackageVulnerabilityPolicyEvaluationRequestRequest"}}], "responses": {"201": {"description": "Created", "schema": {"$ref": "#/definitions/PackageVulnerabilityPolicyEvaluationRequest"}}, "400": {"description": "Request could not be processed (see detail).", "schema": {"$ref": "#/definitions/ErrorDetail"}}, "422": {"description": "Missing or invalid parameters (see detail).", "schema": {"$ref": "#/definitions/ErrorDetail"}}}, "tags": ["orgs"]}, "parameters": [{"name": "org", "in": "path", "required": true, "type": "string"}, {"name": "policy_slug_perm", "in": "path", "required": true, "type": "string"}]}, "/orgs/{org}/vulnerability-policy/{policy_slug_perm}/evaluation/{slug_perm}/": {"get": {"operationId": "orgs_vulnerability-policy_evaluation_read", "summary": "Retrieve an evaluation request for this policy.", "description": "Retrieve an evaluation request for this policy.", "parameters": [], "responses": {"200": {"description": "OK", "schema": {"$ref": "#/definitions/PackageVulnerabilityPolicyEvaluationRequest"}}, "400": {"description": "Request could not be processed (see detail).", "schema": {"$ref": "#/definitions/ErrorDetail"}}, "422": {"description": "Missing or invalid parameters (see detail).", "schema": {"$ref": "#/definitions/ErrorDetail"}}}, "tags": ["orgs"]}, "parameters": [{"name": "org", "in": "path", "required": true, "type": "string"}, {"name": "policy_slug_perm", "in": "path", "required": true, "type": "string"}, {"name": "slug_perm", "in": "path", "required": true, "type": "string"}]}, "/orgs/{org}/vulnerability-policy/{slug_perm}/": {"get": {"operationId": "orgs_vulnerability-policy_read", "summary": "Get a package vulnerability policy.", "description": "Get a package vulnerability policy.", "parameters": [], "responses": {"200": {"description": "OK", "schema": {"$ref": "#/definitions/OrganizationPackageVulnerabilityPolicy"}}, "400": {"description": "Request could not be processed (see detail).", "schema": {"$ref": "#/definitions/ErrorDetail"}}, "422": {"description": "Missing or invalid parameters (see detail).", "schema": {"$ref": "#/definitions/ErrorDetail"}}}, "tags": ["orgs"]}, "put": {"operationId": "orgs_vulnerability-policy_update", "summary": "Update a package vulnerability policy.", "description": "Update a package vulnerability policy.", "parameters": [{"name": "data", "in": "body", "required": false, "schema": {"$ref": "#/definitions/OrganizationPackageVulnerabilityPolicyRequest"}}], "responses": {"200": {"description": "OK", "schema": {"$ref": "#/definitions/OrganizationPackageVulnerabilityPolicy"}}, "400": {"description": "Request could not be processed (see detail).", "schema": {"$ref": "#/definitions/ErrorDetail"}}, "422": {"description": "Missing or invalid parameters (see detail).", "schema": {"$ref": "#/definitions/ErrorDetail"}}}, "tags": ["orgs"]}, "patch": {"operationId": "orgs_vulnerability-policy_partial_update", "summary": "Partially update a package vulnerability policy.", "description": "Partially update a package vulnerability policy.", "parameters": [{"name": "data", "in": "body", "required": false, "schema": {"$ref": "#/definitions/OrganizationPackageVulnerabilityPolicyRequestPatch"}}], "responses": {"200": {"description": "OK", "schema": {"$ref": "#/definitions/OrganizationPackageVulnerabilityPolicy"}}, "400": {"description": "Request could not be processed (see detail).", "schema": {"$ref": "#/definitions/ErrorDetail"}}, "422": {"description": "Missing or invalid parameters (see detail).", "schema": {"$ref": "#/definitions/ErrorDetail"}}}, "tags": ["orgs"]}, "delete": {"operationId": "orgs_vulnerability-policy_delete", "summary": "Delete a package vulnerability policy.", "description": "Delete a package vulnerability policy.", "parameters": [], "responses": {"204": {"description": "No Content"}, "400": {"description": "Request could not be processed (see detail).", "schema": {"$ref": "#/definitions/ErrorDetail"}}, "422": {"description": "Missing or invalid parameters (see detail).", "schema": {"$ref": "#/definitions/ErrorDetail"}}}, "tags": ["orgs"]}, "parameters": [{"name": "org", "in": "path", "required": true, "type": "string"}, {"name": "slug_perm", "in": "path", "required": true, "type": "string"}]}, "/packages/{owner}/{repo}/": {"get": {"operationId": "packages_list", "summary": "Get a list of all packages associated with repository.", "description": "Get a list of all packages associated with repository.", "parameters": [{"name": "page", "in": "query", "description": "A page number within the paginated result set.", "required": false, "type": "integer"}, {"name": "page_size", "in": "query", "description": "Number of results to return per page.", "required": false, "type": "integer"}, {"name": "query", "in": "query", "description": "A search term for querying names, filenames, versions, distributions, architectures, formats or statuses of packages.", "required": false, "type": "string", "default": ""}, {"name": "sort", "in": "query", "description": "A field for sorting objects in ascending or descending order.", "required": false, "type": "string", "default": "-date"}], "responses": {"200": {"description": "Retrieved the list of packages", "schema": {"type": "array", "items": {"$ref": "#/definitions/Package"}}}, "400": {"description": "Request could not be processed (see detail).", "schema": {"$ref": "#/definitions/ErrorDetail"}}, "422": {"description": "Missing or invalid parameters (see detail).", "schema": {"$ref": "#/definitions/ErrorDetail"}}}, "tags": ["packages"], "x-simplified": "fields[packages]=stage_str,stage_updated_at,status_reason,status_str,status_updated_at,is_sync_completed,is_sync_failed,is_sync_in_progress,is_copyable,is_deleteable,is_downloadable,is_moveable,is_quarantined,sync_finished_at,sync_progress,distro,distro_version,downloads,cdn_url,filename,format,freeable_storage,license,name,num_files,package_type,policy_violated,repository,security_scan_status,security_scan_completed_at,size,slug,slug_perm,uploaded_at,uploader,version,vulnerability_scan_results_url&fields[distributions]=slug,name"}, "parameters": [{"name": "owner", "in": "path", "required": true, "type": "string"}, {"name": "repo", "in": "path", "required": true, "type": "string"}]}, "/packages/{owner}/{repo}/groups/": {"get": {"operationId": "packages_groups_list", "summary": "Return a list of Package Groups in a repository.", "description": "Return a list of Package Groups in a repository.", "parameters": [{"name": "page", "in": "query", "description": "A page number within the paginated result set.", "required": false, "type": "integer"}, {"name": "page_size", "in": "query", "description": "Number of results to return per page.", "required": false, "type": "integer"}, {"name": "group_by", "in": "query", "description": "A field to group packages by. Available options: name, backend_kind.", "required": false, "type": "string", "default": "name"}, {"name": "hide_subcomponents", "in": "query", "description": "Whether to hide packages which are subcomponents of another package in the results", "required": false, "type": "boolean", "default": false}, {"name": "query", "in": "query", "description": "A search term for querying names, filenames, versions, distributions, architectures, formats, or statuses of packages.", "required": false, "type": "string", "default": ""}, {"name": "sort", "in": "query", "description": "A field for sorting objects in ascending or descending order. Use `-` prefix for descending order (e.g., `-name`). Available options: name, count, num_downloads, size, last_push, backend_kind.", "required": false, "type": "string", "default": "name"}], "responses": {"200": {"description": "Retrieved the list of package groups.", "schema": {"required": ["results"], "type": "object", "properties": {"results": {"type": "array", "items": {"$ref": "#/definitions/PackageGroup"}}}}}, "404": {"description": "Owner namespace or repository not found", "schema": {"$ref": "#/definitions/ErrorDetail"}}, "400": {"description": "Request could not be processed (see detail).", "schema": {"$ref": "#/definitions/ErrorDetail"}}, "422": {"description": "Missing or invalid parameters (see detail).", "schema": {"$ref": "#/definitions/ErrorDetail"}}}, "tags": ["packages"]}, "parameters": [{"name": "owner", "in": "path", "required": true, "type": "string"}, {"name": "repo", "in": "path", "required": true, "type": "string"}]}, "/packages/{owner}/{repo}/upload/alpine/": {"post": {"operationId": "packages_upload_alpine", "summary": "Create a new Alpine package", "description": "Create a new Alpine package", "parameters": [{"name": "data", "in": "body", "required": false, "schema": {"$ref": "#/definitions/AlpinePackageUploadRequest"}}], "responses": {"201": {"description": "Upload acknowledged and queued for synchronization.", "schema": {"$ref": "#/definitions/AlpinePackageUpload"}}, "404": {"description": "Namespace (owner) or repository not found", "schema": {"$ref": "#/definitions/ErrorDetail"}}, "400": {"description": "Request could not be processed (see detail).", "schema": {"$ref": "#/definitions/ErrorDetail"}}, "422": {"description": "Missing or invalid parameters (see detail).", "schema": {"$ref": "#/definitions/ErrorDetail"}}}, "tags": ["packages"]
[...]
